/* line 17, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "ColaborateThinRegular";
  src: url('../font/ColabThi-webfont.eot');
  src: url('../font/ColabThi-webfont.eot?iefix') format('eot'), url('../font/ColabThi-webfont.woff') format('woff'), url('../font/ColabThi-webfont.ttf') format('truetype'), url('../font/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
}

@font-face {
  font-family: "ColaborateLightRegular";
  src: url('../font/ColabLig-webfont.eot');
  src: url('../font/ColabLig-webfont.eot?iefix') format('eot'), url('../font/ColabLig-webfont.woff') format('woff'), url('../font/ColabLig-webfont.ttf') format('truetype'), url('../font/ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
}

@font-face {
  font-family: "ColaborateRegular";
  src: url('../font/ColabReg-webfont.eot');
  src: url('../font/ColabReg-webfont.eot?iefix') format('eot'), url('../font/ColabReg-webfont.woff') format('woff'), url('../font/ColabReg-webfont.ttf') format('truetype'), url('../font/ColabReg-webfont.svg#ColaborateRegular') format('svg');
}

@font-face {
  font-family: "ColaborateMediumRegular";
  src: url('../font/ColabMed-webfont.eot');
  src: url('../font/ColabMed-webfont.eot?iefix') format('eot'), url('../font/ColabMed-webfont.woff') format('woff'), url('../font/ColabMed-webfont.ttf') format('truetype'), url('../font/ColabMed-webfont.svg#ColaborateMediumRegular') format('svg');
}

@font-face {
  font-family: "ColaborateBoldRegular";
  src: url('../font/ColabBol-webfont.eot');
  src: url('../font/ColabBol-webfont.eot?iefix') format('eot'), url('../font/ColabBol-webfont.woff') format('woff'), url('../font/ColabBol-webfont.ttf') format('truetype'), url('../font/ColabBol-webfont.svg#ColaborateBoldRegular') format('svg');
}

@font-face {
  font-family: "DroidSansRegular";
  src: url('../font/DroidSans-webfont.eot');
  src: url('../font/DroidSans-webfont.eot?iefix') format('eot'), url('../font/DroidSans-webfont.woff') format('woff'), url('../font/DroidSans-webfont.ttf') format('truetype'), url('../font/DroidSans-webfont.svg#DroidSansRegular') format('svg');
}

@font-face {
  font-family: "DroidSansBold";
  src: url('../font/DroidSans-Bold-webfont.eot');
  src: url('../font/DroidSans-Bold-webfont.eot?iefix') format('eot'), url('../font/DroidSans-Bold-webfont.woff') format('woff'), url('../font/DroidSans-Bold-webfont.ttf') format('truetype'), url('../font/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
}

@font-face {
  font-family: "Museo300";
  src: url('../font/Museo300-Regular-webfont.eot');
  src: url('../font/Museo300-Regular-webfont.eot?iefix') format('eot'), url('../font/Museo300-Regular-webfont.woff') format('woff'), url('../font/Museo300-Regular-webfont.ttf') format('truetype'), url('../font/Museo300-Regular-webfont.svg#Museo300') format('svg');
}

@font-face {
  font-family: "Museo500";
  src: url('../font/Museo500-Regular-webfont.eot');
  src: url('../font/Museo500-Regular-webfont.eot?iefix') format('eot'), url('../font/Museo500-Regular-webfont.woff') format('woff'), url('../font/Museo500-Regular-webfont.ttf') format('truetype'), url('../font/Museo500-Regular-webfont.svg#Museo500') format('svg');
}

@font-face {
  font-family: "Museo700";
  src: url('../font/Museo700-Regular-webfont.eot');
  src: url('../font/Museo700-Regular-webfont.eot?iefix') format('eot'), url('../font/Museo700-Regular-webfont.woff') format('woff'), url('../font/Museo700-Regular-webfont.ttf') format('truetype'), url('../font/Museo700-Regular-webfont.svg#Museo700') format('svg');
}

@font-face {
  font-family: "MuseoSans500Italic";
  src: url('../font/MuseoSans_500_Italic-webfont.eot');
  src: url('../font/MuseoSans_500_Italic-webfont.eot?iefix') format('eot'), url('../font/MuseoSans_500_Italic-webfont.woff') format('woff'), url('../font/MuseoSans_500_Italic-webfont.ttf') format('truetype'), url('../font/MuseoSans_500_Italic-webfont.svg#MuseoSans500Italic') format('svg');
}

@font-face {
  font-family: "MuseoSans500";
  src: url('../font/MuseoSans_500-webfont.eot');
  src: url('../font/MuseoSans_500-webfont.eot?iefix') format('eot'), url('../font/MuseoSans_500-webfont.woff') format('woff'), url('../font/MuseoSans_500-webfont.ttf') format('truetype'), url('../font/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
}

@font-face {
  font-family: "MuseoSlab500";
  src: url('../font/Museo_Slab_500-webfont.eot');
  src: url('../font/Museo_Slab_500-webfont.eot?iefix') format('eot'), url('../font/Museo_Slab_500-webfont.woff') format('woff'), url('../font/Museo_Slab_500-webfont.ttf') format('truetype'), url('../font/Museo_Slab_500-webfont.svg#MuseoSlab500') format('svg');
}

@font-face {
  font-family: "MuseoSlab500Italic";
  src: url('../font/Museo_Slab_500italic-webfont.eot');
  src: url('../font/Museo_Slab_500italic-webfont.eot?iefix') format('eot'), url('../font/Museo_Slab_500italic-webfont.woff') format('woff'), url('../font/Museo_Slab_500italic-webfont.ttf') format('truetype'), url('../font/Museo_Slab_500italic-webfont.svg#MuseoSlab500Italic') format('svg');
}

@font-face {
  font-family: "CallunaRegular";
  src: url('../font/Calluna-Regular-webfont.eot');
  src: url('../font/Calluna-Regular-webfont.eot?iefix') format('eot'), url('../font/Calluna-Regular-webfont.woff') format('woff'), url('../font/Calluna-Regular-webfont.ttf') format('truetype'), url('../font/Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
}

@font-face {
  font-family: "CallunaSansRegular";
  src: url('../font/CallunaSansRegular-webfont.eot');
  src: url('../font/CallunaSansRegular-webfont.eot?iefix') format('eot'), url('../font/CallunaSansRegular-webfont.woff') format('woff'), url('../font/CallunaSansRegular-webfont.ttf') format('truetype'), url('../font/CallunaSansRegular-webfont.svg#CallunaSansRegular') format('svg');
}

@font-face {
  font-family: "FertigoProRegular";
  src: url('../font/Fertigo_PRO-webfont.eot');
  src: url('../font/Fertigo_PRO-webfont.eot?iefix') format('eot'), url('../font/Fertigo_PRO-webfont.woff') format('woff'), url('../font/Fertigo_PRO-webfont.ttf') format('truetype'), url('../font/Fertigo_PRO-webfont.svg#FertigoProRegular') format('svg');
}

/* a 12-column grid */
/* each column is 4em wide */
/* 1em gutters between columns */
/* 1em padding at the edges of the page as well */
/* line 53, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 87.5%;
  line-height: 1.714em;
}

/* line 57, ../../../../../../.virtualenvs/sts/gems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 14px;
}

/* line 7, ../../sass/frontend.scss */
::-moz-selection {
  background: #ce5c00;
  color: #fff;
  text-shadow: none;
}

/* line 8, ../../sass/frontend.scss */
::selection {
  background: #ce5c00;
  color: #fff;
  text-shadow: none;
}

/* line 10, ../../sass/frontend.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "DroidSansBold";
}

/* line 14, ../../sass/frontend.scss */
h1 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 17, ../../sass/frontend.scss */
body {
  font-family: "DroidSans";
}

/* line 20, ../../sass/frontend.scss */
table {
  font-size: 1em;
  line-height: 1.5em;
  width: 100%;
  margin-top: 1.5em;
}

/* line 25, ../../sass/frontend.scss */
th, td {
  padding: 4px 1em;
}

/* line 28, ../../sass/frontend.scss */
th {
  font-family: "DroidSansBold";
}

/* line 31, ../../sass/frontend.scss */
thead th {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b54c1e), color-stop(70%, #893a17), color-stop(98%, #9f431a));
  background-image: -webkit-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -moz-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -o-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -ms-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  color: #fff;
  border-color: #ddd;
}
/* line 39, ../../sass/frontend.scss */
thead th:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 42, ../../sass/frontend.scss */
thead th:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 46, ../../sass/frontend.scss */
tr.odd {
  background: #eee;
}

/* line 50, ../../sass/frontend.scss */
#container {
  margin: 0;
}

/* line 58, ../../sass/frontend.scss */
.dataTables_length {
  float: left;
}

/* line 61, ../../sass/frontend.scss */
.dataTables_filter {
  float: right;
}

/* line 66, ../../sass/frontend.scss */
.tablecontainer {
  border: 1px solid #ddd;
  position: relative;
  border: 1px solid #efefef;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
}
/* line 27, ../../../toolbox/sass/_pageeffects.scss */
.tablecontainer:before, .tablecontainer:after {
  content: '';
  position: absolute;
  z-index: -2;
  width: 70%;
  max-width: 200px;
  height: 20px;
  bottom: 15px;
  left: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -moz-transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
/* line 41, ../../../toolbox/sass/_pageeffects.scss */
.tablecontainer:after {
  left: auto;
  right: 8px;
  -moz-transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}
/* line 49, ../../../toolbox/sass/_ribbon.scss */
.tablecontainer .ribbon div.ribbon-wrapper {
  height: 3em;
  width: 400px;
  position: relative;
  z-index: 3;
}
/* line 63, ../../../toolbox/sass/_ribbon.scss */
.tablecontainer .ribbon div.ribbon-front {
  width: 420px;
  line-height: 2.25em;
  text-indent: 20px;
  background-color: #b54c1e;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  left: -20px;
}
/* line 88, ../../../toolbox/sass/_ribbon.scss */
.tablecontainer .ribbon div.ribbon-edge-left-top,
.tablecontainer .ribbon div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -20px;
  border-style: solid;
}
/* line 91, ../../../toolbox/sass/_ribbon.scss */
.tablecontainer .ribbon div.ribbon-back-left {
  width: 0;
  height: 2.25em;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #b54c1e;
  left: -10px;
}
/* line 133, ../../../toolbox/sass/_ribbon.scss */
.tablecontainer .ribbon div.ribbon-edge-left-bottom {
  top: 2.25em;
  border-width: 0 10px 0.75em 0;
  border-color: transparent #5e270f transparent transparent;
}
/* line 138, ../../../toolbox/sass/_ribbon.scss */
.tablecontainer .ribbon div.ribbon-back-left {
  top: 0.75em;
}
/* line 73, ../../sass/frontend.scss */
.tablecontainer .ribbon .ribbon-front {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5c00), color-stop(70%, #cc4a00), color-stop(98%, #e65300));
  background-image: -webkit-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: -moz-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: -o-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: -ms-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 4px 4px 4px 0;
  -webkit-border-radius: 4px 4px 4px 0;
  -o-border-radius: 4px 4px 4px 0;
  -ms-border-radius: 4px 4px 4px 0;
  -khtml-border-radius: 4px 4px 4px 0;
  border-radius: 4px 4px 4px 0;
}

/* line 81, ../../sass/frontend.scss */
:focus {
  outline: none;
}

/* line 84, ../../sass/frontend.scss */
a {
  text-decoration: none;
}

/* line 90, ../../sass/frontend.scss */
input[type='button'],
input[type='submit'] {
  display: block;
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.875em;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -o-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: "DroidSansBold";
  background-color: #ff5c00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5c00), color-stop(70%, #cc4a00), color-stop(98%, #e65300));
  background-image: -webkit-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: -moz-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: -o-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: -ms-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-style: none;
  padding: 0 1em;
  border: none;
}
/* line 76, ../../../toolbox/sass/_pageeffects.scss */
input[type='button']:active,
input[type='submit']:active {
  top: 1px;
  left: 1px;
  -moz-box-shadow: 0px 0px 3px #666666;
  -webkit-box-shadow: 0px 0px 3px #666666;
  -o-box-shadow: 0px 0px 3px #666666;
  box-shadow: 0px 0px 3px #666666;
}
/* line 95, ../../../toolbox/sass/_pageeffects.scss */
input[type='button']:hover,
input[type='submit']:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(70%, #cc4a00), color-stop(98%, #cc4a00));
  background-image: -webkit-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -moz-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -o-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -ms-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
}

/* line 98, ../../sass/frontend.scss */
div[role=main] {
  padding-left: 230px;
}

/* line 101, ../../sass/frontend.scss */
#nav {
  float: left;
  width: 200px;
  overflow: hidden;
  display: inline;
  padding-left: 20px;
}
/* line 107, ../../sass/frontend.scss */
#nav ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 111, ../../sass/frontend.scss */
#messages, #main {
  min-width: 950px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
}

/* line 122, ../../sass/frontend.scss */
#messages .errorlist,
ul.errorlist,
#messages .error {
  font-size: 0.875em;
  line-height: 1.714em;
  font-family: "DroidSansBold";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.786em;
  margin-bottom: 0.857em;
  margin-top: 0.857em;
  border-color: red;
  background-color: #ffcccc;
  color: #990000;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 126, ../../sass/frontend.scss */
form th {
  width: 180px;
}

/* line 130, ../../sass/frontend.scss */
tr.fielderror th {
  color: #990000;
}
/* line 133, ../../sass/frontend.scss */
tr.fielderror th, tr.fielderror td {
  background-color: #ffe0e0;
  border-top: 1px solid #990000;
  border-bottom: 1px solid #990000;
}
/* line 138, ../../sass/frontend.scss */
tr.fielderror .first {
  border-left: 1px solid #990000;
}
/* line 141, ../../sass/frontend.scss */
tr.fielderror .last {
  border-right: 1px solid #990000;
}

/* line 145, ../../sass/frontend.scss */
#messages .info {
  font-size: 0.875em;
  line-height: 1.714em;
  font-family: "DroidSansBold";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.786em;
  margin-bottom: 0.857em;
  margin-top: 0.857em;
  border-color: yellow;
  background-color: #ffffcc;
  color: #999900;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 151, ../../sass/frontend.scss */
.dataTables_wrapper table,
.dataTables_info,
.dataTables_paginate {
  float: left;
}

/* line 155, ../../sass/frontend.scss */
#nav {
  -moz-box-shadow: 3px 0 3px #dddddd;
  -webkit-box-shadow: 3px 0 3px #dddddd;
  -o-box-shadow: 3px 0 3px #dddddd;
  box-shadow: 3px 0 3px #dddddd;
  background-color: #333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #666666));
  background-image: -webkit-linear-gradient(top, #333333, #666666);
  background-image: -moz-linear-gradient(top, #333333, #666666);
  background-image: -o-linear-gradient(top, #333333, #666666);
  background-image: -ms-linear-gradient(top, #333333, #666666);
  background-image: linear-gradient(top, #333333, #666666);
  color: white;
}
/* line 162, ../../sass/frontend.scss */
#nav a {
  color: white;
}
/* line 166, ../../sass/frontend.scss */
#nav .title {
  font-size: 1.625em;
  line-height: 1.846em;
  padding-top: 1.5em;
  padding-bottom: 0em;
  text-shadow: rgba(255, 255, 255, 0.2) -1px -1px 2px, rgba(0, 0, 0, 0.2) 1px 1px 2px;
}
/* line 176, ../../sass/frontend.scss */
#nav .message {
  font-size: 0.75em;
  line-height: 2em;
}
/* line 180, ../../sass/frontend.scss */
#nav .message .name {
  font-family: "DroidSansBold";
}
/* line 183, ../../sass/frontend.scss */
#nav .message .signout {
  margin-bottom: 1.5em;
  text-align: right;
}

/* line 196, ../../sass/frontend.scss */
#dashnav .ui-accordion-content,
#mainnav .ui-accordion-content {
  border: 0;
  color: red;
  background: inherit;
}
/* line 201, ../../sass/frontend.scss */
#dashnav a,
#mainnav a {
  display: block;
}
/* line 204, ../../sass/frontend.scss */
#dashnav > li,
#mainnav > li {
  text-align: right;
}
/* line 207, ../../sass/frontend.scss */
#dashnav > li > a,
#mainnav > li > a {
  display: block;
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  line-height: 2em;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -o-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: "DroidSansBold";
  background-color: #ff5c00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5c00), color-stop(70%, #cc4a00), color-stop(98%, #e65300));
  background-image: -webkit-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: -moz-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: -o-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: -ms-linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  background-image: linear-gradient(top, #ff5c00, #cc4a00 70%, #e65300 98%);
  margin-bottom: 0.75em;
  padding-right: 1em;
}
/* line 76, ../../../toolbox/sass/_pageeffects.scss */
#dashnav > li > a:active,
#mainnav > li > a:active {
  top: 1px;
  left: 1px;
  -moz-box-shadow: 0px 0px 3px #666666;
  -webkit-box-shadow: 0px 0px 3px #666666;
  -o-box-shadow: 0px 0px 3px #666666;
  box-shadow: 0px 0px 3px #666666;
}
/* line 95, ../../../toolbox/sass/_pageeffects.scss */
#dashnav > li > a:hover,
#mainnav > li > a:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(70%, #cc4a00), color-stop(98%, #cc4a00));
  background-image: -webkit-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -moz-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -o-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -ms-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
}
/* line 211, ../../sass/frontend.scss */
#dashnav > li > a.hover-header,
#mainnav > li > a.hover-header {
  padding-right: 2em;
}
/* line 218, ../../sass/frontend.scss */
#dashnav > li > ul a,
#mainnav > li > ul a {
  padding-right: 1em;
  color: #bbbbbb;
  font-family: "DroidSansBold";
}
/* line 222, ../../sass/frontend.scss */
#dashnav > li > ul a:hover,
#mainnav > li > ul a:hover {
  color: white;
}

/* line 230, ../../sass/frontend.scss */
.info {
  font-size: 0.875em;
  line-height: 1.714em;
  font-family: "DroidSansBold";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.786em;
  margin-bottom: 0.857em;
  margin-top: 0.857em;
  border-color: red;
  background-color: #ffcccc;
  color: #990000;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 235, ../../sass/frontend.scss */
td.fielderror {
  color: red;
}

/* line 239, ../../sass/frontend.scss */
fieldset {
  border: 1px solid #aaa;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.042%;
  padding-right: 1.042%;
  width: 41.048%;
}

/* line 253, ../../sass/frontend.scss */
#submit #field_notes #id_sub-notes {
  height: 6em;
}

/* line 284, ../../sass/frontend.scss */
form#new-client ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 292, ../../sass/frontend.scss */
#signin {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #999999), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(top left, #999999, #333333);
  background-image: -moz-linear-gradient(top left, #999999, #333333);
  background-image: -o-linear-gradient(top left, #999999, #333333);
  background-image: -ms-linear-gradient(top left, #999999, #333333);
  background-image: linear-gradient(top left, #999999, #333333);
  height: 100%;
  width: 100%;
  position: fixed;
}
/* line 297, ../../sass/frontend.scss */
#signin form {
  padding: 10% 0;
}
/* line 299, ../../sass/frontend.scss */
#signin form fieldset {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0.75em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  border: 1px solid #efefef;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  background: #fff;
  position: relative;
  border: 1px solid #efefef;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  float: none;
  display: block;
  margin: 0 auto;
}
/* line 27, ../../../toolbox/sass/_pageeffects.scss */
#signin form fieldset:before, #signin form fieldset:after {
  content: '';
  position: absolute;
  z-index: -2;
  width: 70%;
  max-width: 200px;
  height: 20px;
  bottom: 15px;
  left: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -moz-transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
/* line 41, ../../../toolbox/sass/_pageeffects.scss */
#signin form fieldset:after {
  left: auto;
  right: 8px;
  -moz-transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}
/* line 49, ../../../toolbox/sass/_ribbon.scss */
#signin form fieldset .ribbon div.ribbon-wrapper {
  height: 3em;
  width: 200px;
  position: relative;
  z-index: 3;
}
/* line 63, ../../../toolbox/sass/_ribbon.scss */
#signin form fieldset .ribbon div.ribbon-front {
  width: 226px;
  line-height: 2.25em;
  text-indent: 26px;
  background-color: #b54c1e;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  left: -26px;
}
/* line 88, ../../../toolbox/sass/_ribbon.scss */
#signin form fieldset .ribbon div.ribbon-edge-left-top, #signin form fieldset .ribbon div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -26px;
  border-style: solid;
}
/* line 91, ../../../toolbox/sass/_ribbon.scss */
#signin form fieldset .ribbon div.ribbon-back-left {
  width: 0;
  height: 2.25em;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #b54c1e;
  left: -16px;
}
/* line 133, ../../../toolbox/sass/_ribbon.scss */
#signin form fieldset .ribbon div.ribbon-edge-left-bottom {
  top: 2.25em;
  border-width: 0 10px 0.75em 0;
  border-color: transparent #5e270f transparent transparent;
}
/* line 138, ../../../toolbox/sass/_ribbon.scss */
#signin form fieldset .ribbon div.ribbon-back-left {
  top: 0.75em;
}
/* line 90, ../../sass/_base.scss */
#signin form fieldset .ribbon .ribbon-front {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b54c1e), color-stop(70%, #893a17), color-stop(98%, #9f431a));
  background-image: -webkit-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -moz-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -o-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -ms-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 4px 4px 4px 0;
  -webkit-border-radius: 4px 4px 4px 0;
  -o-border-radius: 4px 4px 4px 0;
  -ms-border-radius: 4px 4px 4px 0;
  -khtml-border-radius: 4px 4px 4px 0;
  border-radius: 4px 4px 4px 0;
}
/* line 27, ../../../toolbox/sass/_pageeffects.scss */
#signin form fieldset:before, #signin form fieldset:after {
  content: '';
  position: absolute;
  z-index: -2;
  width: 70%;
  max-width: 200px;
  height: 20px;
  bottom: 15px;
  left: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -moz-transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
/* line 41, ../../../toolbox/sass/_pageeffects.scss */
#signin form fieldset:after {
  left: auto;
  right: 8px;
  -moz-transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}

/* line 313, ../../sass/frontend.scss */
#dashboard .section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0.75em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  border: 1px solid #efefef;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
}
/* line 27, ../../../toolbox/sass/_pageeffects.scss */
#dashboard .section:before, #dashboard .section:after {
  content: '';
  position: absolute;
  z-index: -2;
  width: 70%;
  max-width: 200px;
  height: 20px;
  bottom: 15px;
  left: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -moz-transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
/* line 41, ../../../toolbox/sass/_pageeffects.scss */
#dashboard .section:after {
  left: auto;
  right: 8px;
  -moz-transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}
/* line 49, ../../../toolbox/sass/_ribbon.scss */
#dashboard .section .ribbon div.ribbon-wrapper {
  height: 3em;
  width: 200px;
  position: relative;
  z-index: 3;
}
/* line 63, ../../../toolbox/sass/_ribbon.scss */
#dashboard .section .ribbon div.ribbon-front {
  width: 226px;
  line-height: 2.25em;
  text-indent: 26px;
  background-color: #b54c1e;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  left: -26px;
}
/* line 88, ../../../toolbox/sass/_ribbon.scss */
#dashboard .section .ribbon div.ribbon-edge-left-top, #dashboard .section .ribbon div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -26px;
  border-style: solid;
}
/* line 91, ../../../toolbox/sass/_ribbon.scss */
#dashboard .section .ribbon div.ribbon-back-left {
  width: 0;
  height: 2.25em;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #b54c1e;
  left: -16px;
}
/* line 133, ../../../toolbox/sass/_ribbon.scss */
#dashboard .section .ribbon div.ribbon-edge-left-bottom {
  top: 2.25em;
  border-width: 0 10px 0.75em 0;
  border-color: transparent #5e270f transparent transparent;
}
/* line 138, ../../../toolbox/sass/_ribbon.scss */
#dashboard .section .ribbon div.ribbon-back-left {
  top: 0.75em;
}
/* line 90, ../../sass/_base.scss */
#dashboard .section .ribbon .ribbon-front {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b54c1e), color-stop(70%, #893a17), color-stop(98%, #9f431a));
  background-image: -webkit-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -moz-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -o-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -ms-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 4px 4px 4px 0;
  -webkit-border-radius: 4px 4px 4px 0;
  -o-border-radius: 4px 4px 4px 0;
  -ms-border-radius: 4px 4px 4px 0;
  -khtml-border-radius: 4px 4px 4px 0;
  border-radius: 4px 4px 4px 0;
}
/* line 318, ../../sass/frontend.scss */
#dashboard table {
  table-layout: fixed;
}
/* line 321, ../../sass/frontend.scss */
#dashboard td, #dashboard th {
  white-space: nowrap;
}

/* line 328, ../../sass/frontend.scss */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  z-index: 9999 !important;
}

/* line 332, ../../sass/frontend.scss */
#submission-detail #submission-notes {
  float: right;
}
/* line 334, ../../sass/frontend.scss */
#submission-detail #submission-notes ul {
  overflow: auto;
  font-size: 0.75em;
  line-height: 1em;
  height: 15em;
}
/* line 338, ../../sass/frontend.scss */
#submission-detail #submission-notes ul li {
  border-bottom: 1px solid #ddd;
}
/* line 342, ../../sass/frontend.scss */
#submission-detail #submission-notes ul li .author {
  display: block;
  float: right;
  font-weight: bold;
}
/* line 349, ../../sass/frontend.scss */
#submission-detail #submission-notes .newnote {
  font-size: 1.125em;
  line-height: 2em;
  padding-right: 10px;
  float: right;
}
/* line 356, ../../sass/frontend.scss */
#submission-detail #submission-info {
  display: inline;
  float: left;
  overflow: hidden;
  width: 49.466%;
  margin-right: 1.042%;
}
/* line 360, ../../sass/frontend.scss */
#submission-detail #submission-notes {
  display: inline;
  float: left;
  overflow: hidden;
  width: 49.466%;
  margin-right: 0;
}
/* line 365, ../../sass/frontend.scss */
#submission-detail #libprep {
  overflow: hidden;
  *zoom: 1;
  float: left;
}

/* line 373, ../../sass/frontend.scss */
#prep-sequencing .row_selected td {
  background-color: #bbb;
}

/* line 388, ../../sass/frontend.scss */
form#new-flowcell {
  border: 1px solid #ddd;
  padding: 10px;
}
/* line 394, ../../sass/frontend.scss */
form#new-flowcell table {
  margin-top: 1.5em;
}
/* line 397, ../../sass/frontend.scss */
form#new-flowcell input[type='submit'] {
  float: right;
}

/* line 402, ../../sass/frontend.scss */
#seqsamples {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0.75em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  border: 1px solid #efefef;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
}
/* line 27, ../../../toolbox/sass/_pageeffects.scss */
#seqsamples:before, #seqsamples:after {
  content: '';
  position: absolute;
  z-index: -2;
  width: 70%;
  max-width: 200px;
  height: 20px;
  bottom: 15px;
  left: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -moz-transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
/* line 41, ../../../toolbox/sass/_pageeffects.scss */
#seqsamples:after {
  left: auto;
  right: 8px;
  -moz-transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}
/* line 49, ../../../toolbox/sass/_ribbon.scss */
#seqsamples .ribbon div.ribbon-wrapper {
  height: 3em;
  width: 200px;
  position: relative;
  z-index: 3;
}
/* line 63, ../../../toolbox/sass/_ribbon.scss */
#seqsamples .ribbon div.ribbon-front {
  width: 226px;
  line-height: 2.25em;
  text-indent: 26px;
  background-color: #b54c1e;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  left: -26px;
}
/* line 88, ../../../toolbox/sass/_ribbon.scss */
#seqsamples .ribbon div.ribbon-edge-left-top, #seqsamples .ribbon div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -26px;
  border-style: solid;
}
/* line 91, ../../../toolbox/sass/_ribbon.scss */
#seqsamples .ribbon div.ribbon-back-left {
  width: 0;
  height: 2.25em;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #b54c1e;
  left: -16px;
}
/* line 133, ../../../toolbox/sass/_ribbon.scss */
#seqsamples .ribbon div.ribbon-edge-left-bottom {
  top: 2.25em;
  border-width: 0 10px 0.75em 0;
  border-color: transparent #5e270f transparent transparent;
}
/* line 138, ../../../toolbox/sass/_ribbon.scss */
#seqsamples .ribbon div.ribbon-back-left {
  top: 0.75em;
}
/* line 90, ../../sass/_base.scss */
#seqsamples .ribbon .ribbon-front {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b54c1e), color-stop(70%, #893a17), color-stop(98%, #9f431a));
  background-image: -webkit-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -moz-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -o-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: -ms-linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  background-image: linear-gradient(top, #b54c1e, #893a17 70%, #9f431a 98%);
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 4px 4px 4px 0;
  -webkit-border-radius: 4px 4px 4px 0;
  -o-border-radius: 4px 4px 4px 0;
  -ms-border-radius: 4px 4px 4px 0;
  -khtml-border-radius: 4px 4px 4px 0;
  border-radius: 4px 4px 4px 0;
}

/* line 407, ../../sass/frontend.scss */
.sample-infobox {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  min-width: 50px;
  font-size: 10.5px;
  line-height: 12px;
  /* Fluid class for determining actual width in IE */
  /* Default close button class */
  /* IE fix */
  /* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
  /* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
}
/* line 15, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip-fluid {
  display: block;
  visibility: hidden;
  position: static !important;
  float: left !important;
}
/* line 22, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip-content {
  position: relative;
  padding: 5px 9px;
  overflow: hidden;
  border: 1px solid #000001;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
}
/* line 34, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip-titlebar {
  position: relative;
  min-height: 14px;
  padding: 5px 35px 5px 10px;
  overflow: hidden;
  border: 1px solid #000001;
  border-width: 1px 1px 0;
  font-weight: bold;
}
/* line 46, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip-titlebar + .ui-tooltip-content {
  border-top-width: 0px !important;
}
/* line 49, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip-titlebar .ui-state-default {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
  outline: medium none;
  border-width: 1px;
  border-style: solid;
}
/* line 62, ../../../toolbox/sass/_qtip.scss */
.sample-infobox * html .ui-tooltip-titlebar .ui-state-default {
  top: 16px;
}
/* line 65, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip-titlebar .ui-icon,
.sample-infobox .ui-tooltip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
}
/* line 70, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip-icon, .sample-infobox .ui-tooltip-icon .ui-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 76, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip-icon .ui-icon {
  width: 18px;
  height: 14px;
  text-align: center;
  text-indent: 0;
  font: normal bold 10px/13px Tahoma, sans-serif;
  color: inherit;
  background: transparent none no-repeat -100em -100em;
}
/* line 101, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip-tip {
  margin: 0 auto;
  overflow: hidden;
  z-index: 10;
}
/* line 108, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip-tip,
.sample-infobox .ui-tooltip-tips * {
  position: absolute;
  line-height: 0.1px !important;
  font-size: 0.1px !important;
  color: #123456;
  background: transparent;
  border: 0px dashed transparent;
}
/* line 117, ../../../toolbox/sass/_qtip.scss */
.sample-infobox .ui-tooltip .ui-tooltip-tip canvas {
  top: 0;
  left: 0;
}
/* line 27, ../../sass/_base.scss */
.sample-infobox .ui-tooltip-content {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  border: 1px solid #efefef;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  font-size: 1em;
  line-height: 1.5em;
  padding: 5px;
  background-color: #fff;
  min-width: 100px;
  min-height: 30px;
  overflow: visible;
}
/* line 27, ../../../toolbox/sass/_pageeffects.scss */
.sample-infobox .ui-tooltip-content:before, .sample-infobox .ui-tooltip-content:after {
  content: '';
  position: absolute;
  z-index: -2;
  width: 70%;
  max-width: 200px;
  height: 20px;
  bottom: 15px;
  left: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -moz-transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
/* line 41, ../../../toolbox/sass/_pageeffects.scss */
.sample-infobox .ui-tooltip-content:after {
  left: auto;
  right: 8px;
  -moz-transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}
/* line 38, ../../sass/_base.scss */
.sample-infobox .ui-tooltip-titlebar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(70%, #d4d4d4), color-stop(98%, #e1e1e1));
  background-image: -webkit-linear-gradient(top, #eeeeee, #d4d4d4 70%, #e1e1e1 98%);
  background-image: -moz-linear-gradient(top, #eeeeee, #d4d4d4 70%, #e1e1e1 98%);
  background-image: -o-linear-gradient(top, #eeeeee, #d4d4d4 70%, #e1e1e1 98%);
  background-image: -ms-linear-gradient(top, #eeeeee, #d4d4d4 70%, #e1e1e1 98%);
  background-image: linear-gradient(top, #eeeeee, #d4d4d4 70%, #e1e1e1 98%);
  border: none;
}
/* line 42, ../../sass/_base.scss */
.sample-infobox .ui-tooltip-titlebar .ui-state-default {
  border: none;
}
/* line 46, ../../sass/_base.scss */
.sample-infobox .ui-tooltip-icon {
  border: none;
}
/* line 50, ../../sass/_base.scss */
.sample-infobox .ui-tooltip-titlebar .ui-state-hover {
  border: 0;
}

/* line 411, ../../sass/frontend.scss */
#sample-table {
  font-size: 0.875em;
  line-height: 1.714em;
}
