/* line 17, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "DroidSansBold";
  src: url('/home/koebbe/p/junk/fonts/DroidSans-Bold-webfont.eot') format('eot'), url('/home/koebbe/p/junk/fonts/DroidSans-Bold-webfont.woff') format('woff'), url('/home/koebbe/p/junk/fonts/DroidSans-Bold-webfont.ttf') format('truetype'), url('/home/koebbe/p/junk/fonts/DroidSans-Bold-webfont.svg') format('svg');
}

@font-face {
  font-family: "DroidSans";
  src: url('/home/koebbe/p/junk/fonts/DroidSans-webfont.eot') format('eot'), url('/home/koebbe/p/junk/fonts/DroidSans-webfont.woff') format('woff'), url('/home/koebbe/p/junk/fonts/DroidSans-webfont.ttf') format('truetype'), url('/home/koebbe/p/junk/fonts/DroidSans-webfont.svg') format('svg');
}

/* line 51, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 55, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 8, ../compass/sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "DroidSansBold";
}

/* line 11, ../compass/sass/screen.scss */
body {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(left, #ffffff, #eeeeee);
  background-image: -moz-linear-gradient(left, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(left, #ffffff, #eeeeee);
  background-image: -ms-linear-gradient(left, #ffffff, #eeeeee);
  background-image: linear-gradient(left, #ffffff, #eeeeee);
  font-family: "DroidSans";
  height: 100%;
}

/* line 16, ../compass/sass/screen.scss */
#root {
  height: 100%;
}

/* line 19, ../compass/sass/screen.scss */
table {
  font-size: 0.875em;
  line-height: 1.714em;
  width: 100%;
}

/* line 23, ../compass/sass/screen.scss */
th, td {
  padding: 0 10px;
}

/* line 28, ../compass/sass/screen.scss */
th {
  font-family: "DroidSansBold";
  padding-top: 0.857em;
  border-bottom-style: solid;
  border-bottom-width: 0.071em;
  padding-bottom: 0.786em;
  border-color: #ddd;
}

/* line 34, ../compass/sass/screen.scss */
tr.odd {
  background: #ddd;
}

/* line 40, ../compass/sass/screen.scss */
.dataTables_length {
  float: left;
}

/* line 43, ../compass/sass/screen.scss */
.dataTables_filter {
  float: right;
}

/* line 48, ../compass/sass/screen.scss */
.tablecontainer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
  padding: 0.75em 30px;
  border: 1px solid #ddd;
  position: relative;
  background-color: white;
}
/* line 147, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .tablecontainer {
  overflow-x: hidden;
}
/* line 5, ../compass/sass/_pagecurl.scss */
.tablecontainer:before, .tablecontainer:after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 4px;
  bottom: 16px;
  width: 70%;
  max-width: 300px;
  /* avoid rotation causing ugly appearance at large container widths */
  height: 10%;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
/* line 25, ../compass/sass/_pagecurl.scss */
.tablecontainer:after {
  left: auto;
  right: 4px;
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}
/* line 48, ../compass/sass/_3d-ribbon.scss */
.tablecontainer .ribbon div.ribbon-wrapper {
  height: 3em;
  width: 400px;
  position: relative;
  z-index: 3;
}
/* line 65, ../compass/sass/_3d-ribbon.scss */
.tablecontainer .ribbon div.ribbon-front {
  width: 440px;
  line-height: 2.25em;
  padding-left: 40px;
  background-color: #b54c1e;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  left: -40px;
}
/* line 100, ../compass/sass/_3d-ribbon.scss */
.tablecontainer .ribbon div.ribbon-edge-left-top,
.tablecontainer .ribbon div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -40px;
  border-style: solid;
}
/* line 104, ../compass/sass/_3d-ribbon.scss */
.tablecontainer .ribbon div.ribbon-back-left {
  width: 0;
  height: 2.25em;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #b54c1e;
  left: -30px;
}
/* line 155, ../compass/sass/_3d-ribbon.scss */
.tablecontainer .ribbon div.ribbon-edge-left-bottom {
  top: 2.25em;
  border-width: 0 10px 0.75em 0;
  border-color: transparent #5e270f transparent transparent;
}
/* line 161, ../compass/sass/_3d-ribbon.scss */
.tablecontainer .ribbon div.ribbon-back-left {
  top: 0.75em;
}
/* line 55, ../compass/sass/screen.scss */
.tablecontainer .ribbon .ribbon-front {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5c00), color-stop(70%, #e65300), color-stop(98%, #e65300));
  background-image: -webkit-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: -moz-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: -o-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: -ms-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 4px 4px 4px 0;
  -webkit-border-radius: 4px 4px 4px 0;
  -o-border-radius: 4px 4px 4px 0;
  -ms-border-radius: 4px 4px 4px 0;
  -khtml-border-radius: 4px 4px 4px 0;
  border-radius: 4px 4px 4px 0;
}

/* line 62, ../compass/sass/screen.scss */
#page {
  margin: 0;
  height: 100%;
}

/* line 66, ../compass/sass/screen.scss */
#nav {
  -moz-box-shadow: 3px 0 3px #dddddd;
  -webkit-box-shadow: 3px 0 3px #dddddd;
  -o-box-shadow: 3px 0 3px #dddddd;
  box-shadow: 3px 0 3px #dddddd;
  background-color: #333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #666666));
  background-image: -webkit-linear-gradient(top, #333333, #666666);
  background-image: -moz-linear-gradient(top, #333333, #666666);
  background-image: -o-linear-gradient(top, #333333, #666666);
  background-image: -ms-linear-gradient(top, #333333, #666666);
  background-image: linear-gradient(top, #333333, #666666);
  height: 100%;
  position: absolute;
}
/* line 73, ../compass/sass/screen.scss */
#nav .title {
  font-size: 1.625em;
  line-height: 3.692em;
  text-align: center;
  color: white;
  text-shadow: rgba(255, 255, 255, 0.2) -1px -1px 2px, rgba(0, 0, 0, 0.2) 1px 1px 2px;
}

/* line 82, ../compass/sass/screen.scss */
#content {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -280px 1.5em 280px;
  margin-top: 1.5em;
  /*@include column(23, true);*/
}

/* line 89, ../compass/sass/screen.scss */
:focus {
  outline: none;
}

/* line 92, ../compass/sass/screen.scss */
a {
  text-decoration: none;
}

/* line 96, ../compass/sass/screen.scss */
input[type='button'] {
  display: block;
  text-decoration: none;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  line-height: 1.875em;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  font-family: "DroidSansBold";
  background-color: #ff5c00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5c00), color-stop(70%, #e65300), color-stop(98%, #e65300));
  background-image: -webkit-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: -moz-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: -o-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: -ms-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-style: none;
  padding: 0 10px;
  border: none;
}
/* line 38, ../compass/sass/_base.scss */
input[type='button']:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(70%, #cc4a00), color-stop(98%, #cc4a00));
  background-image: -webkit-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -moz-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -o-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -ms-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
}
/* line 42, ../compass/sass/_base.scss */
input[type='button']:active {
  top: 1px;
}

/* line 105, ../compass/sass/screen.scss */
#mainnav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
  padding-left: 40px;
}
/* line 147, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #mainnav {
  overflow-x: hidden;
}
/* line 108, ../compass/sass/screen.scss */
#mainnav a {
  display: block;
}
/* line 111, ../compass/sass/screen.scss */
#mainnav > li {
  font-size: 0.938em;
  line-height: 1.6em;
  margin-bottom: 0.75em;
  text-align: right;
}
/* line 115, ../compass/sass/screen.scss */
#mainnav > li > a {
  display: block;
  text-decoration: none;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  line-height: 2em;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  font-family: "DroidSansBold";
  background-color: #ff5c00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5c00), color-stop(70%, #e65300), color-stop(98%, #e65300));
  background-image: -webkit-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: -moz-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: -o-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: -ms-linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  background-image: linear-gradient(top, #ff5c00, #e65300 70%, #e65300 98%);
  padding-right: 10px;
}
/* line 38, ../compass/sass/_base.scss */
#mainnav > li > a:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(70%, #cc4a00), color-stop(98%, #cc4a00));
  background-image: -webkit-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -moz-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -o-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: -ms-linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
  background-image: linear-gradient(top, #cc4a00 70%, #cc4a00 98%);
}
/* line 42, ../compass/sass/_base.scss */
#mainnav > li > a:active {
  top: 1px;
}
/* line 118, ../compass/sass/screen.scss */
#mainnav > li > a.hover-header {
  padding-right: 20px;
}
/* line 122, ../compass/sass/screen.scss */
#mainnav > li > ul {
  font-size: 0.933em;
  line-height: 1.714em;
  margin-top: 0.75em;
}
/* line 125, ../compass/sass/screen.scss */
#mainnav > li > ul a {
  padding-right: 10px;
  color: #bbbbbb;
  font-family: "DroidSansBold";
}
/* line 129, ../compass/sass/screen.scss */
#mainnav > li > ul a:hover {
  color: white;
}

/* line 137, ../compass/sass/screen.scss */
.info {
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
  font-size: 0.875em;
  line-height: 1.714em;
  font-family: "DroidSansBold";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.786em;
  margin-bottom: 0.857em;
  margin-top: 0.857em;
  border-color: red;
  background-color: #ffcccc;
  color: #990000;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 147, ../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .info {
  overflow-x: hidden;
}
