{% extends "sts/base.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $('table').dataTable({
    "bServerSide": true,
    "sAjaxSource": "",
    "aoColumns": [{ bSortable: true },{ bSortable: true },{ bSortable: false}] ,
  });
});
</script>
{% endblock js %}

{% block content %}
<h1>Browse Clients</h1>
<table>
<thead>
<tr>
<th>Name</th>
<th>Lab</th>
<th>Email</th>
</tr>
</thead>
<tbody>
</tbody>
<tfoot></tfoot>
</table>
{% endblock content %}
