{% extends "sts/base.html" %}
{%load static from staticfiles %}

{% block css %}
{{ block.super }}
<style>
    table tr th:first-child, table tr td:nth-child(2) {
        width: 150px;
    }
    table th {
        font-weight: bold;
    }
    .column-left {
        width: {% if is_ajax_request %} 99% {% else %} 65% {% endif %}
    }
    .location {
        padding: 5px;
    }
</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    var labs = {{ labs }}
    
    function choose_lab() {
        $('#campus, #dept').hide();
        var val = $("#id_person-lab option:selected").val()
        if ( val == ''){
            $('#field_lab .last').html('')
            $('.new-lab').show();
            $("#id_person-is_client_pi").change();
            check_lab_location();
        } else {
            $('.new-lab').hide();
            if(labs[val]) {
                $('#campus td:eq(0)').html(labs[val][0]);
                $('#dept td:eq(0)').html(labs[val][1]);
                $('#field_lab .last').html('Internal')
                $('#campus, #dept').show();
            }else {
                $('#field_lab .last').html('External')
            }
        }
    }

    function check_lab_location() {
        var val = $('#id_lab-location').val();
        $(".content-box").addClass("column-left");
        $('.internal, .external').hide();
        
        if (val == 'internal') {
            $(".internal").show();
        } else if (val == 'external') {
            $(".external").show();
            $(".content-box").removeClass("column-left");
        } 
    }

    $(function() {
        $("#id_person-is_client_pi").change(function(){
            if($('#id_person-is_client_pi').is(':checked')){
                $(".pi-client").hide();
            }
            else{
                $(".pi-client").show();
            }
        });

        $('#id_person-lab').change(function() {
            choose_lab();
        });

        $('#id_lab-location').change(function() {
            check_lab_location()
        });
        
        $('#labAddress tbody tr').formset({
            prefix: "{{labaddform.prefix}}",
            added: function(row){
                    $('#labAddress tbody tr:last').attr("Style","display: none;");
                },
            removed: function(row){
                $('#labAddress tbody tr:last').attr("Style","display: table-row;");
            }
        })

        $("#new-client").submit(function(){
            if($('#id_person-is_client_pi').is(':checked')){
                $("#id_lab-first_name").val($("#id_person-first_name").val());
                $("#id_lab-last_name").val($("#id_person-last_name").val());
                $("#id_lab-email").val($("#id_person-email").val());
            }
        })
        choose_lab();
        $('#labAddress tbody tr:first td a').remove();
    });

</script>
{% endblock js %}

{% block messages %}
    {{ block.super }}
    {% if form.errors or labform.errors %}
        <div class='notification error png_bg'>
            <a href="#" class="close">
                <img src="{% static 'images/icons/cross_grey_small.png' %}" 
                    title="Close this notification" alt="close"></a>
            <div>Please fill out the form as indicated below.</div>
            {{ form.non_field_errors.as_ul }}
            {% if labform.non_field_errors %}
                {{ labform.non_field_errors }}
            {% endif %}
        </div>
    {% endif %}
    {% if messages %}
        <div class='notification success png_bg'>
            <a href="#" class="close">
                <img src="{% static 'images/icons/cross_grey_small.png' %}" 
                    title="Close this notification" alt="close"></a>
            {% for message in messages %}            
            <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock messages %}

{% block content %}
    <h2>Add Client</h2>
    <div class="content-box">
        <div class="content-box-header">
            <h3>New Client</h3>
        </div>
        <div class="content-box-content">
        <form id="new-client" method="post" action="">{% csrf_token %}
            <div id="new-client-lab">
                <table>
                    {% load formutil %}
                    {% trfield form.first_name %}
                    {% trfield form.last_name %}
                    {% trfield form.email %}
                    <tr>
                        {% thfield form.phone %}
                        <td>
                            {{ form.extension }} {{ form.phone }}
                        </td>
                        <td class="last">
                            {% if form.errors.phone %}
                                <span class="input-notification error png_bg">
                                {{ form.phone.errors.0}}
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% trfield form.lab %}
                    <tr id="campus">
                        <th class="first">Campus box:</th><td></td><td class="last"></td>
                    </tr>
                    <tr id="dept">
                        <th class="first">Department Number:</th><td></td><td class="last"></td>
                    </tr>
                    {% trfield form.is_client_pi 'new-lab' %}
                    {% trfield labform.first_name 'new-lab pi-client' %}
                    {% trfield labform.last_name 'new-lab pi-client' %}
                    {% trfield labform.email 'new-lab pi-client' %}
                    {% trfield labform.location 'new-lab' %}
                    {% trfield labform.campus_box 'new-lab internal' %}
                    {% trfield labform.department 'new-lab internal' %}
                    {% trfield labform.institution 'new-lab external'%}
                    <tr><td colspan="3">
                    <table id="labAddress" class='new-lab external'>
                    {{ labaddform.management_form }}
                    {% for f in labaddform.forms %}
                        {% if forloop.first %}
                        <thead>
                            <tr>
                                {% thfield f.street %}
                                {% thfield f.city %}
                                {% thfield f.state %}
                                {% thfield f.zipcode %}
                                {% thfield f.type %}
                            </tr>
                        </thead>
                        {% endif %}
                        <tr tagName='TR'>
                            {% tdfield f.street %}
                            {% tdfield f.city %}
                            {% tdfield f.state %}
                            {% tdfield f.zipcode %}
                            {% tdfield f.type %}
                        </tr>
                    {% endfor %}
                    </table></td></tr>
                </table>
                <input class="button" type="submit" value="Add" />
            </div>
        </form>
        </div>
    </div>
    <div class="clear"></div>
{% endblock content %}
