{% extends "frontend/signin.html"}

{% block content %}
<form action="" method="post" accept-charset="utf-8">
    {{ form }}

    <input type="submit" value="Continue &rarr;"></p>
</form>
{% endblock content %}
