{% extends "gtac/base.html"  %}



{% block content %}
<h2>Analysis Result Files for Submission: {{ submission }}</h2>

{% for ss in submission.samplesubmission_set.all %}

<h3>{{ ss.sample.name }} ({{ ss.id }})</h3>

<p><b>Sample Pool:</b> 

{% for seqsamp in ss.libprep.sequencingsamples.all %}
<a href="{{ seqsamp.get_absolute_url }}">{{ seqsamp.name }}</a> {% if not forloop.last %},{% endif %}
{% endfor %}
</p>

<p><b>Index:</b> 
{% for ssd in ss.libprep.sequencingsampledetail_set.all %}
{{ ssd.index }} ({{ ssd.index.sequence }}) {% if not forloop.last %},{% endif %}
{% endfor %}
</p>

{% for file in ss.analysis.analysisfile_set.all %}
    <a href="{{ file.get_absolute_url }}">{{ file.name }}</a>
    <p>{{ file.description }}</p>
{% empty %}
    No files for sample submission
{% endfor %}

{% endfor %}

{% endblock %}
