{% extends "core/base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="stuff1">
  <p title="title1">Here's some stuff</p>
</div>

<div class="stuff2">
  <h2>Here's some stuff</h2>
  <p id="uniqueid" title="foo">with a header</p>
</div>
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/screen.css' %}">
{% endblock css %}


{% block js %}
{{ block.super }}
<script defer src="{% static 'js/ribbon.js' %}"></script>
<script defer src="{% static 'js/jquery.qtip.min.js' %}"></script>
<script type="text/javascript">
$(function (){
  $('.stuff2 h2').ribbon();
  $('p').qtip({ style: { classes: 'infobox' }});
});
</script>
{% endblock js %}
