{% extends "sts/base.html" %}
{% load formutil %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/multi-select.css' %}" type="text/css" media="screen" />
{{ block.super }}
<style>
	#main-content ul li {
		background: none;
	}
	#main-content ul li.ms-hover{
		background-color: #08c;
	}
	
	fieldset {
		padding: 10px;
	}
	
	fieldset {
		border: 1px solid #ccc;
	}
	
	form fieldset legend {
		margin-left: 20px;
		padding: 0 0 0 5px;
		font-size: 15px;
		font-weight: normal;
	}
	
	#columns .ms-container{
		width: 570px;
	}
	
	select {
		margin-left: 10px;
	}
	.select-all, .deselect-all{
		color: #fff;
		background-color: #3276b1;
		border: 1px solid #285e8e;
		border-radius: 5px;
		padding: 6px;
		float: left;
		margin: 0 10px 10px 0;
		cursor: pointer;
	}
	
	.box{
		float: left;
		padding: 5px;
	}
	
	.box span{
		padding: 10px;
	}
	
</style>
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.multi-select.js' %}"></script>
{{ block.super }}
<script type="text/javascript">
	function getColumns(){
		$.ajax({
			type: "GET",
			url: "/custom_report/model_columns",
			data: { modelname: $('select[name="report-models"]').val(), preptype: $('select[name="report-preptype"]').val() }
		}).done(function( resp ) {
			$('#columns').empty();
			$.each(resp.columns, function(){
				div = $('<div class="box" />');
				name = this.name.replace('fields', '').replace('_', ' ')
				span = $('<span />').html(name)
				select = $('<select multiple size="10"/>').attr('name', this.name)
				$.each(this.fields, function(key, value){
					select.append(
						$('<option></option').val(key).html(value)
					);
				})
				div.append(span).append("<br/>").append(select);
				$('#columns').append(div);
			});
			
			if($('select[name="report-models"]').val() == 'sample'){
				$('select[name="Specimenfields"]').val('gtac_id');
			}else{
				$('select[name="Sequencing_Samplefields"]').val('name')
			}
		});
	}

	function getFilters(){
		$.ajax({
			type: "GET",
			url: "/custom_report/model_filters",
			data: { modelname: $('select[name="report-models"]').val(), preptype: $('select[name="report-preptype"]').val() }
		}).done(function( resp ) {
			$('#id_report-samples').empty();
	       		$.each(resp, function(key, value){
				$('#id_report-samples').append("<option value='"+ key +"'>"+ value +"</option>");
			});
			$('#id_report-samples').multiSelect('refresh');
        	});
	}
	
	function change_models(){
		value = $('select[name="report-models"]').val();
		if(value == 'sample'){
			$('#sample').show();
			$('#field_preptype').show();
			$('#sequencing').hide();
		}else{
			$('#sample').hide();
			$('#field_preptype').hide();
			$('#sequencing').show();
		}
		getColumns();
	}
	
	function get_multiselect(selector){
		$(selector).multiSelect();
		$('.select-all', $(selector).parent()).click(function(){
		    $(selector).multiSelect('select_all');
		    return false;
		});
		
		$('.deselect-all', $(selector).parent()).click(function(){
		    $(selector).multiSelect('deselect_all');
		    return false;
		});
	}
	
	$(document).ready(function(){
		$('select[name="report-models"]').change(function(){
			change_models();
		})

		$('select[name="report-preptype"]').change(function(){
			getFilters();
			getColumns();
		});
		
		get_multiselect('#id_report-samples')
		get_multiselect('#id_report-seqSamples')
		change_models();
		getFilters();
		
		$('form').submit(function(){
			if($('select[name="report-models"]').val() == 'sample'){
				$('select[name="Specimenfields"] option[value="gtac_id"]').attr('selected', true);
			}else{
				$('select[name="Sequencing_Samplefields"] option[value="name"]').attr('selected', true)
			}
		});
	})
</script>
{% endblock js %}

{% block content %}
	<div class="content-box">
		<div class="content-box-header">
			<h3>Custom Report</h3>
		</div>
		<div class="content-box-content">
			<form id="report" method="post" action=""> {% csrf_token %} 
				<table>
					{% trfield form.models %}
					{% trfield form.preptype %}
					<tr>
						<td colspan="3">
							<fieldset>
								<legend>Filter:</legend>
								<div id="sample">
									<div>
										<div class='select-all'>Select All</div>
										<div class='deselect-all'>Deselect All</div>
										<div class="clear"></div>
									</div>
									{{ form.samples }}
								</div>
								<div id="sequencing" style="display: none">
									<div>
										<div class='select-all'>Select All</div>
										<div class='deselect-all'>Deselect All</div>
										<div class="clear"></div>
									</div>
									{{ form.seqSamples }}
								</div>
						    </fieldset>
						</td>
					</tr>-
					<tr>
						<td colspan="3">
							<fieldset>
								<legend>Display:</legend>
								<div id="columns"></div>
						    </fieldset>
						</td>
					</tr>
				</table>
				<div> <input type="submit" class="button" value="Generate Spreadsheet"/></div>
			</form>
		</div>
	</div>
{% endblock content %}
