{% extends "core/base.html" %}

{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/frontend.css' %}" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{% static 'css/smoothness/jquery-ui-1.8.16.custom.css' %}" type="text/css" media="screen" charset="utf-8">
{% endblock css %}
<link rel="stylesheet" href="{% static 'css/jquery.qtip.css' %}" type="text/css" media="screen" charset="utf-8">

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/jquery-ui-1.8.16.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.formset.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ribbon.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.qtip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extra.js' %}"></script>


<script type="text/javascript" charset="utf-8">

function find_qtips(obj) {
    $('[data-clientkey]', obj).each(function() {
       var $me = $(this);
       $(this).qtip({
           content: {
                text: 'loading...',
                ajax: {
                    url: '{% url client-infobox %}', 
                    data: { key: $me.data('clientkey') }
                }
           },
           style: {
               classes: 'sample-infobox'
           }
       });
    });
    $('[data-sampkey]', obj).each(function() {
       var $me = $(this);
       $(this).qtip({
           content: {
                text: 'loading...',
                ajax: {
                    url: '{% url sample-infobox %}', 
                    data: { key: $me.data('sampkey') }
                }
           },
           style: {
               classes: 'sample-infobox'
           }
       });
    });
}

$(function() {
	find_qtips(document);
	$('#mainnav').accordion({
	   collapsible: true,
	   autoHeight: false,
	   icons: false
	});
	
	$('#nav').height($(document).height());
	$('.datepicker input').datepicker();
	$('table.filter').dataTable();
});
</script>
{% endblock js %}

{% block precontent %}
	<div id="nav">
		<h2 class="title">GTAC Tracker</h2>
		<div>
			<p id="welcome">Hello <span class="name">
				{{ user.person.first_name|default:user.username }}</span></p>
			<p class="signout"><a href="{% url signout %}">Sign Out</a></p>
		</div>
		<ul id="mainnav">
			<li>
				<a href="{% url dashboard %}">Dashboard</a>
			</li>
			<li>
				<a href="">Client</a>
				<ul>
					<li><a href="{% url 'client-add' %}">Add</a></li>
					<li><a href="{% url 'client-browse' %}">Browse</a></li>
				</ul>
			</li>
			<li>
				<a href="">Sample</a>
				<ul>
					<li><a href="{% url 'sample-submit' %}">Submit</a></li>
				</ul>
			</li>
			<li>
				<a href="">Library Prep</a>
				<ul>
					<!-- <li><a href="{% url 'libprep-submission-assign' %}">New Submissions</a></li> -->
					<li><a href="{% url 'libprep-samples' %}">Samples</a></li>
					<!-- <li><a href="{% url 'libprep-my-queue' %}">My Queue</a></li> -->
					<li><a href="{% url 'libprep-prep-sequencing' %}">Prep for Sequencing</a></li>
					<li><a href="{% url 'libprep-sequencing-samples' %}">Sequencing Samples</a></li>
				</ul>
			</li>
			<li>
				<a href="">Sequencing</a>
				<ul>
					<li><a href="/sts/admin/seq/flowcell/add/">(Admin) Add Flowcell</a></li>
					<li><a href="{% url flowcell-create %}">Create Flowcell</a></li>
					<li><a href="{% url run-browse %}">Browse Runs</a></li>
				</ul>
			</li>
			<li>
				<a href="">Analysis</a>
				<ul>
				</ul>
			</li>
			<li>
				<a href="">Reports</a>
				<ul>
					<li><a href="{% url 'submission-browse' %}">Samples</a></li>
				</ul>
			</li>
		</ul>
	</div>
{% endblock precontent %}

{% block maincontent %}
	<div id="messages">
		{% block messages %}
			{% if messages %} <div class="info">{% for m in messages %}{{ m }}{% endfor %}</div>{% endif %}
		{% endblock messages %}
	</div>
	<div id="main">
		{% block content %}
		{% endblock content %}
	</div>
{% endblock maincontent %}

