<h2>{{ client.person.name }}</h2>

<table>
<tr><th>Lab:</th><td> {{ client.lab.name }}</td></tr>
<tr><th>Email:</th><td> {% for email in client.person.email_addresses.all %}{{ email.email }}{% endfor %}</td></tr>
<tr><th>Phone:</th><td> {% for num in client.person.phone_numbers.all %}{{ num.number }}{% endfor %}</td></tr>
</table>

