{% extends "sts/base.html" %}

{% block js %}
{{ block.super }}
    <script type="text/javascript">
        function changeView(element){
            if ($(element).is(':checked')){ 
                $('#tab_dashboard').show(); 
                $('#dashboard').hide();
            } 
            else { 
                $('#dashboard').show(); 
                $('#tab_dashboard').hide();
            }
        }
    </script>
{% endblock js %}

{% block content %}

<h1>Overview</h1>
<input type="checkbox" onclick="changeView(this)"> Tabbed View </input>
<div id="dashboard">
    <div class="content-box column-left">
        <div class="content-box-header">
            <h3 class="section">Library Prep</h3>
        </div>
        <div class="content-box-content">
            <table>
                <thead>
                    <tr>
                    <th>Submission Date</th>
                    <th>Lab</th>
                    <th>Prep Type</th>
                    <th># Samples</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for submission in submissions %}
                    <tr>
                    <td><a href="{% url 'submission-detail' submission.id %}">{{ submission.submitted }}</a></td>
                    <td>{{ submission.client.lab }}</td>
                    <td>{{ submission.sample_set.first.libprep.preptype }}</td>
                    <td>{{ submission.sample_set.count }}</td>
                    <td>{{ submission.sample_set.first.libprep.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="content-box column-right">
        <div class="content-box-header">
            <h3 class="section">Sequencing</h3>
        </div>
        <div class="content-box-content">
            <table>
                <thead>
                    <tr>
                        <th>Run</th>
                        <th>Type</th>
                        <th>Machine</th>
                        <th>Start</th>
                        <th>Completion</th>
                    </tr>
                </thead>
                <tbody>
                {% for run in runs %}
                    <tr>
                        <td>{{ run.num }}</td>
                        <td>{{ run.flowcell.runtype }}</td>
                        <td>{{ run.manifold.sequencer }}</td>
                        <td>{{ run.sequencing_date }}</td>
                        <td>{{ run.completion_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>    

    <div class="content-box column-left" style="clear: left">
        <div class="content-box-header">
            <h3 class="section">Sequencing Queue</h3>
        </div>
        <div class="content-box-content">
            <table>
                <thead>
                    <tr>
                        <th>Sample</th>
                        <th>Submitted</th>
                        <th>Run Type</th>
                    </tr>
                </thead>
                <tbody>
                {% for ss in seqsamples %}
                    <tr>
                        <td>{{ ss.name }}</td>
                        <td>{{ ss.submitted_to_sequencing }}</td>
                        <td>{{ ss.sampleprepdetails.all.0.sample.seq.runtype }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="content-box column-right" style="clear: right">
        <div class="content-box-header">
            <h3 class="section">Analysis</h3>
        </div>
        <div class="content-box-content">
            <table>
                <thead>
                    <tr>
                        <th>Sequencing Sample</th>
                    </tr>
                </thead>
                <tbody>
                {% for ss in seqsamples %}
                    {% if ss.sampleprepdetails.all.0.status.name == 'Analysis'%}    
                        <tr>
                            <td>{{ run.num }}</td>
                            <td>{{ submission.client.lab }}</td>
                            <td>{{ submission.sample_set.all.0.libprep.preptype }}</td>
                            <td>{{ submission.sample_set.count }}</td>
                            <td>{{ submission.sample_set.all.0.libprep.status }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="clear"></div>
{% include "frontend/tabbed_dashboard.html"%}
{% endblock content %}
