{% extends "sts/login.html" %}

{% block content %}
<form action="" method="post" accept-charset="utf-8">{% csrf_token %}
{% if messages %}
    <div class="notification information png_bg">
    {% for m in messages %}
    <div>{{ m }}</div>
    {% endfor %}
    </div>
{% endif %}
{% if form.non_field_errors %}
    <div class="notification information png_bg">
    <div>{% for e in form.non_field_errors %}{{ e }}{% endfor %}</div>
    </div>
{% endif %}

<p>
{{ form.username.label_tag }}
{{ form.username }}
</p>
<div class="clear"></div>
<p>
{{ form.password.label_tag }}
{{ form.password }}
</p>
<div class="clear"></div>
<p>
    <input class="button" type="submit" value="Continue &rarr;">
</p>
</form>
{% endblock content %}
