{% block js%}
    <script type="text/javascript">
        $(function(){
            $('#table_libprep, #table_sequencing, #table_seq-queue, #table_analysis').dataTable();
        });
    </script>
{% endblock js %}
{% block content %}
<div id="tab_dashboard" style="display:none;">
	<div class="content-box">
        <div class="content-box-header">
            <h3> Dashboard </h3>
            <ul class="content-box-tabs">
                <li><a href="#libprep" class="default-tab current">Library Prep</a></li>
                <li><a href="#sequencing">Sequencing</a></li>
                <li><a href="#seq-queue">Sequencing Queue</a></li>
                <li><a href="#analysis">Analysis</a></li>
            </ul>
        </div>
        <div class="content-box-content">
            <div class="tab-content default-tab" id="libprep">
                <table id="table_libprep">
                    <thead>
                        <tr>
                            <th>Submission Date</th>
                            <th>Lab</th>
                            <th>Prep Type</th>
                            <th># Samples</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for submission in submissions %}
                            <tr>
                                <td><a href="{% url 'submission-detail' submission.id %}">{{ submission.submitted }}</a></td>
                                <td>{{ submission.client.lab }}</td>
                                <td>{{ submission.sample_set.all.0.libprep.preptype }}</td>
                                <td>{{ submission.sample_set.count }}</td>
                                <td>{{ submission.sample_set.all.0.libprep.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-content" id="sequencing">
                <table id="table_sequencing">
                    <thead>
                        <tr>
                            <th>Run</th>
                            <th>Type</th>
                            <th>Machine</th>
                            <th>Start</th>
                            <th>Completion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for run in runs %}
                            <tr>
                                <td>{{ run.num }}</td>
                                <td>{{ run.flowcell.runtype }}</td>
                                <td>{{ run.manifold.sequencer }}</td>
                                <td>{{ run.sequencing_date }}</td>
                                <td>{{ run.completion_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-content" id="seq-queue">
                <table id="table_seq-queue">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Sample</th>
                            <th>Submitted</th>
                            <th>Run Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ss in seqsamples %}
                            <tr>
                                <td>{{ ss.id }}</td>
                                <td>{{ ss.name }}</td>
                                <td>{{ ss.submitted_to_sequencing }}</td>
                                <td>{{ ss.sampleprepdetails.all.0.sample.seq.runtype }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-content" id="analysis">
                <table id="table_analysis">
                    <thead>
                        <tr>
                            <th>Run</th>
                            <th>Lab</th>
                            <th>Prep Type</th>
                            <th>Count</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ss in seqsamples %}
                            {% if ss.sampleprepdetails.all.0.status.name == 'Analysis'%}    
                                <tr>
                                    <td>{{ run.num }}</td>
                                    <td>{{ submission.client.lab }}</td>
                                    <td>{{ submission.sample_set.all.0.libprep.preptype }}</td>
                                    <td>{{ submission.sample_set.count }}</td>
                                    <td>{{ submission.sample_set.all.0.libprep.status }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</div>
<div class="clear"></div>
{% endblock content %}
