{% extends "sts/base.html" %}
{% load static from staticfiles %}
{% block title %}Submit Form{% endblock title %}

{% block css %}
{{ block.super }}
<style>
    #id_spec-specimens {
        display: none;
    }
    #selection-table {
        max-height: 400px;
        overflow: auto;
        display: block;
        width: 100%;
    }
    .row_selected  td{
        background-color: {{ datatable_select_color }};
    }
    
    #status ul li{
        float: left;
        background: none;
        padding: 0;
    }
    
    #research ul li{
        background: none;
        padding: 0;
    }
    
    #field_analysis_notes th {
        vertical-align: top;
    }
    
    .ui-widget {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
    .client-type {
        padding-left: 35px;
    }
    .ui-combobox {
        position: relative;
        display: inline-block;
    }
    .ui-button {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* adjust styles for IE 6/7 */
        *height: 1.7em;
        *top: 0.1em;
    }
    .ui-autocomplete-input {
        margin: 0;
        padding: 0.3em;
    }
    
    #lab-location div {
        padding: 5px;
    }
    #lab-location .head{
        font-weight: bold;
        padding-right: 10px;
    }
    
    #modal{
        display:none; 
        background-color: white; 
        padding: 10px; 
        position: fixed; 
        top: 40%; 
        left: 27%; 
        margin-top: -96px; 
        margin-left: -186px; 
        z-index: 2;
        width: 60%;
        height: 80%;
        box-shadow: 0 0px 30px white;
    }
</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    var oTable;
    var clients = {{ clients|safe  }}
    var aSelected = [];
    var associations = {}

    $(document).ready(function() {
        $(".chosen-select").chosen({placeholder_text_multiple:'Select client', width: '77%'});

        $('#id_sub-prep_type option:first').val('-1')
        
        oTable = $('table#specimens').dataTable({
                    "oLanguage": {
                        "sInfoFiltered": ""
                    },
                    "aoColumnDefs": [
                        { "aTargets": [ 0 ],
                          "bSortable": false,
                          "fnRender": function (oData, data) {
                                return "<input type='checkbox' name='sample_id' value='"+ data +"' />";
                            }
                        },
                        { "aTargets": [5], "bSortable": false}
                    ],
                    "sScrollX": "100%",
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "{%  url 'sample.views.getSpecimenPaginatedData' %}",
                    "fnServerParams": function ( aoData ) {
                        aoData.push({"name": "showNewSpec", "value": $('#showNewSpec').is(":checked") },
                                    {"name": "onlyShowSpec", "value":$('#onlyShowSpec').val() },
                                    {"name": "clientId", "value": $('#id_sub-client').val()})
                    },
                    "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                        var id = parseInt($("input", nRow).val());
                        if ( $.inArray(id, aSelected) != -1 ) {
                                $(nRow).addClass('row_selected');
                                $("input", nRow).attr("checked", true);
                        }
                    },
                    "fnDrawCallback": function( oSettings ) {
                        $("input[name='checkAll']").attr("checked", false);
                        $("input[type='checkbox'][name='sample_id']").change(function(){
                            var id = parseInt($(this).val());
                            var index = $.inArray(id, aSelected);
                 
                            if ( index === -1 || $(this).is(":checked")) {
                                $(this).parent().parent().addClass('row_selected');
                                aSelected.push( id );
                            } else {
                                $(this).parent().parent().removeClass('row_selected');
                                aSelected.splice( index, 1 );
                            }
                        });            
                    }
                });

        $('form').submit(function() {
            $("#id_spec-specimens").val(aSelected);
            $('#id_sub-prep_type option:first').val('');

            if($("#id_sub-client").val() && aSelected.length == 0) { alert("Please select specimen."); }
        });

        $('#showNewSpec').change( function() { oTable.fnDraw(); } );
        $('#onlyShowSpec').change( function() { oTable.fnDraw(); } );
        
        $('input[name="previous-icts-data"]').change(function() {
            if(!$(this).is(':checked')){ 
                $('input[type="text"][name^="ictsassoc"]').val('');
                $('input[type="checkbox"][name^="ictsassoc"]').removeAttr("checked");
                $('input[type="radio"][name^="ictsassoc"]').removeAttr("checked");
                return;
            }
            
            $.ajax({
                type: "GET",
                url: "/samp/client/"+ $('#id_sub-client :selected').val() ,
            }).done(function( resp ) {
                
                if(resp.empty){ alert('No previous data associate to this client'); return;}
                
                $.each(resp, function(key, data){
                    $('input[type="text"][name$="'+key+'"]').val(data);
                    if(key == 'research'){
                        $.each(data, function(index, value){
                            $('input[type="checkbox"][value="'+value+'"]').attr("checked", "checked");
                        });
                    }
                    
                    if(key == 'approval_status'){
                        $('input[type="radio"][value="'+data+'"]').attr("checked", "checked");
                    }
                });
            })
        });

        $("input[name='checkAll']").change(function(){
            $("input[type='checkbox'][name='sample_id']").attr("checked", $(this).is(":checked")).change();    
        });

         $('.dataTables_filter input').keydown(function(){
            aSelected = [];       
         });
    });
    
    function check_association(that) {
        var name = $(that).attr("name")
        $('#ictsassoc').hide();
        
        $.each(associations, function(key, value){
             if(name != key && $(that).val() == value[0]) {
                 $(that).val(0);
             }

             if((name != key && value[1] == 'ICTS') || $("> option:selected", that).text() == 'ICTS'){
                $('#ictsassoc').show();
             }
        });
    
        associations[name] = [$(that).val(), $("> option:selected", that).text()]
        $(that).parent().next("td").find("input").hide();

        if($("> option:selected", that).text() == "CDI"){
            $(that).parent().next("td").find("input[name$='project_id']").show();
        } else {
            $(that).parent().next("td").find("input[name$='association_grant']").show();
        }
    }
    
    function check_billing() {
        var $client = $('#id_sub-client :selected');
        if (! $client.val() ) { 
            $('.client-type').html("");
            return; 
        }
        
        $.getJSON('{% url 'client-json' %}', 
            {'id': $client.val()},
            function(data) {
                if ( data[1].fields.location == 'internal') {
                    $('#campus').html(clients[$client.val()][0]);
                    $('.client-type').html("Internal Client");
                    $('.billing.internal').show();
                    check_association();
                    $('.billing.external').hide();
                } else {
                    $('.client-type').html("External Client");
                    $('#institution').html(clients[$client.val()][2]);
                    $('.billing.external').show();
                    $('.billing.internal').hide();
                }
                if ( data[1].fields.location == 'internal') {
                    if (data.length > 2){
                      $('#id_bill-department').val(data[2].fields.number);
                    }
                } else {
                    $('#id_bill-department').val('');
                }
            }
        );
        $('input[name="previous-icts-data"]').removeAttr("checked");
    }
    
    function preventEnterSubmit(e) {
        if (e.which == 13) {
            var $targ = $(e.target);

            if (!$targ.is("textarea") && !$targ.is(":button,:submit")) {
                var focusNext = false;
                $(this).find(":input:visible:not([disabled],[readonly]), a").each(function(){
                    if (this === e.target) {
                        focusNext = true;
                    }
                    else if (focusNext){
                        $(this).focus();
                        return false;
                    }
                });
                return false;
            }
        }
    }

    $(function() {
        $("div.manual input").attr("autocomplete", "off");
        
        $('input').keydown(function(e){
            if (e.which == 13) {
                var $targ = $(e.target);

                if (!$targ.is("textarea") && !$targ.is(":button,:submit")) {
                    var focusNext = false;
                    $(this).find(":input:visible:not([disabled],[readonly]), a").each(function(){
                        if (this === e.target) {
                            focusNext = true;
                        }
                        else if (focusNext){
                            $(this).focus();
                            return false;
                        }
                    });
                    return false;
                }
            }
        });
        
        $('#billassoc tbody tr').formset({
            prefix: '{{ billassocformset.prefix }}',
            formCssClass: 'dynamic-formset1',
            added: function(row){
                    $(row).find("input[name$='project_id']").hide();
                    select = $(row).find('select')[0]

                    $(select).change(function(){
                        check_association(this);
                    })
                    $("input[type='text']", row).attr("size", "15");
                },
            removed: function(row){
                    select = $(row).find('select')[0]
                    associations[$( select).attr("name")] = [0, ''] 
                    check_association();
                }
        });
    
        $('#id_sub-client').change(function() { 
            oTable.fnDraw(); 
            check_billing();
            aSelected = [];       
        });
        
        $('#id_sub-prep_type').change(function() {
            if ($('option:selected', this).val() == "-1") {
                $('.dir_to_seq').show();
            } else {
                $('.dir_to_seq').hide();
            }    
        });
        
        $('#id_sub-multiplexing').change(function() {
            if ($(this).val() == 'index' || $(this).val() == 'barcoded') {
                $(".multiplex").show();
                $("#field_lanes_per_sample").hide();
            } else {
                $("#field_lanes_per_sample").show();
                $(".multiplex").hide();
            }
        });
        
        $('select[name$="association"]').change(function(){
            check_association(this);
        })
        
        $("input[name='ictsassoc-0-approval_status']").click(function(){
            if($(this).val() == 'Approved'){
                $('#ictsassoc .approval').show()
            }else {
                $('#ictsassoc .approval').hide()
            }
        })

        $("input[type='text']").attr("size", "15");
        
        $('#id_sub-client').change();
        $('#id_sub-prep_type').change();
        $('#id_sub-multiplexing').change();
        $('select[name$="association"]').change()
        $('.billing').hide();
        $('#ictsassoc .approval').hide();
        $("input[name='ictsassoc-0-approval_status']:checked").click();
       
        $("select").not('#id_spec-specimens, #id_sub-contact, select[name=specimens_length], select[name$="association"]')
                .combobox();
        
        aSelected = $('#id_spec-specimens').val();
        aSelected = (aSelected == null)? []: aSelected.map(Number);
    });

    function updateContact(){ 
        $.ajax({
            type: "GET",
            url: '/client/client-list/'
        }).done(function(data){
            var options = '';
            $.each(data['aData'], function( key, value ) {
                options += '<option value="' + value[0] + '">' + value[1] + '</option>';
            })
            
            $("select[name$='contact']").html(options);
            $(".chosen-select").trigger('chosen:updated');
        })
    }

    $(document).on($.modal.CLOSE, function(){ updateContact(); })    

</script>
<script type="text/javascript" src="{% static 'js/common_datatable.js' %}"></script>
{% endblock js %}

{% block messages %}
    {{ block.super }}
    {% if form.errors or billform.errors %}
        <div class='notification error png_bg'>
            <a href="#" class="close">
                <img src="{% static 'images/icons/cross_grey_small.png' %}" 
                    title="Close this notification" alt="close"></a>
            <div>Please fill out the form as indicated below.</div>
        </div>
    {% endif %}
{% endblock messages %}


{% block content %}
    <h2>NextGen Sample Submission</h2>
    <div id="submit">
    {% load formutil %}
        <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}

        <div class="column-right">
            <div class="content-box">
                <div class="content-box-header">
                    <h3 class="section">Specimens</h3></div>
                <div class="content-box-content">
                    {{ specformset.management_form }}
                    <p><b>Only show new specimens:</b> 
                        <input id ="showNewSpec" name="showNewSpec" type="checkbox"></p>
                    <p><b>Only show specimens:</b> 
                    <select id="onlyShowSpec" name="onlyShowSpec" >
                        <option value="">-------</option>
                        <option value="7">&lt; 1 week old</option>
                        <option value="30">&lt; 30 days old</option>
                        <option value="60">&lt; 60 days old</option>
                    </select></p>
                    {{ specform.specimens }}
                    <table id="specimens">
                        <thead>
                            <th>All <input type="checkbox" name="checkAll" /></th>
                            <th>GTAC ID</th>
                            <th>Sample Name</th>
                            <th>Client</th>
                            <th>Date</th>
                            <th>Grouping</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="column-left">
            <div class="content-box">
                <div class="content-box-header">
                    <h3 class="section">Contact and Billing Info</h3></div>
                <div class="content-box-content">
                    <p>{{ form.client.label }}: {{ form.client }} <span class="client-type"></span></p>
                    
                    <fieldset id="contact">
                        <div class="billing external">
                            <div id="lab-location">
                                <div><span class="head">Institution:</span><span id="institution"></span></div>
                            </div>
                            <table>
                                {% trfield form.po_num %}
                                {% trfield form.po_file %}
                            </table>
                        </div>
                        <div class="billing internal">
                            <div id="lab-location">
                                <div><span class="head">Campus box:</span><span id="campus"></span></div>
                            </div>
                            <table id="bill">
                                <thead>
                                    <tr><th> Department </th><th> Fund </th></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% tdfield billform.department %}
                                        {% tdfield billform.fund %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3 style="padding: 2em 0 .5em;" class="billing internal">Associations</h3>
                        {{ billassocformset.management_form }}
                        <table class="billing internal" id="billassoc">
                        {% for f in billassocformset %}
                            {% if forloop.first %}
                            <thead>
                                <tr>
                                    {% thfield f.association %}
                                    <th>Association grant/<br/>Project Id</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>    
                            {% endif %}
                                <tr tagName="TR">
                                    {% tdfield f.association %}
                                    <td>{{ f.association_grant }} {{ f.project_id}}</td>
                                    <td></td>
                                </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>

            <div class="content-box billing internal" id="ictsassoc">
                <div class="content-box-header">
                    <h3 class="section">ICTS submission form</h3>
                </div>
                <div class="content-box-content">
                <input type="checkbox" name="previous-icts-data" value="previous" > Fetch Previous Data
                {{ ictsassocformset.management_form }}
                {% for f in ictsassocformset %}
                    <table >
                        {% trfield f.investigator_first_name %}
                        {% trfield f.investigator_last_name %}
                        {% trfield f.fund_grant_number %}
                        {% trfield f.funding_agency %}
                        {% trfield f.grant_title %}
                        {% trfield f.grant_pi_first_name %}
                        {% trfield f.grant_pi_last_name %}
                        <tr>
                            <td colspan="2" id="status">
                                {{ f.approval_status.label }}
                                {{ f.approval_status }}
                            </td>
                            {% tdErrorfield f.approval_status %}
                        </tr>
                        {% trfield f.active_protocol_title 'approval'%}
                        {% trfield f.active_number 'approval'%}
                        {% trfield f.approval_date 'approval'%}
                        {% trfield f.iacuc_number %}
                        {% trfield f.iacuc_approval_date 'datepicker' %}
                        <tr>
                            <td colspan="2" id="research">
                                {{ f.research.label }}
                                {{ f.research }}
                            </td>
                            {% tdErrorfield f.research %}
                        </tr>
                    </table>
                {% endfor %}
                </div>
            </div>

            <div class="content-box">
                <div class="content-box-header">
                    <h3 class="section">Services</h3></div>
                <div class="content-box-content">
                    <table>
                        {% trfield form.partial_prep %}
                        {% trfield form.prep_type %}
                        {% trfield form.run_type %}
                        {% trfield form.analysis_pipeline %}
                    </table>
                </div>
            </div>

            <div class="content-box">
                <div class="content-box-header">
                    <h3 class="section">Library Prep Information</h3></div>
                <div class="content-box-content">
                  <h3> Attachments </h3>
                  <div style="border:1px solid #e5e5e5; overflow: auto;">
                    <fieldset id="libprep">
                        {{ attachmentformset.management_form }}
                        <table>
                        {% for f in attachmentformset %}
                            <tr>
                                <th>Description:</th>
                                {% tdfield f.name %}
                                {% tdfield f.attachment %}
                            </tr>
                        {% endfor %}
                        </table>
                    </fieldset>
                  </div>
                </div>
            </div>

            <div class="content-box">
                <div class="content-box-header">
                    <h3 class="section">Sequencing Information</h3></div>
                <div class="content-box-content">
                    <fieldset id="seq">
                        <table>
                            {% trfield form.multiplexing %}
                            {% trfield form.lanes_per_sample 'multiplex' %}
                            {% trfield form.samples_per_lane 'multiplex' %}
                            {% trfield form.lanes_per_pool %}
                            {% trfield form.phix_spike_per_sample 'dir_to_seq' %}
                            {% trfield form.index_length_per_sample 'dir_to_seq' %}
                            {% trfield form.primer 'dir_to_seq' %}
                            {% trfield form.dts_preptype 'dir_to_seq' %}
                        </table>
                    </fieldset>
                </div>
            </div>

            <div id="analysis" class="content-box">
                <div class="content-box-header">
                    <h3 class="section">Analysis Information</h3></div>
                <div class="content-box-content">
                    <fieldset>
                        <table>
                            {% trfield form.analysis_species %}
                            {% trfield form.analysis_manual %}
                            {% trfield form.analysis_notes %}
                            <tr>
                                <td> Contact: </td>
                                <td> {{ form.contact }}                                
                                    <div style="float: right; margin-top: 0px;">
                                        <a href="#modal" rel="modal:open" class="button">Add Client</a>
                                    </div>
                                    <div id="modal">
                                        <iframe src="/client/add?is_ajax=true" style="width: 100%;height: 100%;"></iframe>
                                    </div>
                                </td>
                                <td> &nbsp; </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>

            <div class="content-box">
                <div class="content-box-header">
                    <h3 class="section">Notes</h3></div>
                <div class="content-box-content">
                    {% formfield form.notes %}
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <input type="submit">
        </form>
    </div>
{% endblock content %}
