<h2>{{ sample.sample.name }}</h2>

<table>
<tr><th>Client:</th><td> {{ sample.submission.client.name }}</td></tr>
<tr><th>Prep Type:</th><td> {{ sample.libprep.preptype }}</td></tr>
<tr><th>Sequencing Run Type:</th><td> {{ sample.seq.runtype }}</td></tr>
<tr><th>Species:</th><td> {{ sample.sample.organism }}</td></tr>
<tr><th>Submitted:</th><td> {{ sample.submission.submitted }}</td></tr>
</table>

