{% extends "sts/base.html" %}
{% load static from staticfiles %}
{% block css %}
{{ block.super }}
<style>
	#showOnly {
		margin-bottom: 10px;
	}
	
	#showOnly span {
		font-weight: bold;
	}
</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    var oTable;
	$(function() {
		var directToSeq = false;
		oTable = $('table').dataTable({
			"bServerSide": true,
			"sAjaxSource": "",
			'bStateSave': true,
			"sScrollX": "100%",
			"bProcessing": true,
			"fnServerParams": function ( aoData ) {
						aoData.push({"name":"directToSeq", 'value': directToSeq});
			}
		});
		
		$("input[name=direct-to-seq]").change(function(){ directToSeq = this.checked; oTable.fnDraw();});
	});
</script>
<script type="text/javascript" src="{% static 'js/common_datatable.js' %}"></script>
{% endblock js %}

{% block content %}
<div class="content-box">
	<div class="content-box-header">
		<h3>Browse Samples</h3>
	</div>
	<div class="content-box-content">
		<div id="showOnly">
			<input type="checkbox" name="direct-to-seq" value="" />
			<span>Show Only Direct-to-sequencing</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>GTAC ID</th>
					<th>Name</th>
					<th>Prep Type</th>
					<th>SeqSamples</th>
					<th>Projects</th>
					<th>Analysis</th>
					<th>Lab</th>
					<th>Specimen Submitted</th>
					<th>Submitted to NextGen</th>
					<th>Analysis Complete</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
{% endblock content %}
