{% extends "sts/base.html" %}
{% load formutil %}
{% load static from staticfiles %}
{% block css %}
{{ block.super }}
<style>
	#main-content ul li {background: none; padding: 3px 0;}
	.module {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; margin-top:25px;}
	.module:before, .module:after {content:" "; display:table;}
	.module:after{clear:both;}
	.module:first-child{margin-top:0;}
	.module>.mod-header:before, .module>.mod-header:after{content:" ";display:table;}
	.module>.mod-header:after{clear:both;}
	.module>.mod-header>h1, .module>.mod-header>h2, .module>.mod-header>h3, .module>.mod-header>h4, .module>.mod-header>h5, .module>.mod-header>h6{margin-top:0;}
	.module>.mod-header+.mod-content{margin: 10px 0 0 10px;}
	.module>.mod-content:before, .module>.mod-content:after{content:" ";display:table;}
	.module>.mod-content:after{clear:both;}
	.module>.mod-header {background: url('{% static 'img/line.png' %}') repeat-x scroll 0 10px;}
	.module.toggle-wrap .toggle-title {background-position:-1000px -1000px;}
	.toggle-wrap .toggle-title {padding-left: 20px; position: relative;}
	.toggle-wrap h2.toggle-title {background-position: 3px 7px;}
	.module.toggle-wrap .toggle-title:hover, .module.toggle-wrap.collapsed .toggle-title {background-position:5px 50%;}
	.toggle-wrap .toggle-title {background-image: url({% static 'img/downArrow.png' %}); background-repeat: no-repeat; cursor: pointer;}
	.toggle-wrap.collapsed .toggle-title {background-image: url({% static 'img/rightArrow.png' %});}
	.toggle-wrap .toggle-title {margin-left: -20px; display: inline-block;}
	.toggle-wrap .mod-content {display: block;}
	.toggle-wrap.collapsed .mod-content {display: none;}
	.issue-body-content .module>.mod-header>h1, .issue-body-content .module>.mod-header>h2, .issue-body-content .module>.mod-header>h3, .issue-body-content .module>.mod-header>h4, #sample-detail.module>.mod-header>h5, .module>.mod-header>h6 {
		background-color: #fff;
		font-size: inherit;
		font-weight: bold;
		padding-right: 5px;
	}
	.issue-body-content h2 {
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		margin: 40px 0 0 0;
		padding: 0;
	}
	.property-list {display: block; margin: 0; list-style: none; padding: 0;}
	.property-list .wrap {padding: 0 10px 0 200px;}
	.property-list .wrap .name {float: left; margin-left: -200px; }
	.property-list>li {margin: 1px 0 0 0; padding: 0; position: relative;}
	.item {box-sizing: border-box; clear: left; float: left; width: 50%;}
	.item-right {clear: right; float: right;}
	.property-list .item .name {text-align: left;}
	strong {font-weight: bold; color: #333;}
	
	.property-list .item .value {
		word-wrap: break-word;
		word-break: break-word;
		display: inline-block;
		max-width: 100%;
		padding-bottom: 2px;
		padding-left: 5px;
		padding-top: 2px;
		position: relative;
		vertical-align: top;
	}
	
	.property-list .item .name {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		word-wrap: break-word;
		word-break: break-word;
		color: #707070;
		display: inline-block;
		font-weight: normal;
		padding: 2px 5px 2px 0;
		padding-right: 5px;
		text-align: right;
	}
	
	#main-content .mod-content th {
		font-size: 13px;
		font-weight: normal;
		border: none;
	}
	
	#main-content .mod-content table {
		border-radius: 0 6px 6px 6px;
		border-spacing: 1px;
		border-collapse: separate;
	}
	
	fieldset {
		margin-top: 10px;
		padding:0 10px 10px 20px; 
		border: 1px solid #ccc;
	}
	
	legend {
		font-size: 13px;
		font-weight: bold;
		color: #222;
	}
	
	.data-table-title {
		color: #222;
		font-size: 13px;
		font-weight: bold;
		margin-top: 10px;
		border: 1px solid #ccc;
		float: left;
		padding: 5px;
		border-radius: 3px 3px 0 0;
		margin-bottom: -2px;
		border-bottom-color: white;
		background-color: white;
	}
</style>
{% endblock css %}

{% block js %}
<script>
	$(document).ready(function(){
		$(".toggle-title").click(function(){
			$(this).parent().parent().toggleClass('collapsed');
			$(this).parent().parent().toggleClass('expanded')
		});
	});
	
</script>
{% endblock js %}
{% block content %}
<div class="content-box">
	<div class="content-box-header">
		<h3>Sample: {{ sample }}</h3>
	</div>
	<div class="content-box-content" >
		<div id="sample-detail" class="issue-body-content">
			<div class="module toggle-wrap expanded">
				<div id="details-module_heading" class="mod-header">
					<h2 class="toggle-title">Details</h2>
				</div>
				<div class="mod-content">
					<ul class="property-list">
						<li class="item">
							<div class="wrap">
								<strong class="name">GTAC ID : </strong>
								<span class="value">{{ sample.specimen.gtac_id }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Name : </strong>
								<span class="value">{{ sample }}</span>
							</div>
						</li>
						<li class="item ">
							<div class="wrap">
								<strong class="name">Submitted By : </strong>
								<span class="value">{{ sample.specimen.submitted_by.name }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Lab: </strong>
								<span class="value">{{ sample.specimen.submitted_by.lab }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Submitted Date : </strong>
								<span class="value">{{ sample.specimen.submitted }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Organism : </strong>
								<span class="value">{{ sample.specimen.organism }}</span>
							</div>
						</li>
						<li class="item ">
							<div class="wrap">
								<strong class="name">Submitted Concentration: </strong>
								<span class="value">{{ sample.specimen.submitted_concentration }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Loading Concentration: </strong>
								<span class="value">{{ sample.specimen.loading_concentration }}</span>
							</div>
						</li>
						<li class="item ">
							<div class="wrap">
								<strong class="name">Status: </strong>
								<span class="value">{{ sample.libprep.status }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Index : </strong>
								<span class="value">{% for index in sample.libprep.index.all %} {{ index.name}}, {% endfor%}</span>
							</div>
						</li>
						<li class="item ">
							<div class="wrap">
								<strong class="name">Are Samples self-prepped?: </strong>
								<span class="value">{{ sample.specimen.self_prepped }}</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="module toggle-wrap expanded">
				<div id="details-module_heading" class="mod-header">
					<h2 class="toggle-title">NextGen Submission</h2>
				</div>
				<div class="mod-content">
					<ul class="property-list">
						<li class="item">
							<div class="wrap">
								<strong class="name">Date Submitted: </strong>
								<span class="value">{{ sample.submission.submitted}}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Prep Type: </strong>
								<span class="value">{{ spd.preptype }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Run type: </strong>
								<span class="value">{{ sample.seq.runtype }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Note: </strong>
								<span class="value">{{ sample.submission.notes.all.0.note }}</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="module toggle-wrap expanded">
				<div id="details-module_heading" class="mod-header">
					<h2 class="toggle-title">Sequencing Information</h2>
				</div>
				<div class="mod-content">
					<ul class="property-list">
						<li class="item">
							<div class="wrap">
								<strong class="name">Multiplex Type: </strong>
								<span class="value">{{ spd.multiplex_type }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Number of Lanes : </strong>
								<span class="value">{{ sample.seq.num_lanes }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">PhiX Spike-in: </strong>
								<span class="value">{{ sample.seq.phix_spike }}</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="module toggle-wrap expanded">
				<div id="details-module_heading" class="mod-header">
					<h2 class="toggle-title">Analysis Information</h2>
				</div>
				<div class="mod-content">
					<ul class="property-list">
						<li class="item ">
							<div class="wrap">
								<strong class="name">Analysis Type: </strong>
								<span class="value">{{ sample.analysis.pipeline }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Species: </strong>
								<span class="value">{{ sample.analysis.species }}</span>
							</div>
						</li>
						<li class="item ">
							<div class="wrap">
								<strong class="name">Manual: </strong>
								<span class="value">{{ sample.analysis.manual }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Analysis Notes:</strong>
								<span class="value">{{ sample.analysis.notes.all.0.note }}</span>
							</div>
						</li>
						{% if sample.analysis.analysis_clients.all.count > 0 %}
						<li class="item ">
							<div class="wrap">
								<strong class="name">Contact: </strong>
								{% for client in sample.analysis.analysis_clients.all %}
								<span class="value">{{ client.name }}</span>,
								{% endfor %}
							</div>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		{% for project in spd.projects.all %}
			<div class="module toggle-wrap expanded">
				<div id="details-module_heading" class="mod-header">
					<h2 class="toggle-title">Project {{ project.id }}</h2>
				</div>
				<div class="mod-content">
					<ul class="property-list">
						<li class="item">
							<div class="wrap">
								<strong class="name">Name: </strong>
								<span class="value">{{ project.name }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Labs: </strong>
								<span class="value">{{ project.pretty_labs }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Preptype Version: </strong>
								<span class="value">{{ project.preptypeversion }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Status: </strong>
								<span class="value">{{ project.status }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Qc owner: </strong>
								<span class="value">{{ project.assigned_to }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Prep owner: </strong>
								<span class="value">{{ project.prep_owner }}</span>
							</div>
						</li>
					</ul>
					<div class="clear"></div>
					{% if project.prepdata.count %}
					<fieldset>
						<legend>Prep Steps:</legend>
						{% for ps in project.steps.all %}
							{%if ps|has_data:project %}
								<div class="module toggle-wrap expanded" >
									<div id="details-module_heading" class="mod-header">
										<h2 class="toggle-title">{{ ps.name }}</h2>
									</div>
									<div class="mod-content">
										{% with prepdata=project.prepdata|get_global_prepdata:ps %}
											{% if prepdata %}
												<ul class="property-list">
													{% for key, value in prepdata %}
														<li class="item {% cycle '' 'item-right' %}">
															<div class="wrap">
																<strong class="name">{{ key }} :</strong>
																<span class="value">{{ value }}</span>
															</div>
														</li>
													{% endfor%}
												</ul>
											{% endif %}
										{% endwith %}
										<div class="clear"></div>
										<div class="data-table-title">Per Sample Data</div>
										{% with prepdata=spd.prepdata|get_prepdata:ps %}
											{% if prepdata %}
												<table>
													<thead>
														<tr>
															{% for pdd in ps|get_prepdatadef %}
																<th>{{ pdd.label }}</th>
															{% endfor%}
														</tr>
													</thead>
													<tbody>
													{% for key, data in prepdata %}
														<tr>
															{% for value in data %}
																<td>{{value}}</td>
															{% endfor %}
														</tr>
													{% endfor %}
													</tbody>
												</table>
											{% endif %}
										{% endwith %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</fieldset>
					{% endif %}
				</div>
			</div>
		{% endfor %}
		{% for ssd in seqSampleDetail %}
			<div class="module toggle-wrap expanded">
				<div id="details-module_heading" class="mod-header">
					<h2 class="toggle-title">Sequencing Sample {{ ssd.sequencingsample }}</h2>
				</div>
				<div class="mod-content">
					<ul class="property-list">
						<li class="item">
							<div class="wrap">
								<strong class="name">Loading concentration: </strong>
								<span class="value">{{ ssd.sequencingsample.loading_concentration }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Submitted concentration: </strong>
								<span class="value">{{ ssd.sequencingsample.submitted_concentration }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Primer: </strong>
								<span class="value">{{ ssd.sequencingsample.primer }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Submitted to sequencing:</strong>
								<span class="value">{{ ssd.sequencingsample.submitted_to_sequencing }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Concentration: </strong>
								<span class="value">{{ ssd.sequencingsample.concentration }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Size: </strong>
								<span class="value">{{ ssd.sequencingsample.size }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Upload Trace: </strong>
								<span class="value">{{ ssd.sequencingsample.upload_trace }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">QPCR Molarity: </strong>
								<span class="value">{{ ssd.sequencingsample.qpcr_molarity }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Qubit Molarity: </strong>
								<span class="value">{{ ssd.sequencingsample.qubit_molarity }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">BioA Molarity: </strong>
								<span class="value">{{ ssd.sequencingsample.bioa_molarity }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Index: </strong>
								<span class="value">{% for index in ssd.sampleprepdetail.index.all %}{{index.name}}, {% endfor %}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">% Pool: </strong>
								<span class="value">{{ ssd.percent_of_pool }}</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		{% endfor %}
			
		{% for ssd in seqSampleDetail %}
			{% for lane in ssd.sequencingsample.sequencing_sample.all %}
			<div class="module toggle-wrap expanded">
				<div id="details-module_heading" class="mod-header">
					<h2 class="toggle-title">Run-Flowcell</h2>
				</div>
				<div class="mod-content">
					<ul class="property-list">
						<li class="item">
							<div class="wrap">
								<strong class="name">Run Number: </strong>
								<span class="value">{{ lane.flowcell.run }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Serial Number: </strong>
								<span class="value">{{ lane.flowcell }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">cBot: </strong>
								<span class="value">{{ lane.flowcell.cluster_station }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Runtype: </strong>
								<span class="value">{{ lane.flowcell.runtype }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">SBS Box 1 Lot #: </strong>
								<span class="value">{{ lane.flowcell.sbs_box1_lot }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">SBS Box 2 Lot #: </strong>
								<span class="value">{{ lane.flowcell.sbs_box2_lot }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Index Lot #: </strong>
								<span class="value">{{ lane.flowcell.index_lot }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">cBot Lot #: </strong>
								<span class="value">{{ lane.flowcell.cbot_lot }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Manifold Lot #: </strong>
								<span class="value">{{ lane.flowcell.manifold_lot }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Turnaround Lot #: </strong>
								<span class="value">{{ lane.flowcell.turnaround_lot }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Rehyb Lot #: </strong>
								<span class="value">{{ lane.flowcell.rehyb_lot }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Generation Date: </strong>
								<span class="value">{{ lane.flowcell.date }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Manifold: </strong>
								<span class="value">{{ lane.flowcell.run.manifold.name }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Sequencing date: </strong>
								<span class="value">{{ lane.flowcell.run.sequencing_date }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Index Length: </strong>
								<span class="value">{{ lane.flowcell.run.index_length}}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Run status: </strong>
								<span class="value">{{ lane.flowcell.run.status }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Lane Number: </strong>
								<span class="value">{{ lane.num }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Phix Spike-in: </strong>
								<span class="value">{{ lane.phix_spike }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Loading concentration: </strong>
								<span class="value">{{ lane.loading_concentration }}</span>
							</div>
						</li>
						<li class="item item-right">
							<div class="wrap">
								<strong class="name">Primer: </strong>
								<span class="value">{{ lane.primer }}</span>
							</div>
						</li>
						<li class="item">
							<div class="wrap">
								<strong class="name">Percent of lane: </strong>
								<span class="value"></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			{% endfor %}
		{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}
