{% extends "sts/base.html" %}

{% block title %}Specimen Submission{% endblock title %}

{% block css %}

 {% load static from staticfiles %}
 <link rel="stylesheet" href="{% static 'css/jquery.handsontable.full.css' %}" 
    type="text/css" media="screen" />
 <link rel="stylesheet" href="{% static 'css/jquery.handsontable.removeRow.css' %}" 
    type="text/css" media="screen" />
 
<style>
    #contact table th {
        width: 200px;
    }
    #contact table td {
        width: 100px;
    }
    
    #selfpfTable table th, 
    #selfpfTable table td,
    #regTable table th, 
    #regTable table td {
        padding: 0 4px 0 4px;
    }
    
    .ui-widget {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
    
    .ui-combobox {
        position: relative;
        display: inline-block;
    }
    .ui-button {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* adjust styles for IE 6/7 */
        *height: 1.7em;
        *top: 0.1em;
    }
    .ui-autocomplete-input {
        margin: 0;
        padding: 0.3em;
    }
    
    .column-left{
        width: 65%;
    }
    
    .content-box-content table tr th {
        width: 50%;
        font-weight: bold;
    }
    
    #client-type {
        padding-left: 35px;
    }
</style>
{% endblock css %}
{% block js %}
    <script type="text/javascript" src="{% static 'scripts/jquery.handsontable.full.js' %}"></script>
{{ block.super }}

<script type="text/javascript">
    var clients = {{ clients|safe }}

    $(function() {
        function check() {
            if ( $("#id_detail-is_selfprepped").val() == "True" ) {
                $("#id_detail-will_upload").attr('checked', false);
                $("#field_will_upload").hide();
                $("#reg").hide();
                $(".upload").hide();
                $("#selfprepped").show();
            } else if ( $("#id_detail-will_upload").is(':checked') ) {
                $("#reg").hide();
                $(".upload").show();
                $("#selfprepped").hide();
            } else {
                $("#field_will_upload").show();
                $("#reg").show();
                $(".upload").hide();
                $("#selfprepped").hide();
            }
        }

        $("#id_detail-is_selfprepped").change(function() {
            check();
        });
        $("#id_detail-will_upload").click(function() {
            check();
        });
        check(); 
        
        $('#id_detail-client').change(function() {
            $('#campus, #dept, #institution').hide();
            var clientId = $(this).val()
            if(clientId == ''){
                $('#client-type').html('')
                return;
            }
            if(clients[clientId][0] != 'None') {
                $('#campus td:eq(0)').html(clients[clientId][0]);
                $('#dept td:eq(0)').html(clients[clientId][1]);
                $('#client-type').html('Internal Client')
                $('#campus, #dept').show();
            }else {
                $('#client-type').html('External Client')
                if(clients[clientId][2] != ''){
                    $('#institution td:eq(0)').html(clients[clientId][2]);
                    $('#institution').show();
                }
            }
        });

		$("body").keydown(function(e){
			if(e.ctrlKey && e.keyCode == 68){
			    var $that = $(".handsontable td.current");
				var value = $that.parent().prev().find("td:eq("+ ($that.index() - 1)+")").html();
				if(value) { 
				    var hTable = $('#selfpfTable').handsontable('getSelected');
                                    var row = hTable[0];
                                    var col = hTable[1];
				    $('#selfpfTable').handsontable('setDataAtCell', row, col, value);
				}
				e.preventDefault();
			}
		});
        
        $('#campus, #dept, #institution').hide();
        $("select").combobox();
    });
</script>
{% endblock js %}

{% block messages %}
    {{ block.super }}
    {% if form.errors or sampformset.errors or billform.errors %}
    <div class='notification error png_bg'>
        <a href="#" class="close">
            <img src="{% static 'images/icons/cross_grey_small.png' %}" 
                title="Close this notification" alt="close"></a>
        <div>Please fill out the form as indicated below.</div>
    </div>
    {% endif %}
    {% if messages %}
		<div class='notification success png_bg'>
			<a href="#" class="close">
				<img src="{% static 'images/icons/cross_grey_small.png' %}" 
					title="Close this notification" alt="close"></a>
			{% for message in messages %}			
			<div>{{ message }}</div>
			{% endfor %}
		</div>
	{% endif %}
    {% if upfile_errors  %}
    <div class='notification error png_bg'>
        <a href="#" class="close">
            <img src="{% static 'images/icons/cross_grey_small.png' %}" 
                title="Close this notification" alt="close"></a>
        <div>
            <table>
            {% for err in upfile_errors %}
                <tr>
                    <td>
                        {{ err }}
                    </td>
                </tr>
            {% endfor %}  
            </table>
        </div>
    </div>
    {% endif %}
{% endblock messages %}


{% block content %}
    <h2>Specimen Submission</h2>
    <div id="submit">
        {% load formutil %}
        <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}

            <div class="content-box column-left">
                <div class="content-box-header">
                    <h3 class="section">Detail</h3>
                </div>
                <div class="content-box-content">
                    <table style="width: 100%">
                        <tr>
                            {% thfield form.client %}
                            <td>{{ form.client }}<span id="client-type"></span></td>
                        </tr>
                        <tr id="campus">
                            <th class="first">Campus box:</th><td></td>
                        </tr>
                        <tr id="dept">
                            <th class="first">Department Number:</th><td></td>
                        </tr>
                        <tr id="institution">
                            <th class="first">Instituion:</th><td></td>
                        </tr>
                        <tr>
                            {% thfield form.is_selfprepped %}
                            {% tdfield form.is_selfprepped %}
                        </tr>
                        <tr id="field_will_upload">
                            {% thfield form.will_upload %}
                            {% tdfield form.will_upload %}
                        </tr>

                        <tr class="upload">
                            <th>{{ prepspecimenuploadform.file.label }}
                                <p><a href="{% url 'submission-96-csv' %}">Download Submission Form</a></p>
                            </th>
                            <td> {{ prepspecimenuploadform.file }} </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="clear"></div>           
        
            <div class="content-box" id="reg">
                <div class="content-box-header">
                    <h3 class="section">Un-Prepped Specimens</h3>
                </div>
                <div class="content-box-content">
                    <div id="regTable" class="handsontable"></div>
                </div>
            </div>
            
            <div class="clear"></div>
            
            <div class="content-box" id="selfprepped">
                <div class="content-box-header">
                    <h3 class="section">Self Prepared Specimens</h3>
                </div>
                <div class="content-box-content">
                    <div id="selfpfTable" class="handsontable"></div>
                </div>
            </div>
            
            <div class="clear"></div>            
            
            <input type="hidden" name="specimenData" value=""/>
            <input type="submit" id="submit" >
        </form>
    </div>
    <script>
        var regContainer = $("#regTable");

        regContainer.handsontable({
            startRows: 4,
            startCols: 4,
            minRows: 4,
            minCols: 4,
            rowHeaders: true,
            colHeaders: ["Name", "Organism", "Submitted concentration", "Submitted volume"],
           // colWidths: [20, 20, 20, 20],
            minSpareRows: 1,
            contextMenu: true,
            RemoveRow: true
        });
        
        var selfContainer = $("#selfpfTable");

        selfContainer.handsontable({
            startRows: 4,
            startCols: 4,
            minRows: 4,
            minCols: 4,
            rowHeaders: true,
            colHeaders: ["Name", "Organism", "Submitted concentration", "Loading concentration"],
           // colWidths: [20, 20, 20, 20],
            minSpareRows: 1,
            contextMenu: true,
            RemoveRow: true
        });
        
        $('#submit').bind('click', function() {
            var data
            if($("#id_detail-is_selfprepped").val() == "True") {
                data = JSON.stringify({"data": selfContainer.data('handsontable').getData()});
            } else {
                data = JSON.stringify({"data": regContainer.data('handsontable').getData()});
            }
            $('input[name|="specimenData"]').val(data);
        });
                
    </script>
{% endblock content %}
