{% extends "sts/base.html" %}
{% load static from staticfiles %}
{% block css %}
{{ block.super }}
<style>
	#showOnly {
		margin-bottom: 10px;
	}
	
	#showOnly span {
		font-weight: bold;
	}
</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    var oTable;
	$(function() {
		oTable = $('table').dataTable({
			"bServerSide": true,
			"sAjaxSource": "",
			'bStateSave': true,
			"sScrollX": "87%",
			"bProcessing": true,
			"aoColumns": [ { sWidth: '18%' }, { sWidth: '15%' }, { sWidth: '15%' }, { sWidth: '19%' }, { sWidth: '20%'}, { sWidth: '12%' }, ],
			"fnServerParams": function ( aoData ) {
						var directToSeq = $('input[name=direct-to-seq]').is(':checked')
						aoData.push({"name":"directToSeq", 'value': directToSeq});
			    }
		});
		
		$("input[name=direct-to-seq]").change(function(){ oTable.fnDraw();});
		
		$("button[name='spreddsheet']").click(function(){ 
			$('<form action="{%  url 'sample.views.submission_report' %}"></form>')
					.appendTo(document.body).submit().remove();
		})
	});
</script>
<script type="text/javascript" src="{% static 'js/common_datatable.js' %}"></script>
{% endblock js %}

{% block content %}
<div class="spreddsheet"><button type="button" name="spreddsheet" class="button" >Generate Spreadsheet </button></div>
<div class="content-box">
	<div class="content-box-header">
		<h3>Browse NextGen Submissions</h3>
	</div>
	<div class="content-box-content">
		<div id="showOnly">
			<input type="checkbox" name="direct-to-seq" value="" />
			<span>Show Only Direct-to-sequencing</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>Date Submitted</th>
					<th>GTAC ID Range</th>
					<th>Lab</th>
					<th>Client</th>
					<th>Prep Type</th>
					<th># Samples</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
{% endblock content %}
