{% for n in submission.notes.all %}
    <li class="note"><span class="created">{{ n.created|date:"d-m-Y (H:i)" }}</span> <span class="author">{{ n.author.name }}</span> <div>{{ n.note }}</div></li>
{% endfor %}
