{% extends "sts/base.html" %}

{% block css %}
{{ block.super }}
<style>
    .ui-combobox {
        position: relative;
        display: inline-block;
    }
    
    .ui-button {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* adjust styles for IE 6/7 */
        *height: 1.7em;
        *top: 0.1em;
        }

    .ui-autocomplete-input {
        margin: 0;
        padding: 0.3em;
    }

    .note{
      border: 1px solid #ccc;
      margin-top: 5px;
      padding: 5px;
      border-radius: 5px;
   }
</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script>
	function load_notes() {
		$('#note-list').load('{% url 'submission-note-list' submission.id %}');
		setTimeout(function(){
			if ($('#note-list').html().length < 5){
				open_note();
			}
		}, 500);
	}
	function close_note(callback) {
		$("#note-form").animate({
			height: 'hide',
			opacity: 'hide'
		}, callback);
		$('#note-list').fadeIn();
		$('.add').fadeIn();
		$('.cancel').fadeOut();
	}
	function open_note(callback) {
		$("#note-form").animate({
			height: 'show',
			opacity: 'show'
		}, callback);
		$('#note-list').fadeOut();
		$('.add').fadeOut();
		$('.cancel').fadeIn();
	}

	$(function() {
		//$("#submission-notes h2, #submission-info h2").ribbon();
		$('#note-form').hide().ajaxForm({
			clearForm: true,
			success: function() {
				close_note(function() {
					load_notes();
				});
			}
		});
		$('.add').click(function(e) { open_note(); e.preventDefault(); });
		$('.cancel').click(function(e) { close_note(); e.preventDefault(); });
		load_notes();
		$("select").combobox();
	});
</script>
{% endblock js %}

{% block content %}
<div id="submission-detail">
	<h1>Submission {{ submission.id }}</h1>

	<div class="content-box column-left">
		<div class="content-box-header">
			<h3>Submission Details</h3>
		</div>
		<div class="content-box-content">
			<div id="submission-info">
				<table>
					<tr>
						<th>Client</th>
						<td>{{ submission.client }}</td>
					</tr>
					<tr>
						<th>Date Submitted</th>
						<td>{{ submission.submitted }}</td>
					</tr>
					<tr>
						<th>Prep Type{{ submission.preptypes|pluralize:"s" }}</th>
						<td><span title="{{ submission.preptypes.0.submission_guidelines|escapejs }}">{{ submission.preptypes.0.name }}</span></td>
					</tr>
					<tr>
						<th>Run Type</th>
						<td>{{ submission.sample_set.all.0.seq.runtype.name }}</td>
					</tr>
					<tr>
						<th># of samples</th>
						<td>{{ submission.sample_set.count }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


	<div class="content-box column-right">
	    <div class="content-box-header">
		<ul class="content-box-tabs">
		    <li><a href="#notes" {% if not changeTypeForm.errors %} class="default-tab current" {% endif%}> Notes </a></li>
		    <li><a href="#change-status" {% if changeTypeForm.errors %} class="current" {% endif%} >Change Types</a></li>
		</ul>
		<div class="clear"></div>
	    </div>
	    <div class="content-box-content">
		<div class="tab-content  {% if not changeTypeForm.errors %}default-tab{% endif %}" id="notes">
		    <a class="button add" href=""> Add Note </a>
		    <form id="note-form" action="{% url 'submission-note' %}" method="post">{% csrf_token %}
			{{ submission_note_form }}
			<input type="submit" value=" Add Note " class="button"> 
  		        <a class="button cancel" href="" style="display:none"> Cancel </a>
		    </form>
		    <ul style="overflow: auto;" id="note-list"></ul>

		</div>
		<div class="tab-content  {% if changeTypeForm.errors %}default-tab{% endif %}" id="change-status">
		    {% load formutil %}
                    <table>
			<form method="POST" action="">{% csrf_token %}
			    {% trfield change_type_form.prep_type %}
			    {% trfield change_type_form.run_type %}
			    <tr>
				<td colspan="3"><input type="Submit" value="Update" class="button"/></td>
			    </tr>
			</form>
		     </table>
		</div>
	    </div>
	</div>
	<div class="clear"></div>
	<div id="submission-notes">
		<div class="content-box column-right">
			<div class="content-box-header">
				<h3>Billing</h3>
			</div>
			<div class="content-box-content">
				<table>
				{% if submission.billing.all.0.purchase_order %}
					<thead>
						<tr><th>PO#</th><th>File</th></tr>
					</thead>
					<tr>
						<td>{{ submission.billing.all.0.purchase_order.number }}</td>
						<td>
							{% if submission.billing.all.0.purchase_order.file %}
								<a class="button" href="{{ submission.billing.all.0.purchase_order.file.url }}">Purchase Order</a>
							{% endif %}
						</td>
					</tr>
					
				{% endif %}
				{% for assoc in submission.billing.all.0.associations.all %}
					{% if forloop.first %}
						<thead>
							<tr><th>Supplementary Funds</th><th>Association grant / Project Id</th></tr>
						</thead>
					{% endif %}
						<tr>
							<td>{{ assoc.association }}</td>
							<td>
								{% if assoc.association_grant %}
									{{ assoc.association_grant }}
								{% else %}
									{{ assoc.project_id }}
								{% endif %}
							</td>
						</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div id="libprep">
		<div class="content-box column-left">
			<div class="content-box-header">
				<h3>Library Core</h3>
			</div>
			<div class="content-box-content">
				<p><b>Primary Contact:</b> {{ submission.sample_set.all.0.libprep.assigned_to }}</p>

				<table id="sample-list">
				<thead>
					<tr><th>GTAC ID</th><th>Sample</th></tr>
				</thead>
				{% for sample in submission.sample_set.all %}
					<tr><td>{{ sample.specimen.gtac_id }}</td><td>{{ sample }}</td></tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
        <div class="clear"></div>
        <div id="analysisInformation">
                <div class="content-box column-left">
                        <div class="content-box-header">
                                <h3>Analysis Information</h3>
                        </div>
                        <div class="content-box-content">
				{% with submission.sample_set.all.0 as sample %}
				<table>
					<tr>
						<td> <strong class="name">Analysis Type: </strong> </td>
						<td> {{ sample.analysis.pipeline }} </td>
					</tr>
					<tr>
						<td> <strong class="name">Species: </strong> </td>
						<td> {{ sample.analysis.species }} </td>
					</tr>
					<tr>
						<td> <strong class="name">Manual: </strong> </td>
						<td> {{ sample.analysis.manual }} </td>
					</tr>
					<tr>
						<td> <strong class="name">Analysis Notes: </strong> </td>
						<td> {{ sample.analysis.notes.all.0.note }} </td>
					</tr>
					<tr>
						<td> <strong class="name">Contacts: </strong> </td>
						<td>
							{% if sample.analysis.analysis_clients.all.count > 0 %}
                                                        <ul>
                                                                {% for client in sample.analysis.analysis_clients.all %}
                                                                        <li> {{ client.name }} </li>
                                                                {% endfor %}
                                                        </ul>
		                                        {% endif %}
						 </td>
					</tr>
				</table>
				{% endwith %}
                        </div>
                </div>
        </div> 
	<div class="clear"></div>
</div>

{% endblock content %}
