<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block title %}{% endblock title %}</title>
	<meta name="description" content="">

        {% load static from staticfiles %}
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% block css %}{% endblock css %}
	<script src="{% static 'js/libs/modernizr-2.5.3.min.js' %}"></script>
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">{% block body %}
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
  {% block header %}{% endblock header %}
  </header>
  {% block precontent %}{% endblock precontent %}
  <div role="main">
  {% block maincontent %}{% endblock maincontent %}
  </div>
  {% block postcontent %}{% endblock postcontent %}
  <footer>
  {% block footer %}{% endblock footer %}
  </footer>

  {% endblock body %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static 'js/libs/jquery-1.7.1.min.js' %}"><\/script>')</script>

  {% block js %}
  <script src="{% static 'js/plugins.js' %}"></script>
  {% endblock js %}
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
