{% load static from staticfiles %}
<!doctype html>
<!-- Conditional comment for mobile ie7 blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7" lang="en"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock title %}</title>
  <meta name="description" content="">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/h/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/m/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'img/l/apple-touch-icon-precomposed.png' %}">
  <link rel="shortcut icon" href="{% static 'img/l/apple-touch-icon.png' %}">

  <!-- <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
  <!-- <script>(function(){var a;if(navigator.platform==="iPad"){a=window.orientation!==90||window.orientation===-90?"{% static 'img/startup-tablet-landscape.png' %}":"{% static 'img/startup-tablet-portrait.png' %}"}else{a=window.devicePixelRatio===2?"{% static 'img/startup-retina.png' %}":"{% static 'img/startup.png' %}"}document.write('<link rel="apple-touch-startup-image" href="'+a+'"/>')})()</script> -->
  
  <!-- <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script> -->
  
  <meta http-equiv="cleartype" content="on">
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/mobile-style.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
  {% endblock css %}
  <script src="{% static 'js/libs/modernizr-2.0.6.min.js' %}"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
  <script>window.jQuery || document.write('<script src="{% static 'js/libs/jquery-1.7.1.min.js"><\/script>' %}')</script> 
  <script src="//code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static 'js/jquery.mobile-1.1.0-rc.1.min.js' %}"><\/script>')</script> 
</head>

<body>{% block body %}

<div data-role="page" data-theme="{% block pagetheme %}b{% endblock pagetheme %}">

    <div data-role="header" data-theme="{% block headertheme %}b{% endblock headertheme %}">
        {% block header %}<h1>Page Title</h1>{% endblock header %}
    </div>

    <div data-role="content">   
        {% block content %}<p>Page content goes here.</p>{% endblock content %}
    </div>

    <div data-role="footer">
        {% block footer %}<h4>Page Footer</h4>{% endblock footer %}
    </div>

  </div>

  {% endblock body %}


  {% block js %}
  <!-- <script src="{% static 'js/helper.js' %}"></script> -->
  {% endblock js %}

  <!-- <script src="https://getfirebug.com/firebug-lite.js"></script> -->

  <!-- <script> // Change UA-XXXXX-X to be your site's ID
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>  -->

</body>
</html>
