{% extends "gtac/base.html" %}

{% block content %}

<table>
    <tr>
    <th>Run ID</th>
    <th>Seq ID</th>
    <th>Lab</th>
    <th>Species</th>
    <th>Seq. Start</th>
    <th>Indexes</th>
    </tr>

    {% for lane in lanes %}
    <tr>
    <td><a href="{{ lane.get_absolute_url }}">{{ lane.flowcell.run.num }}_{{ lane.number }}</a></td>
    <td><a href="{{ lane.denaturedaliquot.sequencingsample.get_absolute_url }}">{{ lane.denaturedaliquot.sequencingsample.name }}</a></td>
    <td>

    {% regroup lane.denaturedaliquot.sequencingsample.samplesubmissions by submission.client.lab as bylab %}
    
    {% for lab in bylab %}
    <a href="{{ lab.grouper.get_absolute_url }}">{{ lab.grouper }}</a>
    
    {% comment %}
    {% for item in lab.list %} <a href="{{ item.sample.get_absolute_url }}">{{ item.sample.name }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}
    {% endcomment %}
    
    {% endfor %}

    </td>
    {% with lane.denaturedaliquot.sequencingsample.samplesubmissions.0 as ss %}
    <td>{{ ss.sample.organism }}</td>
    {% endwith %}
    <td>{{ lane.flowcell.run.sequencing_date }}</td>
    <td>{% for detail in  lane.denaturedaliquot.sequencingsample.sequencingsampledetail_set.all %}{{ detail.index.name }}(<a href="{{ detail.sampleprepdetail.samplesubmission.sample.get_absolute_url }}">{{ detail.sampleprepdetail.samplesubmission.sample.name }})</a> {% endfor %} </td>
    </tr>
    {% endfor %}

</table>

{% endblock content %}
