<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GTAC{% endblock title %}</title>
{% block css %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static '/static/css/screen.css' %}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{% static '/static/css/flexigrid.pack.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock css %}
    <script src="{% static '/static/js/jquery-1.6.2.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static '/static/js/superfish.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static '/static/js/jquery.hoverIntent.minified.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static '/static/js/flexigrid.pack.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
    // <![CDATA[
        $(function() {
        $('#menu, #public-main').superfish({
            dropShadows: false,
            autoArrows: false
        });
        });
    // ]]>
    </script>
    {% block extrahead %}{% endblock extrahead %}
</head>
<body>
<div id="all">
{% block all %}
    <div id="top"><div id="hd">
    <a href="{% url home %}" id="home" alt="Home">GTAC</a>
    <a href="{% url home %}" id="wusm" alt="Washington University School of Medicine">Washington University School of Medicine</a>
    <ul id="public-main">{% load lastnav_tags %}{% make_rootnav request "Public Main" %}</ul>
    </div></div>
    <div id="nav"><ul id="menu">{% block menu %}{% make_rootnav request %}{% endblock menu %}</ul></div>
    <div id="page">
        <div class="content" id="{% block contentid %}{% endblock contentid %}">{% block messages %}{% for m in messages %}{{ m }}{% endfor %}{% endblock messages %}  {% block content %}{% endblock content%}</div>
        <div id="links">{% block links %}Links Here{% endblock links %}</div>

    </div>
    <div id="ft"></div> 
</div>
<div id="footer">{% block footer %}<p><a href="facility.php">FACILITY</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="services.php">SERVICES</a>&nbsp;&nbsp;:&nbsp;&nbsp;<!-- <a href="learn.php">LEARN</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="submissions.php">SUBMISSIONS</a>&nbsp;&nbsp;:&nbsp;&nbsp; --><a href="pricing.php">PRICING</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="news.php">NEWS</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="contact.php">CONTACT</a><br /> 
&copy; 2010 GTAC at Washington University. St. Louis, MO. All rights reserved.</p>{% endblock footer %}
{% endblock all %}
</div>
</body>
</html>

