<h2>{{ client.name }}</h2>
<p>Lab: <a href="{{ client.lab.get_absolute_url }}">{{ client.lab.name }}</a></p>
{% for email in client.person.email_addresses.all %}
<p>{{ email.get_type_display|slice:':1' }}: <a href="mailto:{{ email.email }}">{{ email.email }}</a></p>
{% endfor %}
{% for phone in client.person.phone_numbers.all %}
<p>{{ phone.get_type_display|slice:':1' }}: {{ phone.number }}</p>
{% endfor %}

<h2>Latest Submissions</h2>
{% for sub in client.submission_set.all|slice:":5" %}
<p><a href="{{ sub.get_absolute_url }}">{{ sub.submitted }}</a></p>
{% endfor %}
