{% extends "gtac/base.html" %}

{% block content %}
<div id="client-detail">
<h2>{{ client.name }}</h2>
<h3>{{ client.lab }} Lab</h3>

<h3>{{ client.submission_set.count }} Submission{{ client.submission_set.count|pluralize }}</h3>
<ul>
{% for sub in client.submission_set.all %}
<li><a href="{{ sub.get_absolute_url }}">{{ sub }}</a></li>
{% endfor %}
</ul>
</div>
{% endblock content %}

{% block links %}
<div class="box">{% include "gtac/client-box.html" %}</div>
{% endblock links %}
