{% extends "gtac/base.html" %}

{% block content %}
<div id="clusterstation-detail">
{% if cs.model.image %}<img id="modelphoto" src="{{ cs.model.image.url }}" />{% endif %}
<h2>Cluster Station: {{ cs.name }}</h2>

<p>Flowcells Generated: {{ cs.flowcellgeneration_set.count }}</p>

<h3>Latest Flowcells</h3>
<ul id="latest-flowcells">
{% for fcg in cs.flowcellgeneration_set.all|slice:'5' %}
<li><h4><a href="{{ fcg.flowcell.get_absolute_url }}">{{ fcg.flowcell.name }}</a><h4>
<p>Created: {{ fcg.date }}</p>
{% if fcg.flowcell.run %}Run: <a href="{{ fcg.flowcell.run.get_absolute_url }}">{{ fcg.flowcell.run.num }}</a>{% endif %}
</li>
{% endfor %}
</ul>
{% if fc.flowcellgeneration %}
{% with fc.flowcellgeneration as fcg %}
<p>Created on <a href="{{ fcg.cluster_station.get_absolute_url }}">{{ fcg.cluster_station.name }}</a>, {{ fcg.date }} using kit {{ fcg.kit }}.
{% endwith %}
{% endif %}
</div>
{% endblock content %}
