<h2>Flowcell {{ fc.name }}</h2>
{% if fc.flowcellgeneration %}
{% with fc.flowcellgeneration as fcg %}
<p>Cluster Station: <a href="{{ fcg.cluster_station.get_absolute_url }}">{{ fcg.cluster_station.name }}</a>
<p>Created: {{ fcg.date }}</p>
<p>Kit: {{ fcg.kit }}</p>
<p>Run Type: {{ fc.runtype }}</p>
{% if fc.run %}
<p>Used in Run: <a href="{{ fc.run.get_absolute_url }}">{{ fc.run.num }}</a></p>
{% endif %}
{% endwith %}
{% endif %}
