{% extends "gtac/base.html" %}

{% block content %}
<div id="flowcell-detail">
{%load static from staticfiles %}
<img id="flowcell-photo" src="{% static '/static/img/flowcell.gif' %}"/>
<h2>Flowcell: {{ fc.name }}</h2>



<h3>Lanes</h3>
<table>
<thead>
<tr>
<th>#</th>
<th>Samples</th>
<th>PhiX Spike</th>
<th>Loading Concentration</th>
</tr>
</thead>
<tbody>
{% for l in fc.lanes.all %}
<tr>
<td><a href="{{ l.get_absolute_url }}">{{ l.number }}</a></td>
<td>{% for ss in l.samplesubmissions %}<a href="{{ ss.get_absolute_url }}">{{ ss.sample.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
<td>{{ l.denaturedaliquot.phix_spike }}</td>
<td>{{ l.denaturedaliquot.loading_concentration }}</td>
</tr>
{% endfor %}
        
</table>

</div>
{% endblock content %}

{% block links %}
<div class="box">{% include "gtac/flowcell-box.html" %}</div>
{% if fc.run %}
<div class="box">{% with fc.run as run %}{% include "gtac/run-box.html" %}{% endwith %}</div>
{% endif %}
{% endblock links %}
