{% extends "gtac/base.html" %}

{% block content %}
<h2>Content</h2>

<form action="test" method="get">
    <input id="test" type="text"> <label for="test">Test</label>

    <p><input type="submit" value="Continue &rarr;" /></p>
</form>
{% endblock content %}
