{% extends "gtac/base.html" %}

{% block extrahead %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1', {'packages':['corechart']});
      
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      
      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

      // Create our data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Sample');
      data.addColumn('number', 'percent');
      data.addRows([
        {% for ssd in lane.denaturedaliquot.sequencingsample.sequencingsampledetail_set.all %}
        {% with ssd.sampleprepdetail.samplesubmission as sub %}
        ['{{ sub.sample.name }}', {{ ssd.percent_of_pool }}]{% if not forloop.last %},{% endif %}
        {% endwith %}
        {% endfor %}
      ]);

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data); //, {width: 400, height: 240});
    }
    </script>
{% endblock extrahead %}


{% block content %}
<div id="lane-detail">
<h2>Run <a href="{{ lane.flowcell.run.get_absolute_url }}">{{ lane.flowcell.run }}</a> Lane {{ lane.number }}</h2>



<h3>Lane Analysis Statistics</h3>
{% for pps in lane.postprocess_set.all.distinct %}
<div class="stats">
<table>
<thead>
<tr><th colspan="2">{{ pps.run_post_process.date }}</th></tr>
</thead>
<tbody>
{% for v in pps.postprocessvalue_set.all.distinct %}
<tr><th>{{ v }}</th><td>{{ v.value }}</td></tr>
{% endfor %}
</table>
</div>

{% endfor %}

</div>
{% endblock content %}

{% block links %}
<div class="box">{% include "gtac/lane-box.html" %}</div>
<div class="box">{% with lane.flowcell.run as run %}{% include "gtac/run-box.html" %}{% endwith %}</div>

<div class="box">
<h2>Lane {{ lane.number }} Samples</h2>
{% for ssd in lane.denaturedaliquot.sequencingsample.sequencingsampledetail_set.all %}
{% with ssd.sampleprepdetail.samplesubmission as sub %}
<p><a href="{{ sub.submission.get_absolute_url }}">{{ sub.sample.name }} ({{ ssd.percent_of_pool }}%) </a> - <a href="{{ sub.submission.client.get_absolute_url }}">{{ sub.submission.client.first_name }} {{ sub.submission.client.last_name }}</a></p>
{% endwith %}
{% endfor %}
</div>
<div style="width: 100%; height: 200px;" id="chart_div"></div>
{% endblock links %}
