{% extends "gtac/base.html" %}

{% block content %}
<div id="run-detail">

{% if run.manifold.sequencer.model.image %}<img id="sequencer-photo" src="{{ run.manifold.sequencer.model.image.url }}" />{% endif %}
<h2>Run: {{ run.num }} - {{ run.status }}{% if run.failed %}FAILED{% endif %}</h2>

<h3>Lanes</h3>
<table>
<thead>
<tr>
<th>#</th>
<th>Samples</th>
<th>DNA Concentration</th>
</tr>
</thead>
<tbody>
{% for l in run.flowcell.lanes.all %}
<tr>
<td><a href="{{ l.get_absolute_url }}">{{ l.number }}</a></td>
<td>{% for ss in l.samplesubmissions %}<a href="{{ ss.sample.get_absolute_url }}">{{ ss.sample.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
<td>{{ l.submitted_conc }}</td>
</tr>
{% endfor %}
</table>



<h2>Analysis Results</h2>
{% for rpp in run.runpostprocess_set.all %}
<h3>{{ rpp.date }}</h3>
<p>Results File: <a href="{{ rpp.results_file.url }}">download</a></p>
<p>Control Lane: <a href="{{ rpp.control_lane.get_absolute_url }}">{{ rpp.control_lane.flowcell.run }}-{{ rpp.control_lane.number }}</a></p>
{% endfor %}

</div>
   
{% endblock content %}


{% block links %}
<div class="box">{% include "gtac/run-box.html" %}</div>
{% endblock links %}
