<h2>Run <a href="{{ run.get_absolute_url }}">{{ run.num }}</a></h2>
<p>Sequenced: {{ run.sequencing_date }}</p>
{% if run.turnaround_date %}<p>Turned Around: {{ run.turnaround_date }}</p>{% endif %}
<p>Software: {{ run.software_version }}</p>
<p>Run Type: {{ run.flowcell.runtype }} </p>
<p>Flowcell: <a href="{{ run.flowcell.get_absolute_url }}">{{ run.flowcell.name }}</a></p>
<p>Cluster Station: <a href="{{ run.flowcell.flowcellgeneration.cluster_station.get_absolute_url }}">{{ run.flowcell.flowcellgeneration.cluster_station.name }}</a></p>
<p>Sequencer: <a href="{{ run.manifold.sequencer.get_absolute_url }}">{{ run.manifold.sequencer.name }}</a> - {{ run.manifold.name }}</p>
