<h2><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></h2>
<p>Initial Submit: <a href="{{ sample.submitted_from.get_absolute_url }}">{{ sample.submitted_from.submitted }}</a></p>
<p>Submitter: <a href="{{ sample.submitted_from.client.get_absolute_url }}">{{ sample.submitted_from.client }}</a></p>
<p>Organism: {{ sample.organism.name }}</p>


