{% extends "gtac/base.html" %}

{% block content %}
<div id="sample-detail">
<h2>Sample: {{ sample.name }}</h2>
{% if sample.organism.image %}<div id="organism-photo"><img src="{{ sample.organism.image.url }}" /><p>{{ sample.organism.name }}</p></div>{% endif %}
<div id="notes">
{% load markup %}
<h2>Notes</h2>
{{ sample.notes|markdown }}
</div>

</div>
{% endblock content %}

{% block links %}
<div class="box">{% include "gtac/sample-box.html" %}</div>

{% if sample.submissions %}
<div class="box">
<h2>Used in {{ sample.submissions.count }} Submission{{ sample.submissions.count|pluralize }}</h2>
{% for sub in sample.submissions.all %}
<p><a href="{{ sub.get_absolute_url }}">{{ sub.submitted }}</a></p>
{% endfor %}
</div>
{% endif %}

{% endblock links %}
