{% extends "gtac/base.html" %}
{% block extrahead %}

{% endblock extrahead %}
{% block content %}
<div id="sample-detail">
<h2>Sequencing Sample: {{ sample.name }}</h2>

<table>
<thead>
<tr><th>Sample</th><th>Submission</th><th>Client</th><th>Index</th><th>Percent of Pool</th></tr>
</thead>
<tbody>
{% for s in sample.sequencingsampledetail_set.all %}
<tr>
<td><a href="{{ s.samplesubmission.sample.get_absolute_url }}">{{ s.samplesubmission.sample.name }}</a></td>
<td><a href="{{ s.samplesubmission.submission.get_absolute_url }}">{{ s.samplesubmission.submission.submitted }}</a></td>
<td><a href="{{ s.samplesubmission.submission.client.get_absolute_url }}">{{ s.samplesubmission.submission.client.name }}</a></td>
<td>{{ s.index }} ({{ s.index.sequence }})</td>
<td>{{ s.percent_of_pool }}%</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
{% endblock content %}

{% block links %}
<div class="box">{% include "gtac/sequencingsample-box.html" %}</div>
{% endblock links %}
