{% extends "gtac/base.html" %}

{% block content %}
<div id="sequencer-detail">
<h2>Sequencer: {{ sequencer.name }}</h2>
{% if sequencer.model.image %}<img id="sequencer-photo" src="{{ sequencer.model.image.url }}" />{% endif %}

<h3>Latest Runs</h3>
{% for m in sequencer.manifolds.all %}
<h4>{{ m }}</h4>
<ul>
{% for r in m.runs.all|slice:"5" %}
<li><a href="{{ r.get_absolute_url }}">{{ r.num }}</a></li>
{% endfor %}
</ul>
{% endfor %}
</div>
{% endblock content %}
