{% extends "gtac/base.html" %}

{% block content %}
<div id="submission-detail">
<h2>Submission: {{ submission.submitted }}</h2>
<p>Submitted by: <a href="{{ submission.client.get_absolute_url }}">{{ submission.client }}</a></p>

<h3>Samples</h3>
<table>
<thead>
<tr><th>Sample</th><th>Submitted to Sequencing</th><th>Runs</th></tr>
</thead>
{% for ss in submission.samplesubmission_set.all %}
<tr>
<th><a href="{{ ss.sample.get_absolute_url }}">{{ ss.sample }}</a></th>
<td>{% for ssd in ss.sequencingsampledetail_set.all %}
<a href="{{ ssd.sequencingsample.get_absolute_url }}">{{ ssd.sequencingsample }}</a> ({{ ssd.percent_of_pool }}%)
{% endfor %}
</td>
<td>{% for runs in ss.seq.runs %} {{ run }} {% endfor %}</td>

</tr>




{% endfor %}


</table>
</div>
{% endblock content %}

{% block links %}
{% for ss in submission.samplesubmission_set.all %}
<div class="box">
<h2>{{ ss.sample.name }}</h2>
{% for sequencingsample in ss.sequencingsample_set.all %}
<p><a href="{{ sequencingsample.get_absolute_url }}">{{ sequencingsample.name }}</a></p>
{% endfor %}
</div>
{% endfor %}
{% endblock links %}
