{% extends "gtac/base.html" %}

{% block css %}
<style>
#all {
  font-size: .8em;
  }
table {
border-collapse:collapse;
}
td {
border-left: 1px solid #ddd;
text-align: center;
padding: 0 1em;
}
</style>
{% endblock css %}

{% block extrahead %}
   <script language="javascript" src="http://www.google.com/jsapi"></script>
   <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Sold Pencils');
        data.addColumn('string', 'title1');
        data.addColumn('string', 'text1');
        data.addColumn('number', 'Sold Pens');
        data.addColumn('string', 'title2');
        data.addColumn('string', 'text2');
        data.addRows([
          [new Date(2008, 1 ,1), 30000, undefined, undefined, 40645, undefined, undefined],
          [new Date(2008, 1 ,2), 14045, undefined, undefined, 20374, undefined, undefined],
          [new Date(2008, 1 ,3), 55022, undefined, undefined, 50766, undefined, undefined],
          [new Date(2008, 1 ,4), 75284, undefined, undefined, 14334, 'Out of Stock','Ran out of stock on pens at 4pm'],
          [new Date(2008, 1 ,5), 41476, 'Bought Pens','Bought 200k pens', 66467, undefined, undefined],
          [new Date(2008, 1 ,6), 33322, undefined, undefined, 39463, undefined, undefined]
        ]);

        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, {displayAnnotations: true});
      }
    </script>
{% endblock extrahead %}


{% block all %}

<table>
{% for lane in lanes|slice:":50" %}
{% if forloop.first %}
<thead>
<tr>
<th>Run/Lane</th>
<th>Sequencing Sample ID</th>
<th>Lab</th>
<th>Species</th>
<th>Assigned</th>
<th>Seq Finished</th>
<th>Pipeline</th>
<th>Kit</th>
<th>Run Type</th>
<th>Indexes</th>
<th>Align To</th>
<th>Wet Lab Notes</th>
<th>Dry Lab Notes</th>
<th>Contact</th>
<th>Seq start</th>
<th>Last seq finish date in pool</th>
<th>Analysis Start</th>
<th>Analysis Finish</th>
</tr>
</thead>
<tbody>
{% endif %}

{% for da in lane.denaturedaliquots.all %}
	{% with da.sequencingsample as ss %}
	{% with ss.samplesubmissions.0 as firstsample %}
	<tr>
	<td>{{ lane.flowcell.run.num }}_{{ lane.number }}</td>
	<td>{{ ss.name }}</td>
	<td>{{ firstsample.submission.client.lab }}</td>
	<td>{{ firstsample.sample.organism }}</td>
	<td>{{ ss.analysis.assigned_to }}</td>
	<td>{{ lane.postprocess_set.all.0.run_post_process.date|date:"m-d-Y" }}</td>
	<td>{{ firstsample.libprep.preptype }}</td>
	<td>{{ ss.sequencingsampledetail_set.0.index.exomecapture_kit }}</td>
	<td>{{ lane.flowcell.runtype }}</td>
	<td><select>{% for ssd in ss.sequencingsampledetail_set.all %}<option>{{ ssd.index }}</option>{% endfor %}<endselect></td>
	<td>{{ firstsample.seq.alignmentgnome }}</td>
	<td>{{ ss.notes }}</td>
	<td></td>
	<td>{{ firstsample.submission.client.name }} ({{ firstsample.submission.client.person.email_addresses.all.0.email }})</td>
	<td>{{ lane.flowcell.run.sequencing_date|date:"m-d-Y" }}</td>
	<td>{{ lane.postprocess_set.all.0.run_post_process.date|date:"m-d-Y" }}</td>
	<td>{{ ss.analysis.start_date }}</td>
	<td>{{ ss.analysis.finish_date }}</td>
	</tr>
	{% endwith %}
	{% endwith %}
{% endfor %}

{% endfor %}
</tbody>
</table>
{% endblock all %}
