{% extends "gtac/base.html" %}

{% block extrahead %}
<script type="text/javascript" charset="utf-8">
// <![CDATA[
    $(function() {
        $('table').flexigrid();
        });
// ]]>
</script>
<style type="text/css" media="screen">
/* <![CDATA[ */
#links {
display: none;
}
#turnaround {
width: 100%;
margin: 0;
}
#page {
width: 100%;
}
/* ]]> */
</style>

{% endblock extrahead %}

{% block contentid %}turnaround{% endblock contentid %}
{% block content %}
<table>
<thead>
<tr>
</tr>
</thead>
<tbody>
{% for ss in samplesubmissions %}
<tr>
<td>{{ ss.id }}</td>
<td>{% for seqs in ss.libprep.sequencingsamples.all %}<a href="{{ seqs.get_absolute_url }}">{{ seqs.name }}</a>{% if not forloop.first %},{% endif %}{% endfor %}</td>
<td>{% for da in ss.seq.denaturedaliquot.all %}<a href="{{ da.lane.flowcell.run.get_absolute_url }}">{{ da.lane.flowcell.run }}</a>:<a href="{{ da.lane.get_absolute_url }}">{{ da.lane.number }}</a>{% endfor %}</td>
<td><a href="{{ ss.submission.client.lab.get_absolute_url }}">{{ ss.submission.client.lab }}</a></td>
<td>{{ ss.libprep.preptype }}</td>
<td>{{ ss.seq.runtype }}</td>


<td>{{ ss.submission.submitted }}</td>
<td>{{ ss.libprep.complete_date }}</td>
<td>{{ ss.seq.ready_date }}</td>
<td>{{ ss.seq }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
