{% extends "sts/base.html" %}
{% load static from staticfiles %}
{% block css %}
{{ block.super }}
<style>
    .button{
        font-weight: bold;
    }
</style>
{% endblock css %}

{% block js %}
{{ block.super }}
{% endblock js %}

{% block messages %}
    {{ block.super }}
    {% if is_error %}
        <div class='notification error png_bg'>
            <a href="#" class="close">
                <img src="{% static 'images/icons/cross_grey_small.png' %}" 
                    title="Close this notification" alt="close"></a>
            <div>Please fill out the form as indicated below.</div>
        </div>
    {% endif %}

    {% if messages %}
        <div class='notification success png_bg'>
            <a href="#" class="close">
                <img src="{% static 'images/icons/cross_grey_small.png' %}" 
                    title="Close this notification" alt="close"></a>
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock messages %}

{% block content %}
<form id="sample-selection-form" action="" method="post">{% csrf_token %}
    <h2> Base code </h2>
    {% load formutil %} 
    <div class="content-box">
        <div class="content-box-header">
            <h3> {{basecode.name}} </h3>
        </div>
        <div class="content-box-content" style="display: block; min-height: 300px">
            <table>
                <thead>
                    <th> Charge Code </th>
                    <th> Recharge Core </th>
                    <th> Cost </th>
                    <th> </th>
                </thead>
                <tbody>
                    {{ bccformset.management_form }}
                    {% for frm in bccformset %}
                        <tr>
                            {{frm.id.as_hidden}}
                            <td> {{chargecodes|get_item:frm.chargecode.value}}{{frm.chargecode.as_hidden}} </td>
                            <td> {{rechargecores|get_item:frm.rechargecore.value}}{{frm.rechargecore.as_hidden}} </td>
                            <td> {{frm.cost}} </td>
                            <td class="last"> {% if frm.errors %}<span class="input-notification error png_bg">
                                              {{frm.errors.as_ul|striptags|cut:"cost"}}</span> {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
            <br/> <br/>
            {% for bcm in bcmcformset %}
            <div class="content-box">
                <div class = "content-box-header">
                    <h3> {{bcm.type}} </h3>
                </div>
                <div class = "content-box-content" style="padding: 20px;">
                    <table>
                        {% with bcmcformset|get_item:bcm as formset %}
                            {{formset.management_form}}
                            <thead>
                                <th> Charge Code </th>
                                <th> Value </th>
                                <th> </th>
                            </thead>
                            <tbody>
                                {% for item in formset %}
                                    <tr>
                                        {{item.id.as_hidden}}
                                        <td> {{chargecodes|get_item:item.chargecode.value}}{{item.chargecode.as_hidden}} </td>
                                        <td> {{item.value }} </td>
                                        <td class="last"> {% if item.errors %}<span class="input-notification error png_bg">
                                                          {{item.errors.value|striptags}}</span> {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endwith %} 
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <input type="submit" name="submit" value="Save" class="button">
</form>
{% endblock content %}
