{% extends "sts/base.html" %}

{% block css %}
{{ block.super }}
<style>
</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

    $(function() {
        var oTable = $('table').dataTable({
            "bServerSide": true,
            "bProcessing": true,
            "oLanguage": {
                "sSearch": "Search all columns:"
            },
            "aoColumnDefs":[
                {"aTargets": [ 2 ], "bSortable": false}, 
            ],
            "sScrollX": "100%",
            "sAjaxSource": "{% url billing.views.get_basecode_list %}",
        });
    });
</script>
{% endblock js %}

{% block content %}
<form id="sample-selection-form" action="" method="post">{% csrf_token %}
    <h2>Billing Basecodes</h2>
    <div class="content-box">
        <div class="content-box-header">
        </div>
        <div class="content-box-content" style="display: block; min-height: 300px">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Cost</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>
{% endblock content %}
