{% extends "sts/base.html" %}

{% block css %}
{{ block.super }}
<style>
    #id_pf-projects {
        display: none;
    }
    #selection-table {
        max-height: 400px;
        overflow: auto;
        display: block;
    }
    .row_selected  td{
        background-color: {{ datatable_select_color }};
    }
    
    input[type=text] {
        width: 135px;
    }

    .new td {
        font-weight: bold;
    }

</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

    $(function() {
        var asInitVals = new Array();

        var oTable = $('table#projects').dataTable({
            "bServerSide": true,
            "bProcessing": true,
            "oLanguage": {
                "sSearch": "Search all columns:"
            },
            "aoColumnDefs":[
                {"aTargets": [ 1 ], "bVisible": false}, 
                {"aTargets": [ 6 ], "bSortable": false},
                {"aTargets": [ 7 ], "bVisible": false}, 
            ],
            "aaSorting": [[ 7, "desc" ]],
            "sScrollX": "100%",
            "sAjaxSource": "{% url 'libprep.views.projects' %}",
            "fnServerParams": function ( aoData ) {
                aoData.push({"name": "isBilling", "value": "true" });
            },
            "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                if(aData[7] == "None"){
                    $(nRow).addClass('new')
                }
            }

        });
        
        $('form').submit(function() {
            var ids = oTable.$("tr.row_selected").map(function() {
                return $(this).attr("id");
            }).toArray();
            if(ids.length == 0){
                alert("Please select project");
                return false;
            }
            $('#id_pf-projects').val(ids);
        });
        
        $('tr').live('click', function() {
            $(this).toggleClass('row_selected');
        });
        
        $('thead input').keyup(function() {
            oTable.fnFilter( this.value, $("thead input").index(this) );
        });

        $("thead input").each( function (i) {
            asInitVals[i] = this.value;
        });
         
        $("thead input").focus( function () {
            if ( this.className == "search_init" )
            {
                $(this).removeClass("search_init");
                this.value = "";
            }
        });
         
        $("thead input").blur( function (i) {
            if ( this.value == "" )
            {
                $(this).addClass("search_init");
                this.value = asInitVals[$("thead input").index(this)];
            }
        });
    });
</script>
{% endblock js %}

{% block content %}
<form id="sample-selection-form" action="" method="post">{% csrf_token %}
    <h2>Libprep Billing</h2>
    <div class="content-box">
        {{ form.projects }}
        <div class="content-box-header">
            <h3>Step 1</h3>
        </div>
        <div class="content-box-content" style="display: block; min-height: 300px">
            <table id="projects">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Gtac IDs</th>
                        <th>Labs</th>
                        <th>Owner</th>
                        <th>Prep Type</th>
                        <th>Status</th>
                        <th># Samples</th>
                        <th>Billing Date</th>
                    </tr>
                    <tr>
                        <th><input type="text" value="Search project" class="search_init"/></th>
                        <th>&nbsp;</th>
                        <th><input type="text" value="Search labs" class="search_init"/></th>
                        <th><input type="text" value="Search owners" class="search_init"/></th>
                        <th><input type="text" value="Search prep types" class="search_init"/></th>
                        <th><input type="text" value="Search status" class="search_init"/></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <input type="hidden" value="page1" name="page">
            <input type="submit" value=" Next " class="button">
        </div>
    </div>
</form>
{% endblock content %}
