{% extends "sts/base.html" %}
{% load formutil %}
{% load static from staticfiles %}
{% block css %}
<style>
    #projects td{
        vertical-align: top;
    }
</style>
{% endblock css %}

{% block js %}
<script type="text/javascript">

    $(function(){
        $('select[name$="basecode"]').change(function(){
            if('BioA'== $(':selected', this).text()){
                $('select[name$="batch_multiplier"]', $(this).parent().next('td')).hide().attr('disabled', 'disabled');
                $('span', $(this).parent().next('td')).show();
            } else{
                $('select[name$="batch_multiplier"]', $(this).parent().next('td')).show().removeAttr('disabled');
				$('span', $(this).parent().next('td')).hide();
            }
        });
        $('select[name$="basecode"]').change();
    });
</script>
{% endblock js %}

{% block content %}
<form id="sample-selection-form" action="" method="post">{% csrf_token %}
    <h2>Libprep Billing</h2>
    <div class="content-box">
        <div class="content-box-header">
            <h3>Step 2</h3>
        </div>
        <div class="content-box-content">
            {% if formset.errors %}
                <div class='notification error png_bg'>
                    <a href="#" class="close">
                        <img src="{% static 'images/icons/cross_grey_small.png' %}" title="Close this notification" alt="close"></a>
                    <div>Please fill out the form as indicated below.</div>
                    {% for f in formset %}
                        {{ f.non_field_errors.as_ul }}
                    {% endfor %}
                </div>
            {% endif %}
            <div style="border:1px solid #e5e5e5; overflow: auto; white-space: nowrap;">
                <table id='projects'>
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Lab</th>
                            <th>Prep Type</th>
                            <th>Chip Type</th>
                            <th>No. of Chips</th>
                            <th>Base code</th>
                            <th>Batch Multiplier</th>
                            <th>Affiliation Multiplier</th>
                            <th>Misc Multiplier</th>
                            <th>External Multiplier</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ formset.management_form }}
                        {% for f in formset.forms %}
                            <tr>
                                {% for p in request.session.projects %} 
                                    {% if p.id|slugify == f.project.value|slugify  %}
                                        <td>{{ f.project.as_hidden }} {{ p}}</td>
                                        <td>{{ p.pretty_labs }}</td>
                                        <td>{{ p.preptypeversion }}</td>
                                        {% if p.preptypeversion.preptype.name == 'Bioanalyzer only' %}
					    <td>
    					        {% for key, value in chipTypes.items %} 
					            {% if key|slugify == f.project.value|slugify %}
                                                        {{ value }}
  					            {% endif %}
	                                        {% endfor %}&nbsp;
					    </td>
                                        {% else %}
					    <td> NA </td>
                                        {% endif %}
                                        <td> {% if p.preptypeversion.preptype.name == 'Bioanalyzer only' %} {{ f.no_of_chips }} {% else %} {{ f.no_of_chips.as_hidden }}NA {% endif %} </td>
                                    {% endif %}
                                {% endfor %}
                                {% tdfield f.basecode %}
                                <td>
			            {{ f.batch_multiplier }} <span>NA</span>
                                </td>
                                {% tdfield f.assoc_multiplier %}
                                {% tdfield f.misc_multiplier %}
                                {% if f.ext_multiplier.value == '' %}
                                    <td>None {{f.ext_multiplier.as_hidden}}</td>
                                {% else %}
                                    {% tdfield f.ext_multiplier %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <input type="submit" value="Generate Spreadsheet" class="button" name="submit" />
        </div>
    </div>
</form>
{% endblock content %}
