{% extends "sts/base.html" %}

{% block js %}
<script>
$(function() {
  $('table').dataTable({
    iDisplayLength: 100,
   });
});
</script>
{% endblock js %}
{% block content %}

<table>
<thead>
<tr>
<th>PrepType</th>
<th>Location</th>
<th>Range</th>
<th>$</th>
<th>Total</th>
</tr>
</thead>
<tbody>
{% for code in codes %}
<tr>
<td>{{ code.preptype }}</td>
<td>{{ code.location }}</td>
<td>{{ code.sample_min }} - {{ code.sample_max }}</td>
<td>{% for li in code.lineitems.all %}<p>{{ li.type.name }}: ${{ li.cost|floatformat:"2" }}{% endfor %}</td>
<td>${{ code.total|floatformat:"2" }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock content %}
