{% extends "sts/base.html" %}

{% block css %}
<style>
table tr.highlight td, 
table tr.highlight td.sorting_1 {
background-color: {{ datatable_select_color }};
}
tr {
cursor: pointer;
}
#id_samples {
display: none;
}
</style>
{% endblock css %}
{% block js %}
{{ block.super }}
<script>
</script>
{% endblock js %}

{% block content %}
{% load formutil %}
<h2>Project Billing</h2>

<form action="" method="post">{% csrf_token %}
{{ form }}

<div class="content-box">
<div class="content-box-header">
<h3>Review Selections</h3>
</div>
<div class="content-box-content">
<table>
<thead>
<tr>
<th>Sample</th>
<th>BaseCode</th>
<th>BaseCodeMultiplier</th>
</tr>
</thead>
<tbody>
{% for form in formset %}
<tr>
<td>Dummy</td>
<td>{% formfield form.basecode %}</td>
<td>{% formfield form.basecode_multipliers %}</td>
</tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="Save" />
</div>
</div>

</form>
{% endblock content %}
