{% extends "sts/base.html" %}

{% block css %}
<style>
table tr.highlight td, 
table tr.highlight td.sorting_1 {
background-color: {{ datatable_select_color }};
}
tr {
cursor: pointer;
}
#id_samples {
display: none;
}
</style>
{% endblock css %}
{% block js %}
{{ block.super }}
<script>
var submissions = Array();
var types = Array();
var samples = 0;
var oTable;
var giRedraw = false;

function fnGetSelected( oTableLocal ) {
    var aReturn = new Array();
    var aTrs = oTableLocal.fnGetNodes();
    
    for ( var i=0 ; i<aTrs.length ; i++ ) {
        if ( $(aTrs[i]).hasClass('highlight') ) {
            aReturn.push( aTrs[i] );
        }
    }
    return aReturn;
}

function add_sample(row) {
    $(row).addClass('highlight');
    $('#id_samples option[value="' + $(row).data('spd') + '"]').attr('selected', 'selected');
    $("#total-samples").text(fnGetSelected(oTable).length);
}

function remove_sample(row) {
    $(row).removeClass('highlight');
    $('#id_samples option[value="' + $(row).data('spd') + '"]').attr('selected', null);
    $("#total-samples").text(fnGetSelected(oTable).length);
}

$(function() { 
    $("tbody").click(function(event) {
        if ($(event.target.parentNode).hasClass('highlight')) {
            remove_sample(event.target.parentNode);
        } else {
            add_sample(event.target.parentNode);
        }
    });
    oTable = $('table.projects').dataTable({"sScrollX": "100%"});
    oTable.fnSort([[2, 'desc']]);
});
</script>
{% endblock js %}

{% block content %}
<h2>Project Billing</h2>

<form action="" method="post">{% csrf_token %}
{{ form }}

<div class="content-box">
<div class="content-box-header">
<h3>Select Projects</h3>
</div>
<div class="content-box-content">
<table class="projects">
<thead>
<tr>
<th>Project</th>
<th>Lab</th>
<th>Owner</th>
<th>Prep Type</th>
<th>Status</th>
</tr>
</thead>
<tbody>
{% for prj in projects %}
<tr data-id="{{ prj.id }}">
<td>{{ prj.name }}</td>
<td>{{ prj.pretty_labs }}</td>
<td>{{ prj.assigned_to }}</td>
<td>{{ prj.preptypeversion }}</td>
<td>{{ prj.get_status_display }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="Select Project" />
</div>
</div>

</form>
{% endblock content %}
