{% extends "sts/base.html" %}

{% block css %}
{{ block.super }}
<style>
    #id_pf-runs {
        display: none;
    }
    #selection-table {
        max-height: 400px;
        overflow: auto;
        display: block;
    }
    .row_selected  td{
        background-color: {{ datatable_select_color }};
    }

    .new td {
        font-weight: bold;
    }

</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

    $(function() {
        var asInitVals = new Array();

        var oTable = $('table#runs').dataTable({
            "oLanguage": {
                "sSearch": "Search all columns:"
            },
            "aoColumnDefs":[
                {"aTargets": [ 9 ], "bVisible": false}, 
            ],
            "aaSorting": [[ 9, "desc" ]],
            "sScrollX": "100%",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'seq.views.run_browse' %}",
            "fnServerParams": function ( aoData ) {
                aoData.push({"name": "isBilling", "value": "true" });
            },
            "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                if(aData[9] == "None"){
                    $(nRow).addClass('new')
                }
            }
        });
        
        $('form').submit(function() {
            var ids = oTable.$("tr.row_selected").map(function() {
                return $(this).attr("id");
            }).toArray();
            if(ids.length == 0){
                alert("Please select run");
                return false;
            }
            $('#id_pf-runs').val(ids);
        });
        
        $('tr').live('click', function() {
            $(this).toggleClass('row_selected');
        });
    });
</script>
{% endblock js %}

{% block content %}
<form id="sample-selection-form" action="" method="post">{% csrf_token %}
    <h2>Sequence Billing</h2>
    <div class="content-box">
        {{ form.runs }}
        <div class="content-box-header">
            <h3>Step 1</h3>
        </div>
        <div class="content-box-content" style="display: block; min-height: 300px">
            <table id="runs">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Type</th>
                        <th>Flowcell</th>
                        <th>Lab</th>
                        <th>Client</th>
                        <th>Instrument</th>
                        <th>Manifold</th>
                        <th>Seq Date</th>
                        <th>Status</th>
                        <th>Billing Date</th>
                    </tr>
                </thead>
            </table>
            <input type="hidden" value="page1" name="page">
            <input type="submit" value=" Next " class="button">
        </div>
    </div>
</form>
{% endblock content %}
