{% extends "sts/base.html" %}
{% load formutil %}
{% load static from staticfiles %}

{% block css %}
<style>
    #projects td{
        vertical-align: top;
    }
</style>
{% endblock css %}

{% block content %}
<form id="sample-selection-form" action="" method="post">{% csrf_token %}
    <h2>Sequence Billing</h2>
    <div class="content-box">
        <div class="content-box-header">
            <h3>Step 2</h3>
        </div>
        <div class="content-box-content" >
            {% if formset.errors %}
                <div class='notification error png_bg'>
                    <a href="#" class="close">
                        <img src="{% static 'images/icons/cross_grey_small.png' %}" 
                            title="Close this notification" alt="close"></a>
                    <div>Please fill out the form as indicated below.</div>
                    {% for f in formset %}
                        {{ f.non_field_errors.as_ul }}
                    {% endfor %}
                </div>
            {% endif %}
            <table id='projects'>
                <thead>
                    <tr>
                        <th>Run</th>
                        <th>Lane</th>
                        <th>Run Type</th>
                        <th>Base code</th>
                        <th>Affiliation Multiplier</th>
                        <th>Misc Multiplier</th>
                        <th>External Multiplier</th>
                    </tr>
                </thead>
                <tbody>
                    {{ formset.management_form }}
                    {% for f in formset.forms %}
                        {% with runs|get_item:f.lane.value as run %}
                        <tr>
                            <td>{{ run.num }}</td>
                            <td>{{ f.lane.as_hidden}} {{ lanes|get_item:f.lane.value}}</td>
                            <td>{{ run.flowcell.runtype }}</td>
                            {% tdfield f.basecode %}
                            {% tdfield f.assoc_multiplier %}
                            {% tdfield f.misc_multiplier %}
                            {% if f.ext_multiplier.value == '' %}
                                <td>None {{f.ext_multiplier.as_hidden}}</td>
                            {% else %}
                                {% tdfield f.ext_multiplier %}
                            {% endif %}
                        </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Generate Billing Spreadsheet" name="submit" class="button"/>
        </div>
    </div>
</form>
{% endblock content %}
