@import "compass/reset";
//@import "blueprint";
//@import "susy";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "ribbon";
@import "pageeffects";
@import "font";
@import "qtip";

//@import "susy";
$total-cols: 30;                    /* a 12-column grid */
$col-width: 2em;                    /* each column is 4em wide */
$gutter-width: 1em;                 /* 1em gutters between columns */
$side-gutter-width: $gutter-width;  /* 1em padding at the edges of the page as well */


$purple: #9238C7;
$red: #ff594a;


//@include font-face("DroidSansBold", font-files("DroidSans-Bold-webfont.eot", eot, "DroidSans-Bold-webfont.woff", woff, "DroidSans-Bold-webfont.ttf", truetype, "DroidSans-Bold-webfont.svg", svg));
//@include font-face("DroidSans", font-files("DroidSans-webfont.eot", eot, "DroidSans-webfont.woff", woff, "DroidSans-webfont.ttf", truetype, "DroidSans-webfont.svg", svg));

@mixin sllis-tooltip {
  @include qtip();
  .ui-tooltip-content{
    @include border-radius(5px);
    @include pagecurl;
    @include worn-edges;
    @include adjust-font-size-to(16px);
    padding: 5px;
    background-color: #fff;
    min-width: 100px;
    min-height: 30px;
    overflow: visible;
  }
  .ui-tooltip-titlebar{
    //background-color: #ddd;
    @include raised(#eee);
    border: none;
    .ui-state-default {
    border: none;
    }
  }
  .ui-tooltip-icon{
    border: none;
    //border-color: #444;
  }
  .ui-tooltip-titlebar .ui-state-hover{
    border: 0;
    //border-color: #303030;
  }
}


@mixin notification($color: yellow) {
@include adjust-font-size-to(14px,1);
font-family: "DroidSansBold";
@include border-radius(5px);
@include rhythm-borders(1px, .5, 14px);
@include trailer(.5, 14px);
@include leader(.5, 14px);
border-color: $color;
background-color: lighten($color, 40);
color: darken($color, 20);
padding-left: $gutter-width;
padding-right: $gutter-width;
}

@mixin fancy-box($columns: 9, $omega: false, $context: $total-cols, $font-color: #b54c1e) {
@include box-sizing(border-box);
@include padding-leader(.5);
@include padding-trailer(1);
@include trailer(1);

//@include pad(.5,.5, $context);
//padding-right: columns(.5, $context);
//padding-left: columns(.5, $context);
//@include columns($columns - 0, $context);
@if ($omega) {
@include omega($context);
}
@include border-top-radius(3px);
//margin-right: columns(.5, $context);
//margin-left: columns(.5, $context);
@include pagecurl;
  .ribbon {
    @include ribbon($front-width:200px, $ribbon-height: rhythm(1.5), $overlap-height: rhythm(.5), $overlap-distance: 16px, $back-width: 0, $edges-color: darken($font-color, 20%), $front-color: $font-color, $overlap-width: 10px, $border-radius: 5px, $sides: left-bottom);
    .ribbon-front {
    @include raised($font-color);
    @include embossed-text;
    @include border-radius(4px 4px 4px 0);
    }
  }
}
