@import "compass/layout/grid-background";

//$grid-background-offset: $gutter-width;

$grid-background-total-columns: $blueprint-grid-columns;
$grid-background-column-width:  $blueprint-grid-width;
$grid-background-gutter-width:  $blueprint-grid-margin;
   
#content {
@include grid-background();
}
* {
    background-color: rgba(0,0,0,.125);
    }

