@import "base";
@import "blueprint/liquid";
@import "compass/utilities/lists/bullets";

@include establish-baseline(14px);

::-moz-selection { background: #ce5c00; color: #fff; text-shadow: none; }
::selection { background: #ce5c00; color: #fff; text-shadow: none; }

h1,h2,h3,h4,h5,h6 {
  font-family: "DroidSansBold";
  }

h1 {
  @include adjust-font-size-to(24px);
}
body {
  font-family: "DroidSans";
}
table {
  @include adjust-font-size-to(16px);
  width: 100%;
  @include leader(1, 16px);
}
th,td {
  padding: 4px $gutter-width;
}
th {
  font-family: "DroidSansBold";
}
thead th {
//background-color: #ff5c00;
//background-color: #b54c1e;
@include raised(#b54c1e);
color: #fff;
//@include padding-leader(.5, 14px);
//@include trailing-border(1px, .5, 14px);
border-color: #ddd;
  &:first-child {
    @include border-left-radius(4px);
  }
  &:last-child {
    @include border-right-radius(4px);
  }
}
tr.odd {
background: #eee;
}

#container {
  //@include susy-grid-background;
  margin: 0;
}

.dataTables_wrapper{
//@include column(22, true);
}
.dataTables_length{
float: left;
}
.dataTables_filter{
float: right;
}


.tablecontainer {
//@include columns(22);
//padding: rhythm(.5) columns(1);
border: 1px solid #ddd;
@include pagecurl;
  .ribbon {
  @include ribbon($front-width:400px, $ribbon-height: rhythm(1.5), $overlap-height: rhythm(.5), $overlap-distance: 10px, $back-width: 0, $edges-color: darken(#b54c1e, 20%), $front-color: #b54c1e, $overlap-width: 10px, $border-radius: 5px, $sides: left-bottom);
  .ribbon-front {
  @include raised;
  @include embossed-text;
  @include border-radius(4px 4px 4px 0);
  }
  }
}

:focus {
outline: none;
}
a {
text-decoration: none;
}

input[type='button'],
input[type='submit']
{
@include awesome;
@include border-radius(5px);
border-style: none;
padding: 0 $gutter-width;
border: none;
}

div[role=main] {
  padding-left: 230px;    
}
#nav {
  float: left;
  width: 200px;
  overflow: hidden;
  display: inline;
  padding-left: 20px;
  ul {
    @include no-bullet;
  }
}
#messages, #main {
  @include container;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  h1 {
  }
}

#messages .errorlist,
ul.errorlist,
#messages .error {
  @include notification(red); 
}

form th {
    width: 180px;
}
tr.fielderror {
  th {
    color: darken(red, 20);
  }
  th, td {
    background-color: lighten(red, 44%);
    border-top: 1px solid darken(red, 20);
    border-bottom: 1px solid darken(red, 20);
  }
  .first {
    border-left: 1px solid darken(red, 20);
  }
  .last {
    border-right: 1px solid darken(red, 20);
  }
}
#messages .info {
  @include notification(yellow); 
}

.dataTables_wrapper table,
.dataTables_info, 
.dataTables_paginate {
   float: left;
}

#nav {
//float: left;
@include box-shadow(#ddd,3px,0,3px);
background-color: #333;
@include background-image(linear-gradient(top, #333, #666));
//height: 100%;
color: white;
  a {
  color: white;
  }
  //text-align: center;
  .title {
    @include adjust-font-size-to(26px,2);
    @include padding-leader(1);
    @include padding-trailer(0);
    //padding-left: columns(1);
    //padding-right: columns(1);
    @include text-shadow(
        rgba(white,.2) -1px -1px 2px, 
        rgba(black,0.2) 1px 1px 2px);
  }
  .message {
    //padding-left: columns(1);
  @include adjust-font-size-to(12px);
  
    .name {
    font-family: "DroidSansBold";
    }
    .signout {
    //padding-right: columns(1);
    @include trailer(1);
    text-align: right;
    }
  }
}

#dashnav,
#mainnav {
  //@include columns(5, 6);
  //@include omega(6);
  //@include prefix(1, 6);
  .ui-accordion-content {
    border:  0;
    color: red;
    background: inherit;
  }
  a {
    display: block;
  }
  >li {
    //@include adjust-font-size-to(15px);
    text-align: right;
    >a {
    @include awesome($font-size: 15px);
    @include margin-trailer(.5);
    padding-right: $gutter-width;
      &.hover-header {
        padding-right: $gutter-width * 2;
      }
    }
    >ul {
    //@include adjust-font-size-to(14px,1,15px);
    //@include leader(.5);
      a {
        padding-right: $gutter-width;
        color: #bbbbbb;
        font-family: "DroidSansBold";
        &:hover {
          color: white;
        }
      }
    }
  }
}

.info {
//@include columns(22);
@include notification(red);
}

td.fielderror {
color: red;
}

fieldset {
  border: 1px solid #aaa;
  @include margin-trailer(1);
  @include padding-trailer(1);
  padding-left: $blueprint-liquid-grid-margin;
  padding-right: $blueprint-liquid-grid-margin;
  width: span-fluid(10);
}

#submit {
  #uploadcheck {
    //@include columns(5, 17);
  }
  #field_notes {
    #id_sub-notes {
        height: rhythm(4);
    }
    //@include columns(12, 17);
    //@include omega(17);
  }
}


#new-client-lab {
  //@include fancy-box($columns: 10, $context: 24);
}

form#new-lab {
  //@include pad(1);
}
form#new-client {
  #field_first_name,
  #field_last_name,
  #field_email,
  #field_phone
  {
  //@include columns(5,10);
  }
  #field_last_name,
  #field_phone
  {
  //@include pad(1);
  //@include omega(10);
  }

  ul {
    @include no-bullet;
  }
}
form#new-lab {
//@include omega(24);
}

#signin {
@include background-image(linear-gradient(top left, #999, #333));
height: 100%;
width: 100%;
position: fixed;
  form {
    padding: 10% 0;
    fieldset {
    @include fancy-box;
    background: #fff;
    @include pagecurl;
    float: none;
    //width: columns(8);
    display: block;
    margin: 0 auto;
    //padding: 10% 0;
    }
  }
}

#dashboard {
  .section {
  @include fancy-box;
    h2{
    }
   }
  table {
  table-layout: fixed;
  }
  td, th {
  //padding: 0;
  white-space: nowrap;
  }
}

// Datepicker fix
.ui-datepicker { width: 17em; padding: .2em .2em 0; z-index: 9999 !important; }


#submission-detail {
  #submission-notes {
    float: right;
    ul {
        overflow: auto;
        @include adjust-font-size-to(12px, .5);
        height: rhythm(10);
        li {
            border-bottom: 1px solid #ddd;
            //padding: rhythm(.5) columns(.5);
            //margin-right: columns(.5);
            .author {
                 display: block;
                 float: right;
                 font-weight: bold;
            }
        }
    }
    .newnote {
        @include adjust-font-size-to(18px,1.5);
        //color: white;
        padding-right: 10px;
        float: right;
    }
  }
  #submission-info {
    //@include fancy-box($columns: 12, $context: 25);
    @include column(12);
  }
  #submission-notes {
    @include column(12, last);
    //@include fancy-box($columns: 12, $context: 25);
    //@include omega(25);
  }
  #libprep {
    @include clearfix;
    float: left;
  }
}


#prep-sequencing {
  .row_selected td {
    background-color: #bbb;
  }
  #prepped-sample {
    ////@include fancy-box($columns: 12, $context: 25);
    //@include columns(12, 25);
    //@include full(24);
    
  }
  #selection {
    //@include fancy-box($columns: 12, $context: 25);
    //@include omega(25);
  }
}

form#new-flowcell {
    //@include fancy-box($columns: 12, $context: 25);
    //@include columns(14,25);
    //@include pagecurl;
    border: 1px solid #ddd;
    padding: 10px;
  table {
    @include leader(1);
  }
  input[type='submit'] {
    float: right;
    //margin-right: columns(2);
  }
}
#seqsamples {
    @include fancy-box($columns: 8, $context: 25);
    //@include omega(25);
}

.sample-infobox {
@include sllis-tooltip;
}

#sample-table {
  @include adjust-font-size-to(14px);
}
#sample-table {
    //@include columns(19,25);
}
#sample-filter-opts {
    //@include columns(6,25);
    //@include omega(25);
}

