/* line 27, ../../sass/pie.scss */
.pie-element, .bordered, .gradient {
  behavior: url("/static/static/css/PIE.htc");
  position: relative;
}

/* line 33, ../../sass/pie.scss */
.bordered {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 38, ../../sass/pie.scss */
.gradient {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  background: -ms-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* line 52, ../../sass/pie.scss */
.pie-container, .widget {
  z-index: 0;
  position: relative;
}

/* line 56, ../../sass/pie.scss */
.z-pie-element, .widget h3 {
  behavior: url("/static/static/css/PIE.htc");
  z-index: 0;
}

/* line 71, ../../sass/pie.scss */
.has-gradient {
  behavior: url("/static/static/css/PIE.htc");
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  background: -ms-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}
