/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
* qTip2 - Pretty powerful tooltips
* http://craigsworks.com/projects/qtip2/
*
* Version: nightly
* Copyright 2009-2010 Craig Michael Thompson - http://craigsworks.com
*
* Dual licensed under MIT or GPLv2 licenses
*   http://en.wikipedia.org/wiki/MIT_License
*   http://en.wikipedia.org/wiki/GNU_General_Public_License
*
* Date: Thu Nov 24 10:05:52.0000000000 2011
*/
/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
/* Default tooltip style */
/* line 120, ../../sass/_qtip.scss */
.ui-tooltip-default .ui-tooltip-titlebar,
.ui-tooltip-default .ui-tooltip-content {
  border-color: #F1D031;
  background-color: #FFFFA3;
  color: #555;
}

/* line 126, ../../sass/_qtip.scss */
.ui-tooltip-default .ui-tooltip-titlebar {
  background-color: #FFEF93;
}

/* line 130, ../../sass/_qtip.scss */
.ui-tooltip-default .ui-tooltip-icon {
  border-color: #CCC;
  background: #F1F1F1;
  color: #777;
}

/* line 136, ../../sass/_qtip.scss */
.ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover {
  border-color: #AAA;
  color: #111;
}

/* Tips plugin */
/* line 142, ../../sass/_qtip.scss */
.ui-tooltip .ui-tooltip-tip {
  margin: 0 auto;
  overflow: hidden;
  z-index: 10;
}

/* line 149, ../../sass/_qtip.scss */
.ui-tooltip .ui-tooltip-tip,
.ui-tooltip .ui-tooltip-tip * {
  position: absolute;
  line-height: 0.1px !important;
  font-size: 0.1px !important;
  color: #123456;
  background: transparent;
  border: 0px dashed transparent;
}

/* line 160, ../../sass/_qtip.scss */
.ui-tooltip .ui-tooltip-tip canvas {
  top: 0;
  left: 0;
}

/* Modal plugin */
/* line 164, ../../sass/_qtip.scss */
#qtip-overlay {
  position: fixed;
  left: -10000em;
  top: -10000em;
}

/* Applied to modals with show.modal.blur set to true */
/* line 171, ../../sass/_qtip.scss */
#qtip-overlay.blurs {
  cursor: pointer;
}

/* Change opacity of overlay here */
/* line 174, ../../sass/_qtip.scss */
#qtip-overlay div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

/* Light tooltip style */
/* line 188, ../../sass/_qtip.scss */
.ui-tooltip-light .ui-tooltip-titlebar,
.ui-tooltip-light .ui-tooltip-content {
  border-color: #E2E2E2;
  color: #454545;
}

/* line 193, ../../sass/_qtip.scss */
.ui-tooltip-light .ui-tooltip-content {
  background-color: white;
}

/* line 197, ../../sass/_qtip.scss */
.ui-tooltip-light .ui-tooltip-titlebar {
  background-color: #f1f1f1;
}

/* Dark tooltip style */
/* line 204, ../../sass/_qtip.scss */
.ui-tooltip-dark .ui-tooltip-titlebar,
.ui-tooltip-dark .ui-tooltip-content {
  border-color: #303030;
  color: #f3f3f3;
}

/* line 209, ../../sass/_qtip.scss */
.ui-tooltip-dark .ui-tooltip-content {
  background-color: #505050;
}

/* line 213, ../../sass/_qtip.scss */
.ui-tooltip-dark .ui-tooltip-titlebar {
  background-color: #404040;
}

/* line 217, ../../sass/_qtip.scss */
.ui-tooltip-dark .ui-tooltip-icon {
  border-color: #444;
}

/* line 221, ../../sass/_qtip.scss */
.ui-tooltip-dark .ui-tooltip-titlebar .ui-state-hover {
  border-color: #303030;
}

/* Cream tooltip style */
/* line 228, ../../sass/_qtip.scss */
.ui-tooltip-cream .ui-tooltip-titlebar,
.ui-tooltip-cream .ui-tooltip-content {
  border-color: #F9E98E;
  color: #A27D35;
}

/* line 233, ../../sass/_qtip.scss */
.ui-tooltip-cream .ui-tooltip-content {
  background-color: #FBF7AA;
}

/* line 237, ../../sass/_qtip.scss */
.ui-tooltip-cream .ui-tooltip-titlebar {
  background-color: #F0DE7D;
}

/* line 241, ../../sass/_qtip.scss */
.ui-tooltip-cream .ui-state-default .ui-tooltip-icon {
  background-position: -82px 0;
}

/* Red tooltip style */
/* line 248, ../../sass/_qtip.scss */
.ui-tooltip-red .ui-tooltip-titlebar,
.ui-tooltip-red .ui-tooltip-content {
  border-color: #D95252;
  color: #912323;
}

/* line 253, ../../sass/_qtip.scss */
.ui-tooltip-red .ui-tooltip-content {
  background-color: #F78B83;
}

/* line 257, ../../sass/_qtip.scss */
.ui-tooltip-red .ui-tooltip-titlebar {
  background-color: #F06D65;
}

/* line 261, ../../sass/_qtip.scss */
.ui-tooltip-red .ui-state-default .ui-tooltip-icon {
  background-position: -102px 0;
}

/* line 265, ../../sass/_qtip.scss */
.ui-tooltip-red .ui-tooltip-icon {
  border-color: #D95252;
}

/* line 269, ../../sass/_qtip.scss */
.ui-tooltip-red .ui-tooltip-titlebar .ui-state-hover {
  border-color: #D95252;
}

/* Green tooltip style */
/* line 276, ../../sass/_qtip.scss */
.ui-tooltip-green .ui-tooltip-titlebar,
.ui-tooltip-green .ui-tooltip-content {
  border-color: #90D93F;
  color: #3F6219;
}

/* line 281, ../../sass/_qtip.scss */
.ui-tooltip-green .ui-tooltip-content {
  background-color: #CAED9E;
}

/* line 285, ../../sass/_qtip.scss */
.ui-tooltip-green .ui-tooltip-titlebar {
  background-color: #B0DE78;
}

/* line 289, ../../sass/_qtip.scss */
.ui-tooltip-green .ui-state-default .ui-tooltip-icon {
  background-position: -42px 0;
}

/* Blue tooltip style */
/* line 296, ../../sass/_qtip.scss */
.ui-tooltip-blue .ui-tooltip-titlebar,
.ui-tooltip-blue .ui-tooltip-content {
  border-color: #ADD9ED;
  color: #5E99BD;
}

/* line 301, ../../sass/_qtip.scss */
.ui-tooltip-blue .ui-tooltip-content {
  background-color: #E5F6FE;
}

/* line 305, ../../sass/_qtip.scss */
.ui-tooltip-blue .ui-tooltip-titlebar {
  background-color: #D0E9F5;
}

/* line 309, ../../sass/_qtip.scss */
.ui-tooltip-blue .ui-state-default .ui-tooltip-icon {
  background-position: -2px 0;
}

/* Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
/* line 336, ../../sass/_qtip.scss */
.ui-tooltip-rounded,
.ui-tooltip-rounded .ui-tooltip-content,
.ui-tooltip-tipsy,
.ui-tooltip-tipsy .ui-tooltip-content,
.ui-tooltip-youtube,
.ui-tooltip-youtube .ui-tooltip-content {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 344, ../../sass/_qtip.scss */
.ui-tooltip-rounded .ui-tooltip-titlebar,
.ui-tooltip-tipsy .ui-tooltip-titlebar,
.ui-tooltip-youtube .ui-tooltip-titlebar {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

/* line 352, ../../sass/_qtip.scss */
.ui-tooltip-rounded .ui-tooltip-titlebar + .ui-tooltip-content,
.ui-tooltip-tipsy .ui-tooltip-titlebar + .ui-tooltip-content,
.ui-tooltip-youtube .ui-tooltip-titlebar + .ui-tooltip-content {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/* Youtube tooltip style */
/* line 360, ../../sass/_qtip.scss */
.ui-tooltip-youtube {
  -webkit-box-shadow: 0 0 3px #333;
  -moz-box-shadow: 0 0 3px #333;
  box-shadow: 0 0 3px #333;
}

/* line 367, ../../sass/_qtip.scss */
.ui-tooltip-youtube .ui-tooltip-titlebar,
.ui-tooltip-youtube .ui-tooltip-content {
  _margin-bottom: 0;
  /* IE6 */
  .margin-bottom: 0;
  /* IE7 */
  background: transparent;
  background: rgba(0, 0, 0, 0.85);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000)";
  color: white;
  border-color: #CCCCCC;
}

/* line 380, ../../sass/_qtip.scss */
.ui-tooltip-youtube .ui-tooltip-icon {
  border-color: #222;
}

/* line 384, ../../sass/_qtip.scss */
.ui-tooltip-youtube .ui-tooltip-titlebar .ui-state-hover {
  border-color: #303030;
}

/* jQuery TOOLS Tooltip style */
/* line 390, ../../sass/_qtip.scss */
.ui-tooltip-jtools {
  background: #232323;
  background: rgba(0, 0, 0, 0.7);
  background-image: -moz-linear-gradient(top, #717171, #232323);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323));
  border: 2px solid #ddd;
  border: 2px solid #f1f1f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 12px #333;
  -moz-box-shadow: 0 0 12px #333;
  box-shadow: 0 0 12px #333;
}

/* IE Specific */
/* line 409, ../../sass/_qtip.scss */
.ui-tooltip-jtools .ui-tooltip-titlebar {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)";
}

/* line 413, ../../sass/_qtip.scss */
.ui-tooltip-jtools .ui-tooltip-content {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)";
}

/* line 419, ../../sass/_qtip.scss */
.ui-tooltip-jtools .ui-tooltip-titlebar,
.ui-tooltip-jtools .ui-tooltip-content {
  background: transparent;
  color: white;
  border: 0 dashed transparent;
}

/* line 425, ../../sass/_qtip.scss */
.ui-tooltip-jtools .ui-tooltip-icon {
  border-color: #555;
}

/* line 429, ../../sass/_qtip.scss */
.ui-tooltip-jtools .ui-tooltip-titlebar .ui-state-hover {
  border-color: #333;
}

/* Cluetip style */
/* line 435, ../../sass/_qtip.scss */
.ui-tooltip-cluetip {
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

/* line 441, ../../sass/_qtip.scss */
.ui-tooltip-cluetip .ui-tooltip-titlebar {
  background-color: #87876A;
  color: white;
  border: 0 dashed transparent;
}

/* line 447, ../../sass/_qtip.scss */
.ui-tooltip-cluetip .ui-tooltip-content {
  background-color: #D9D9C2;
  color: #111;
  border: 0 dashed transparent;
}

/* line 453, ../../sass/_qtip.scss */
.ui-tooltip-cluetip .ui-tooltip-icon {
  border-color: #808064;
}

/* line 457, ../../sass/_qtip.scss */
.ui-tooltip-cluetip .ui-tooltip-titlebar .ui-state-hover {
  border-color: #696952;
  color: #696952;
}

/* Tipsy style */
/* line 464, ../../sass/_qtip.scss */
.ui-tooltip-tipsy {
  border: 0;
}

/* line 469, ../../sass/_qtip.scss */
.ui-tooltip-tipsy .ui-tooltip-titlebar,
.ui-tooltip-tipsy .ui-tooltip-content {
  _margin-bottom: 0;
  /* IE6 */
  .margin-bottom: 0;
  /* IE7 */
  background: transparent;
  background: rgba(0, 0, 0, 0.87);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000)";
  color: white;
  border: 0px transparent;
  font-size: 11px;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: bold;
  line-height: 16px;
  text-shadow: 0 1px black;
}

/* line 488, ../../sass/_qtip.scss */
.ui-tooltip-tipsy .ui-tooltip-titlebar {
  padding: 6px 35px 0 10;
}

/* line 492, ../../sass/_qtip.scss */
.ui-tooltip-tipsy .ui-tooltip-content {
  padding: 6px 10;
}

/* line 496, ../../sass/_qtip.scss */
.ui-tooltip-tipsy .ui-tooltip-icon {
  border-color: #222;
  text-shadow: none;
}

/* line 501, ../../sass/_qtip.scss */
.ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover {
  border-color: #303030;
}

/* Tipped style */
/* line 512, ../../sass/_qtip.scss */
.ui-tooltip-tipped .ui-tooltip-titlebar,
.ui-tooltip-tipped .ui-tooltip-content {
  border: 3px solid #959FA9;
  filter: none;
  -ms-filter: none;
}

/* line 518, ../../sass/_qtip.scss */
.ui-tooltip-tipped .ui-tooltip-titlebar {
  background: #3A79B8;
  background-image: -moz-linear-gradient(top, #3a79b8, #2e629d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a79b8), to(#2e629d));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)";
  color: white;
  font-weight: normal;
  font-family: serif;
  border-bottom-width: 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

/* line 535, ../../sass/_qtip.scss */
.ui-tooltip-tipped .ui-tooltip-content {
  background-color: #F9F9F9;
  color: #454545;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

/* line 544, ../../sass/_qtip.scss */
.ui-tooltip-tipped .ui-tooltip-icon {
  border: 2px solid #285589;
  background: #285589;
}

/* line 549, ../../sass/_qtip.scss */
.ui-tooltip-tipped .ui-tooltip-icon .ui-icon {
  background-color: #FBFBFB;
  color: #555;
}

/* IE9 fix - removes all filters */
/* line 556, ../../sass/_qtip.scss */
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content,
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar {
  filter: none;
  -ms-filter: none;
}

/* line 51, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 55, ../../../../../../.virtualenvs/sandbox/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 16, ../../sass/screen.scss */
.stuff1 {
  position: relative;
  border: 1px solid #efefef;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  width: 300px;
  padding: 20px;
}
/* line 27, ../../sass/_pageeffects.scss */
.stuff1:before, .stuff1:after {
  content: '';
  position: absolute;
  z-index: -2;
  width: 70%;
  max-width: 200px;
  height: 20px;
  bottom: 15px;
  left: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -moz-transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
/* line 41, ../../sass/_pageeffects.scss */
.stuff1:after {
  left: auto;
  right: 8px;
  -moz-transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}

/* line 59, ../../sass/screen.scss */
.infobox {
  /* Core qTip styles */
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  min-width: 50px;
  font-size: 10.5px;
  line-height: 12px;
  z-index: 15000;
  /* Fluid class for determining actual width in IE */
  /* Default close button class */
  /* IE fix */
  position: absolute;
}
/* line 32, ../../sass/_qtip.scss */
.infobox .ui-tooltip-fluid {
  display: block;
  visibility: hidden;
  position: static !important;
  float: left !important;
}
/* line 39, ../../sass/_qtip.scss */
.infobox .ui-tooltip-content {
  position: relative;
  padding: 5px 9px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
}
/* line 52, ../../sass/_qtip.scss */
.infobox .ui-tooltip-titlebar {
  position: relative;
  min-height: 14px;
  padding: 5px 35px 5px 10px;
  overflow: hidden;
  border-width: 1px 1px 0;
  border-style: solid;
  font-weight: bold;
}
/* line 64, ../../sass/_qtip.scss */
.infobox .ui-tooltip-titlebar + .ui-tooltip-content {
  border-top-width: 0px !important;
}
/* line 67, ../../sass/_qtip.scss */
.infobox .ui-tooltip-titlebar .ui-state-default {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
  outline: medium none;
  border-width: 1px;
  border-style: solid;
}
/* line 80, ../../sass/_qtip.scss */
.infobox * html .ui-tooltip-titlebar .ui-state-default {
  top: 16px;
}
/* line 83, ../../sass/_qtip.scss */
.infobox .ui-tooltip-titlebar .ui-icon,
.infobox .ui-tooltip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
}
/* line 88, ../../sass/_qtip.scss */
.infobox .ui-tooltip-icon, .infobox .ui-tooltip-icon .ui-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 94, ../../sass/_qtip.scss */
.infobox .ui-tooltip-icon .ui-icon {
  width: 18px;
  height: 14px;
  text-align: center;
  text-indent: 0;
  font: normal bold 10px/13px Tahoma, sans-serif;
  color: inherit;
  background: transparent none no-repeat -100em -100em;
}
/* line 26, ../../sass/screen.scss */
.infobox .ui-tooltip-titlebar, .infobox .ui-tooltip-content {
  border-color: #efefef;
  color: #f3f3f3;
}
/* line 31, ../../sass/screen.scss */
.infobox .ui-tooltip-content {
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  background-color: #fff;
  width: 200px;
  height: 200px;
  color: #666;
  font-size: 16px;
}
/* line 40, ../../sass/screen.scss */
.infobox .ui-tooltip-titlebar {
  background-color: #404040;
}
/* line 44, ../../sass/screen.scss */
.infobox .ui-tooltip-icon {
  border-color: #444;
}
/* line 48, ../../sass/screen.scss */
.infobox .ui-tooltip-titlebar .ui-state-hover {
  border-color: #303030;
}

/* line 64, ../../sass/screen.scss */
.stuff2 {
  position: relative;
  border: 1px solid #efefef;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  box-shadow: rgba(0, 0, 0, 0.27) 0 1px 4px, rgba(0, 0, 0, 0.06) 0 0 40px inset;
  padding: 5px;
  width: 250px;
  margin: 30px;
}
/* line 27, ../../sass/_pageeffects.scss */
.stuff2:before, .stuff2:after {
  content: '';
  position: absolute;
  z-index: -2;
  width: 70%;
  max-width: 200px;
  height: 20px;
  bottom: 15px;
  left: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 36px;
  -moz-transform: skew(-15deg) rotate(-6deg);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
/* line 41, ../../sass/_pageeffects.scss */
.stuff2:after {
  left: auto;
  right: 8px;
  -moz-transform: skew(15deg) rotate(6deg);
  -webkit-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}
/* line 49, ../../sass/_ribbon.scss */
.stuff2 div.ribbon-wrapper {
  height: 2.625em;
  width: 250px;
  position: relative;
  z-index: 3;
}
/* line 63, ../../sass/_ribbon.scss */
.stuff2 div.ribbon-front {
  width: 284px;
  line-height: 1.875em;
  text-indent: 17px;
  background-color: #3a89ce;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
  left: -17px;
}
/* line 110, ../../sass/_ribbon.scss */
.stuff2 div.ribbon-edge-left-top,
.stuff2 div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -17px;
  border-style: solid;
}
/* line 113, ../../sass/_ribbon.scss */
.stuff2 div.ribbon-back-left {
  width: 0;
  height: 1.875em;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -o-border-bottom-left-radius: 2px;
  -ms-border-bottom-left-radius: 2px;
  -khtml-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #3a89ce;
  left: -7px;
}
/* line 110, ../../sass/_ribbon.scss */
.stuff2 div.ribbon-edge-right-top,
.stuff2 div.ribbon-edge-right-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  right: -17px;
  border-style: solid;
}
/* line 113, ../../sass/_ribbon.scss */
.stuff2 div.ribbon-back-right {
  width: 0;
  height: 1.875em;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -o-border-bottom-right-radius: 2px;
  -ms-border-bottom-right-radius: 2px;
  -khtml-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #3a89ce;
  right: -7px;
}
/* line 133, ../../sass/_ribbon.scss */
.stuff2 div.ribbon-edge-left-bottom {
  top: 1.875em;
  border-width: 0 10px 0.75em 0;
  border-color: transparent #163a59 transparent transparent;
}
/* line 138, ../../sass/_ribbon.scss */
.stuff2 div.ribbon-back-left {
  top: 0.75em;
}
/* line 153, ../../sass/_ribbon.scss */
.stuff2 div.ribbon-edge-right-bottom {
  top: 1.875em;
  border-width: 0.75em 10px 0 0;
  border-color: #163a59 transparent transparent transparent;
}
/* line 158, ../../sass/_ribbon.scss */
.stuff2 div.ribbon-back-right {
  top: 0.75em;
}
/* line 68, ../../sass/screen.scss */
.stuff2 h2 {
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  font-size: 23px;
}
