/*
 * Table wrapper
 */
/* line 29, ../../sass/sts.scss */
.dataTables_wrapper,
.dataTables_header,
.dataTables_footer {
  color: white;
  background: #57a000 url(../../../img/old-browsers/colors/bg_button-icon.png) repeat-x;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#57a000), to(#57a000));
  /*background: -webkit-linear-gradient(top, #006aac, #00438d);
  background: -moz-linear-gradient(top, #006aac, #00438d);
  background: -ms-linear-gradient(top, #006aac, #00438d);
  background: -o-linear-gradient(top, #006aac, #00438d);
  background: linear-gradient(top, #006aac, #00438d);*/
}

/* line 45, ../../sass/sts.scss */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 1px #004795, inset 0 2px 0 rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 0 0 0 1px #004795, inset 0 2px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 0 0 1px #004795, inset 0 2px 0 rgba(255, 255, 255, 0.35);
}

/* line 56, ../../sass/sts.scss */
.dataTables_header {
  border: 1px solid #004795;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

/* line 66, ../../sass/sts.scss */
.dataTables_footer {
  border: 1px solid #004795;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* line 77, ../../sass/sts.scss */
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  padding: 10px;
  line-height: 30px;
}

/*
 * Page length menu
 */
/* line 86, ../../sass/sts.scss */
.dataTables_length {
  float: left;
}

/*
 * Filter
 */
/* line 94, ../../sass/sts.scss */
.dataTables_filter {
  float: right;
  text-align: right;
}

/* line 98, ../../sass/sts.scss */
.dataTables_filter input {
  display: inline-block;
  text-align: left;
  padding: 7px 9px;
  line-height: 16px;
  border: 0;
  margin-left: 5px;
  vertical-align: baseline;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #e6e6e6 url(../../../img/old-browsers/colors/bg_input.png) repeat-x;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
  background: -webkit-linear-gradient(top, white, #e6e6e6);
  background: -moz-linear-gradient(top, white, #e6e6e6);
  background: -ms-linear-gradient(top, white, #e6e6e6);
  background: -o-linear-gradient(top, white, #e6e6e6);
  background: linear-gradient(top, #ffffff, #e6e6e6);
  border-color: #cccccc;
  color: #666666;
  -webkit-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
  -moz-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
  box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
}

/* line 127, ../../sass/sts.scss */
.ie7 .dataTables_filter input {
  display: inline;
  zoom: 1;
  vertical-align: middle;
}

/* line 132, ../../sass/sts.scss */
.no-boxshadow .dataTables_filter input {
  border-width: 1px;
  border-style: solid;
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 16px;
}

/*
 * Table information
 */
/* line 144, ../../sass/sts.scss */
.dataTables_info {
  clear: both;
  float: left;
}

/*
 * Pagination
 */
/* line 153, ../../sass/sts.scss */
.dataTables_paginate {
  float: right;
  text-align: right;
}

/* Button style */
/* line 163, ../../sass/sts.scss */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next,
.paging_full_numbers a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: baseline;
  *vertical-align: middle;
  position: relative;
  text-align: center;
  font-weight: bold;
  text-transform: none;
  padding: 0 11px;
  font-size: 13px;
  line-height: 28px;
  height: 28px;
  *line-height: 26px;
  *height: 26px;
  color: white;
  cursor: pointer;
  border: 1px solid #004795;
  background-position: center center !important;
  /* This is required for glossy gradients image fallbacck*/
  background: #0a5db8 url(../../../img/old-browsers/colors/bg_blue-gradient_glossy.png) repeat-x;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#65b2dd), to(#0a5db8), color-stop(0.5, #045ab2), color-stop(0.5, #004995));
  background: -webkit-linear-gradient(top, #65b2dd, #045ab2 50%, #004995 50%, #0a5db8);
  background: -moz-linear-gradient(top, #65b2dd, #045ab2 50%, #004995 50%, #0a5db8);
  background: -ms-linear-gradient(top, #65b2dd, #045ab2 50%, #004995 50%, #0a5db8);
  background: -o-linear-gradient(top, #65b2dd, #045ab2 50%, #004995 50%, #0a5db8);
  background: linear-gradient(top, #65b2dd, #045ab2 50%, #004995 50%, #0a5db8);
  -webkit-background-clip: padding-box;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

/* line 204, ../../sass/sts.scss */
.paginate_disabled_previous,
.paginate_enabled_previous {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
}

/* line 214, ../../sass/sts.scss */
.paginate_disabled_next,
.paginate_enabled_next {
  border-left: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 1px 0 0 rgba(255, 255, 255, 0.35), 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 1px 0 0 rgba(255, 255, 255, 0.35), 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 1px 0 0 rgba(255, 255, 255, 0.35), 0 1px 1px rgba(0, 0, 0, 0.25);
}

/* line 226, ../../sass/sts.scss */
.paginate_enabled_previous:hover,
.paginate_enabled_next:hover,
.paging_full_numbers a:hover {
  color: white;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#46bde5), to(#056fc9), color-stop(0.5, #026cc4), color-stop(0.5, #005cac));
  background: -webkit-linear-gradient(top, #46bde5, #026cc4 50%, #005cac 50%, #056fc9);
  background: -moz-linear-gradient(top, #46bde5, #026cc4 50%, #005cac 50%, #056fc9);
  background: -ms-linear-gradient(top, #46bde5, #026cc4 50%, #005cac 50%, #056fc9);
  background: -o-linear-gradient(top, #46bde5, #026cc4 50%, #005cac 50%, #056fc9);
  background: linear-gradient(top, #46bde5, #026cc4 50%, #005cac 50%, #056fc9);*/
}

/* Two button pagination - previous / next */
/* line 245, ../../sass/sts.scss */
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
  outline: none;
}

/* line 250, ../../sass/sts.scss */
.paginate_disabled_previous,
.paginate_disabled_next {
  color: #57a000 !important;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}

/* line 260, ../../sass/sts.scss */
.paginate_disabled_previous:before,
.paginate_enabled_previous:before,
.paginate_disabled_next:after,
.paginate_enabled_next:after {
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-family: 'EntypoRegular';
  font-size: 2em;
  line-height: 1em;
  margin: -0.5em -0.077em -0.5em -0.077em;
  vertical-align: -0.077em;
}

/* line 271, ../../sass/sts.scss */
.paginate_disabled_previous:before,
.paginate_enabled_previous:before {
  content: 'Å';
  margin-right: 5px;
}

/* line 276, ../../sass/sts.scss */
.paginate_disabled_next:after,
.paginate_enabled_next:after {
  content: 'Ä';
  margin-left: 5px;
}

/* Full number pagination */
/* line 282, ../../sass/sts.scss */
.paging_full_numbers a.paginate_button {
  border-left-width: 0;
}

/* line 285, ../../sass/sts.scss */
.paging_full_numbers a.paginate_button.first {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 292, ../../sass/sts.scss */
.paging_full_numbers a.paginate_button.last {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* line 300, ../../sass/sts.scss */
.paging_full_numbers a.paginate_active,
.paging_full_numbers a.paginate_active.first,
.paging_full_numbers a.paginate_active.last {
  border: 0;
  padding: 1px 12px;
  background: #005fb4 url(../../../img/old-browsers/colors/bg_blue-active_active.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, from(#57a000), to(#005fb4));
  /*background: -webkit-gradient(linear, left top, left bottom, from(#003475), to(#005fb4));
  background: -webkit-linear-gradient(top, #003475, #005fb4);
  background: -moz-linear-gradient(top, #003475, #005fb4);
  background: -ms-linear-gradient(top, #003475, #005fb4);
  background: -o-linear-gradient(top, #003475, #005fb4);
  background: linear-gradient(top, #003475, #005fb4);*/
  color: white;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.35);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

/*
 * Processing indicator
 */
/* line 324, ../../sass/sts.scss */
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}

/*
 * Sorting
 */
/* line 344, ../../sass/sts.scss */
table.dataTable th:active {
  outline: none;
}

/* line 347, ../../sass/sts.scss */
.sorting:hover {
  color: #0059a0;
  cursor: pointer;
}

/* line 352, ../../sass/sts.scss */
.sorting_asc:before,
.sorting_desc:before {
  font-size: 0.75em;
  padding-right: 2px;
  vertical-align: 0.15em;
}

/* line 357, ../../sass/sts.scss */
.sorting_asc:before {
  content: '▼';
}

/* line 360, ../../sass/sts.scss */
.sorting_desc:before {
  content: '▲';
}

/*
 * Scrolling
 */
/* line 368, ../../sass/sts.scss */
.dataTables_scroll {
  clear: both;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


.dataTables_scroll table {
  border: none;
}

/* line 372, ../../sass/sts.scss */
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

/* The legen - wait for it - dary clearfix */
/* line 382, ../../sass/sts.scss */
.dataTables_wrapper:before, .dataTables_wrapper:after,
.dataTables_header:before, .dataTables_header:after,
.dataTables_footer:before, .dataTables_footer:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 385, ../../sass/sts.scss */
.dataTables_wrapper:after,
.dataTables_header:after,
.dataTables_footer:after {
  clear: both;
}

/* line 388, ../../sass/sts.scss */
.dataTables_wrapper,
.dataTables_header,
.dataTables_footer {
  zoom: 1;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url("Entypo/entypo-webfont.eot");
  src: url("Entypo/entypo-webfont.eot?#iefix") format("embedded-opentype"), url("Entypo/entypo-webfont.woff") format("woff"), url("Entypo/entypo-webfont.ttf") format("truetype"), url("Entypo/entypo-webfont.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 402, ../../sass/sts.scss */
table {
  background: white;
  color: #666666;
  border: 1px solid #ddd;
}
/* line 9, ../../sass/sts.scss */
table td.center, table td.dataTables_empty {
  text-align: center;
}
/* line 13, ../../sass/sts.scss */
table tr.even {
  background-color: #f7f7f7;
}
/* line 14, ../../sass/sts.scss */
table tr.even:hover {
  background: #f0f0f0;
}
/* line 16, ../../sass/sts.scss */
table tr.odd td.sorting_1 {
  background-color: #f1f1f1;
}
/* line 17, ../../sass/sts.scss */
table tr.odd td.sorting_2 {
  background-color: #f6f6f6;
}
/* line 18, ../../sass/sts.scss */
table tr.odd td.sorting_3 {
  background-color: #fbfbfb;
}
/* line 19, ../../sass/sts.scss */
table tr.even td.sorting_1 {
  background-color: #e7e7e7;
}
/* line 20, ../../sass/sts.scss */
table tr.even td.sorting_2 {
  background-color: #eaeaea;
}
/* line 21, ../../sass/sts.scss */
table tr.even td.sorting_3 {
  background-color: #ededed;
}

.search_init{
  font-size: 12px;
}
