{% extends "frontend/base.html" %}

{% block js %}
<script type="text/javascript">
$(function() {
  $('#sample tbody tr').formset();
  $('table').dataTable({
  });
});
</script>
{% endblock js %}

{% block content %}
<h1>Queue for {{ request.user.person.name }}</h1>
<table>
<thead>
<tr>
<th>Submission ID</th>
<th>Sample Name</th>
<th>Prep Type</th>
<th>Submitted</th>
</tr>
</thead>
<tbody>
{% for spd in sampleprepdetails %}
{% with spd.samplesubmission as ss %}
<tr>
<td><a href="{% url submission-detail ss.submission.id %}">{{ ss.submission.id }}</a></td>
<td><span data-sampkey="{{ ss.key }}">{{ spd.samplesubmission.sample.name }}</span></td>
<td>{{ spd.preptype.name }}</td>
<td>{{ spd.samplesubmission.submission.submitted }}</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
<tfoot></tfoot>
</table>
{% endblock content %}
