{% extends "frontend/base.html" %}

{% block extracss %}
<style>
.submission {
  float: left;
  border: 2px solid #aaa;
  margin-right: 1em;
  margin-bottom: 1em;
  height: 100px;
}
.submission ul li{
  overflow: auto;
}
.submission h2 {
  color: #fff;
  background-color: #000;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

#bucket {
overflow: auto;
}
</style>
{% endblock extracss %}
{% block extrajs %}
<script type="text/javascript" charset="utf-8">
$(function() {

 //$('#new-submissions').dataTable();
  $('form').ajaxForm({
    success: function(text, statusText, xhr, $form) {
        alert(statusText);
    },
    error: function(text, statusText, xhr) {
        alert(statusText);
    }
  });

  //$('#allsubmissions').accordion({autoHeight: false});
  
  $('.foo').draggable({
    helper: function(event){
    return $('<div class="drag-cart-item"><table></table></div>').find('table').append($(event.target).closest('tr').clone()).end();
    }
    });
  /*$(".submission").dblclick(function() {
    $('.samplesubmission', this).slideToggle();
  });*/

  $('.submission').draggable({ revert: true });
  $('.samplesubmission').draggable({ revert: true });

  $("#bucket").droppable({
    tolerance: 'pointer',
    drop: function( event, ui ) {
      if ( ui.draggable.data('submission')) {
          var bucket = this;
          var name = "Submission: "
          var id = ui.draggable.data('submission')
          $.getJSON('{% url samplesubmission-json %}',
              { id: id },
              function(data) {
                  $(bucket).append('<li>Submission ' + id + ': (' + data.length + ' samples)</li>');
                  $('form', bucket).append('<input type="hidden" name="submission" value="' + id + '" />');
              });

      } else if (ui.draggable.data('samplesubmission')) {
          var name = "Sample Submission: ";
          var id = ui.draggable.data('samplesubmission');
      }
      //$(this).append('<li>' + json[0] + '</li>');

      ui.draggable.remove();
      }
  });
});
</script>
{% endblock extrajs %}

{% block content %}


{% if messages %}
  {% for m in messages %}
    {{ m }}
  {% endfor %}
{% endif %}

<div style="float: right; border: 1px solid #333;">
<form method="post" action="{% url new-submissions %}">{% csrf_token %}
<ul id="bucket" style="width: 200px; height: 300px;">
</ul>
<input type="submit" value=" Assign to me! ">
</form>
</div>

<ul id="allsubmissions">
  {% for s in submissions|slice:":30" %}
  <li class="submission" data-submission="{{ s.id }}">
    <h2>{{ s.id }}<p>{{ s.submitted }}</p></h2>
    <p>Client: {{ s.client.name }}</p>
    <ul>
      {% for ss in s.samplesubmission_set.all|slice:":30" %}
      <li class='samplesubmission' data-samplesubmission="{{ ss.id }}">{{ ss.sample.name }}</li>
      {% endfor %}
   </ul>
  </li>
{% endfor %}
</ul> 

<table style="width: 300px" id="new-submissions">
  <thead>
  <tr>
    <th>Submission</th>
    <th>Assign All</th>
    <th>Sample Name</th>
    <th>Client</th>
    <th>Lab</th>
    <th># Sample</th>
    <th>Status</th>
    <th>Notes</th>
    <th>Date Submitted</th>
    <th>Prep Type</th>
    <th>Assign</th>
  </tr>
  </thead>
  <tbody>
  {% for form in formset|slice:":30" %}
  <tr data-submission="{{ form.instance.samplesubmission.submission.id }}" class='foo'>
    <td class="subid">{{ form.instance.samplesubmission.submission.id }}</td>
    <td><input id="" type="checkbox">  </td> 

    <td>{{ form.id }} {{ form.instance.samplesubmission.sample.name }}</td> 
    <td>{{ form.instance.samplesubmission.submission.client.name }}</td> 
    <td>{{ form.instance.samplesubmission.submission.client.lab.name }}</td> 
    <td>{{ form.instance.samplesubmission.submission.submitted }}</td> 
    <td>{{ form.instance.preptype }}</td> 
    <td> {{ form.assigned }}</td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td colspan=6><div style="display: none;">samplesubmission stuff here</div></td>
  </tr>
  {% endfor %}
  </tbody>
</table> 


{% endblock content %}
