{% extends "sts/base.html" %}

{% block css %}
{{ block.super }}
<style>
    #id_psf-samples {
        display: none;
    }
    #selection-table {
        max-height: 400px;
        overflow: auto;
        display: block;
        width: 100%;
    }
    .row_selected  td{
        background-color: {{ datatable_select_color }};
    }

    #modal{
        display:none;
        background-color: white;
        padding: 10px;
        position: fixed;
        top: 40%;
        left: 27%;
        margin-top: -96px;
        margin-left: -186px;
        z-index: 2;
        width: 60%;
        box-shadow: 0 0px 30px white;
    }

</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    var oTable, sequencedTable;
    $(function() {
        aSelected = $('#id_psf-samples').val();
        aSelected = (aSelected == null)? []: aSelected.map(Number);

        oTable = $('table#samples').dataTable({
            iDisplayLength: 50,
            "sScrollX": "100%",
            "oLanguage": {
                "sInfoFiltered": ""
            },
            "aoColumnDefs":[
                 { "aTargets": [ 0 ],
                   "bSortable": false,
                   "fnRender": function (oData, data) {
                       return "<input type='checkbox' name='psf-samples' value='"+ data +"' />";
                    }
                 },
            ],
            "aaSorting": [[ 1, "desc" ]],
            "bServerSide": true,
            "sAjaxSource": "{% url 'libprep.views.prep_sample_browse_data' %}",
            "fnServerParams": function ( aoData ) {
                                  aoData.push( {"name": "showNotBeenProcessed", "value": $('#onlyNotBeenProcessed').is(":checked") });
            },
            "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                                 var id = parseInt($("input", nRow).val());
                                 if ( $.inArray(id, aSelected) !== -1 ) {
                                     $(nRow).addClass('row_selected');
                                     $("input", nRow).attr("checked", true);
                                 }
            },
            "fnDrawCallback": function( oSettings ) {
                                  $("input[name='checkAll']").attr("checked", false);
                                  $("input[type='checkbox'][name='psf-samples']").change(function(){
                                      var id = parseInt($(this).val());
                                      var index = $.inArray(id, aSelected);

                                      if ( index === -1 || $(this).is(":checked")) {
                                          $(this).parent().parent().addClass('row_selected');
                                          aSelected.push( id );
                                      } else {
                                          $(this).parent().parent().removeClass('row_selected');
                                          aSelected.splice( index, 1 );
                                      } 
                                  });         
            }
        });

        sequencedTable = $('table#seq-samples').dataTable({
            "oLanguage": {
                "sInfoFiltered": ""
            },
            "aaSorting": [[ 2, "asc" ]],
            "bServerSide": true,
            "bProcessing": true,
            "bAutoWidth": false,
            "sAjaxSource": "{% url 'libprep.views.prep_sample_browse_data' %}",
            "fnServerParams": function ( aoData ) {
                                  aoData.push( {"name": "sequencedSample", "value": "true" });
                              },
            "aoColumnDefs":[
                            { "aTargets": [ 0 ], "bSortable": false },
                            { "aTargets": [ 0 ], "bVisible": false }
                           ]
        });

        $('#seq-samples tr').live('click', function() {
                $(this).toggleClass('row_selected');
        });


        $('form').submit(function() {
            if(aSelected.length == 0){
                alert("Please select samples");
                return false;
            }
            $('#id_psf-samples').val(aSelected);
        });
        
        $("#onlyNotBeenProcessed").change(function() {oTable.fnDraw(true);})
        $("input[name='checkAll']").change(function(){
            $("input[type='checkbox'][name='psf-samples']").attr("checked", $(this).is(":checked")).change(); 
        });

        $(document).on($.modal.CLOSE, function(){ 
            $('#seq-samples').find('.row_selected').removeClass('row_selected');
        })

        $('#addSample').click(function(e) { resequenceSample(); })
        function resequenceSample(){
            var sTable = $('table#seq-samples').dataTable();
            var ids = sTable.$("tr.row_selected").map(function(){ return sTable.fnGetData(this,0) }).toArray();

            $.ajax({
                type: "GET",
                url: "{% url 'libprep.views.resequence_sample' %}",
                data: {"sample": JSON.stringify(ids)} 
            }).done(function() {
                        $('table#samples').dataTable().fnDraw(true);
                        $('table#seq-samples').dataTable().fnDraw(true);
            }); 
        }
    });
</script>
{% endblock js %}

{% block content %}
<div id="prep-sequencing">
{% load formutil %}

    <form id="sample-selection-form" action="" method="post">{% csrf_token %}
        <div class="content-box">
            <div class="content-box-header">
                <h3>Prepare samples for sequencing</h3>
            </div>
            <div class="content-box-content">
                <div style="padding: 5px 0; font-weight: bold;">
                    <input id="onlyNotBeenProcessed" type="checkbox" name="onlyNotBeenProcessed" > Show non-sequenced samples
                    <div style="float: right; margin-top: 0px;">
                        <a href="#modal" rel="modal:open" class="button">Add Additional Samples</a>
                    </div>
                </div>
                <table id="samples">
                    <thead>
                        <tr>
                            <th>All <br /> <input type="checkbox" name="checkAll" /></th>
                            <th>Submitted</th> 
                            <th>GTAC ID</th>
                            <th>Sample Name</th>
                            <th>Client</th>
                            <th>Lab</th>
                            <th>Prep Type</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="sequencedSample">
            <div id="modal">
                <div>
                    <table id="seq-samples">
                        <thead>
                            <tr>
                                <th> SampleId </th>
                                <th> Submitted </th>
                                <th> GTAC ID </th>
                                <th> Sample Name </th>
                                <th> Client </th>
                                <th> Lab </th>
                                <th> Prep Type </th>
                            </tr>
                        </thead>
                    </table>
                    <br/>
                    <a href="" id="addSample" rel="modal:close" class="button" style="float:right;"> Add </a>
                </div>
            </div>
        </div>
        <input type="hidden" value="page1" name="page">
        <input type="submit" value=" Next " class="button">
        <div class="clear"></div>
    </form>
</div>
<div class="clear"></div>
{% endblock content %}
