{% load formutil %}
<script>
    function sampleList(val, that) {
      var name  = val.substr(0, val.lastIndexOf("-") - 1);
      $('input[name^="'+ name +'"]').attr('checked', $(that).is(':checked'))
    }

    function deleteFile(key) {
      if(confirm("Are you sure you want to delete file?")){
        $.ajax({
          type: "GET",
          url: '/libprep/deletePrepdataFile/' + key.name,
        }).done( function() { $(key).parent().parent().remove(); })
      }
    }
</script>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {% if step.sample_pd_formsets %}
      <div id="samplefs_{{ step.ps.id }}" class="form-block">
        {{ step.sample_pd_formsets.management_form }}
        {% for form in step.sample_pd_formsets %}
            <div style="padding-top: 10px;">
                {{ form.DELETE }}
                {{ form.attempt }}
                {% with form|get_sample_fromField_map as samples_fields %}
                <table>
                {% for s in spd %}
                  {% if step.ps.name == 'Initial QC' or s.status.name != 'Failed' %}
                    {% if not header_defined %}
                      <thead>
                        <tr>
                          <th>GTAC ID</th>
                          <th>Sample</th>
                          {% for field in samples_fields|get_item:s.id %}
                            <th> {{ field.label }}
                              {% if field.label == "Pass?" or field.label == "Failed, Prepping Anyway"%}
                                <br/><input type="checkbox"
                                  onClick="sampleList('sps{{ step.ps.id}}-{{ form.attempt.value|add:"-1" }}-{{ field.name}} ', this)"
                                  {{field.field.widget.attrs.disabled}}> 
                              {% endif %}
                            </th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                      {% set  header_defined = 'True' %}
                    {% endif %}
                    <tr>
                      <th>{{ s.sample.specimen.gtac_id}}</th>
                      <th>{{ s.sample }}</th>
                      {% for field in samples_fields|get_item:s.id %}
                        {% tdfield field %}
                      {% endfor %}
                    </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
              </table>
            {% endwith %}
          </div>
        {% endfor %}
      </div>
      {% if project.status == 'qc' or  step.ps.name not in 'Initial QC' %}
        <script type="text/javascript">
          var sample_attempt_{{ step.ps.id }} = 0;

          $(function(){
            $("#samplefs_{{ step.ps.id }} div").formset({
              prefix: '{{ step.sample_pd_formsets.prefix }}',
              deleteText: 'Delete',
              addText: 'Add Another',
              deleteCssClass: 'button',
              addCssClass:"add-row button",
              added: function(){
                $('#samplefs_{{ step.ps.id }} input[name$="attempt"]').each(function(){
                  if($(this).val() == ''){
                    $(this).val(++sample_attempt_{{ step.ps.id }});
                  }
                })
              }
            });

            $('#samplefs_{{ step.ps.id }} input[name$="attempt"]').each(function(){
              sample_attempt_{{ step.ps.id }} = $(this).val();
            })
          })
        </script>
      {% endif %}
    {% endif %}

    {% if step.global_form %}
      <h3>All Samples</h3>
      <div  id="formset_{{ step.ps.id }}_{{ forloop.counter}}" class="form-block">
        {{ step.global_form.attempt }}
        <table>
          {% for field in step.global_form %}
            {% if field.name != 'attempt' %}
              {% trfield field %}
              {% with field.name|to_int as pddId %}
                {% if pddId in step.fileList %}
                  <tr><td>&nbsp;</td> 
                    <td colspan="2">
                      Currently: 
                      <table>
                        {% for f in step.fileList|get_item:pddId %}
                          <tr>
                            <td> <a href="{{ MEDIA_URL }}{{ f.file }}" target="_blank"> {{ f.file }} </a> </td>
                            <td> <a href="javascript:void(0)" name="{{ f.id }}" onClick="deleteFile(this)"> Delete </a></td>
                          </tr>
                        {% endfor %}
                      </table>
                    </td>
                  </tr>
                {% endif %}
              {% endwith %}
            {% endif %}
          {% endfor %}
        </table>
      </div>
      <div class="clear"></div>
    {% endif %}
    {% if project.status == 'qc' or project.status == 'qc complete' or step.ps.name not in 'Initial QC' %}
      <input type="hidden" name="ps" value="{{ step.ps.id }}">
      <input type="submit" value="Save {{ step.ps.name }} Data" class="button">
    {% endif %}
</form>
