{% extends "sts/base.html" %}
{% load static from staticfiles %}
{% block css %}
<style>
    table tr.highlight td, 
    table tr.highlight td.sorting_1 {
        background-color: {{ datatable_select_color }};
    }
    tr {
        cursor: pointer;
    }
    #id_samples {
        display: none;
    }
    
    .dataTables_wrapper {
        margin-bottom: 10px;
    }

    #main-content ul,ol {
        padding: 10px 0;
    }    

    #main-content ul li {
        background: url('{% static 'images/icons/bullet_black.png' %}') center left no-repeat;
        padding: 4px 0 4px 20px;
    }
</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script>
    var submissions = Array();
    var types = Array();
    var samples = 0;
    var oTable;
    var giRedraw = false;
    var currentSelectedTr 
    var clickedNode     
    var asInitVals = new Array();

    $(document).ready(function() { 
        aSelected = $('#id_samples').val();
        aSelected = (aSelected == null)? []: aSelected.map(Number);

        oTable = $('table.samples').dataTable({    
                    "sScrollX": "100%",
                    "aaSorting": [[ 1, "desc" ]],
                    "aoColumnDefs": [
                        { "aTargets": [ 0 ], "bSortable": false,}
                    ],
                    "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                        var id = parseInt($("input", nRow).val());
                        if ( $.inArray(id, aSelected) !== -1 ) {
                            $(nRow).addClass('highlight');
                            $("input", nRow).attr("checked", true);
                        }
                    },
                    "fnDrawCallback": function( oSettings ) {
                        $("input[name='checkAll']").attr("checked", false);
                        $("input[type='checkbox'][name='sample_id']").change(function(event){
                            var id = parseInt($(this).val());
                            var index = $.inArray(id, aSelected);
                          
                            if (index === -1 && $(this).is(":checked")) {
                                $(this).parent().parent().addClass('highlight');
                                aSelected.push( id );
                            } else if(index != -1 && !$(this).is(":checked")) {
                                $(this).parent().parent().removeClass('highlight');
                                aSelected.splice( index, 1 );
                            }
                           $("#total-samples").text(aSelected.length);
                        });
                    }
            });
            
        $('form').submit(function() {
            if(aSelected.length == 0){
                alert('Select at least one sample');
                return false;
            }
            $('#id_samples').val(aSelected);
        })

        $('thead input').keyup(function() {
            oTable.fnFilter( this.value, $("thead input").index(this) );
        });

        $("thead input").each( function (i) {
            asInitVals[i] = this.value;
        });

        $("thead input").focus( function () {
            if ( this.className == "search_init" )
            {
                $(this).removeClass("search_init");
                this.value = "";
            }
        });

        $("thead input").blur( function (i) {
            if ( this.value == "" )
            {
                $(this).addClass("search_init");
                this.value = asInitVals[$("thead input").index(this)];
            }
        });

        $('#id_prep_type').change( function() { 
            aSelected = []
            oTable.$("tr.highlight")
                 .each(function(index) {
                     $('input[type="checkbox"]', this).attr('checked', false);
                     $(this).removeClass('highlight');
                 })
            oTable.fnFilter( $('option:selected', this).text() )
            $("#total-samples").text(0);
        });

        $("input[name='checkAll']").change(function(){
            $("input[type='checkbox'][name='sample_id']").attr("checked", $(this).is(":checked")).change(); 
        });

    });    
    
</script>
{% endblock js %}

{% block content %}
    {% if project %}
        <h2>Project {{ project.id }}</h2>
    {% else %}
        <h2>Start a Project</h2>
        <p>To start a new project:
            <ul>
                <li>Click on the individual samples below (clicking on submissions coming soon):</li>
                <li>Click on "Start Project"</li>
            </ul>
        </p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
    {{ form }}
        <div class="content-box">
            <div class="content-box-header">
                <h3>Select Samples (<span id="total-samples"></span>)</h3>
            </div>
            <div class="content-box-content">
                <table class="samples">
                    <thead>
                        <tr>
                            <th>All</th>
                            <th>GTAC ID</th>
                            <th>Sample</th>
                            <th>Submitted</th>
                            <th>Prep Type</th>
                            <th>Client</th>
                        </tr>
                        <tr>
                            <th><input type="checkbox" name="checkAll" /></th>
                            <th><input type="text" value="Search GTAC ID" class="search_init"/></th>
                            <th><input type="text" value="Search Sample" class="search_init"/></th>
                            <th><input type="text" value="Search Submitted" class="search_init"/></th>
                            <th><input type="text" value="Search Prep Types" class="search_init"/></th>
                            <th><input type="text" value="Search Client" class="search_init"/></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for spd in form.fields.samples.queryset.all %}
                        <tr data-type="{{ spd.preptype }}" data-spd="{{ spd.id }}" data-sub="{{ spd.sample.submission.id }}">
                            <td><input type="checkbox" id="sample_{{spd.id}}" name="sample_id" value="{{ spd.id }}"></td>
                            <td>{{ spd.sample.specimen.gtac_id }}</td>
                            <td>{{ spd.sample.specimen.name }}</td>
                            <td>{{ spd.sample.submission.submitted|date:"m/d/Y" }}</td>
                            <td>{{ spd.sample.submission.sample_set.all.0.libprep.preptype }}</td>
                            <td>{{ spd.sample.submission.client.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
                <input type="submit" class="button" value="{% if project%} Add samples {% else %}Start Project{% endif %}" />
                {% if project%} <a href="{%  url 'libprep.views.project_detail' project.id %}" class="button">Cancel</a> {% endif %}
            </div>
        </div>
    </form>
{% endblock content %}
