{% extends "sts/base.html" %}
{% load formutil %}
{% load static from staticfiles %}
{% block css %}
<style>
    #qc table>tbody {
        display: block;
        overflow: auto;
        min-height: 150px;
        max-height: 250px;
        overflow-x: hidden;
    }
    .ui-widget {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
    
    .ui-combobox {
        position: relative;
        display: inline-block;
    }
    .ui-button {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* adjust styles for IE 6/7 */
        *height: 1.7em;
        *top: 0.1em;
    }
    .ui-autocomplete-input {
        margin: 0;
        padding: 0.3em;
    }
    .ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden;}

    .dynamic-form{
        padding-bottom: 15px;
    }
    .dynamic-form table{
        margin-bottom: 10px;
    }

    .add-row{
        float: right;
        margin-top: -35px;
    }

    .form-block{
        margin-bottom: 10px;
    }

    div table thead {
        background: #e5e5e5 url('{% static 'images/bg-content-box.gif' %}') top left repeat-x;
    }

   .created{
        padding: 5px 0;
   }
   
   .author {
        font-weight: bold;
   }
   
   #notes ul li {
        background-position: 4px 8px;
   }
   
   #note-form {
        display:none;
   }

   #note-list li{
      border: 1px solid #ccc;
      margin-top: 5px;
      padding: 5px;
      border-radius: 5px;
   }

   .selected{
      box-shadow: 0px 0px 20px #58ACFA;
   }
</style>
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.zclip.js' %}"></script>    
<script>
    $(function(){
        $('input[type=file]').parent()
            .find('a').each(function(){
                $(this).attr('target', 'blank');
            })
            
        $(".chosen-select").chosen({placeholder_text_multiple:'Select index', width: '100%'});
        $('select').not('.chosen-select').combobox();

        $(".content-box-content input[type=text]").bind('keydown', function(e){
            var element;

            name = $(this).attr('name').substring(0, $(this).attr('name').lastIndexOf("-"));
            if (name.charAt(0) == 'i'){
                name = name.substring(0, name.lastIndexOf("-"));
            }
            if(e.keyCode == 37){
                element = $(this).parent().prev('td').find('input')[0];
            }else if(e.keyCode == 38){
                element = $(this).parent().parent().prev('tr').find('input[name^="'+name+'"][type="text"]')
            }else if(e.keyCode == 39){
                element = $(this).parent().next('td').find('input')[0];
            }else if (e.keyCode == 40) {
                element = $(this).parent().parent().next('tr').find('input[name^="'+name+'"][type="text"]')
            }
            
            if(e.keyCode == 68 && (e.ctrlKey || e.metaKey)){
                name = $(this).attr('name').substring(0, $(this).attr('name').lastIndexOf("-"));
                prevElem = $(this).parent().parent().prev('tr').find('input[name^="'+name+'"]')[0];
                $(this).val($(prevElem).val());    
                e.preventDefault();
            }

            if(e.keyCode == 65 && (e.ctrlKey || e.metaKey) && e.shiftKey){    // Ctrl + shift + A (To copy all cells down.)
                var value = $(this).val();
                var index = $(this).parent().index() + 1;
                var element = this;
                while($(element).is(':text')){
                    $(element).val(value);
                    element = $(element).parent().parent().next('tr').find("td:nth-child("+ index +") input[type='text']")[0];
                }
            }

            if($(element).is(':text')){
                $(element).toggleClass('selected');
                $(element).focus();
                beforeCopyFunction();
            }

/*            if(e.keyCode == 86 && (e.ctrlKey || e.metaKey)) {
                var that = this;
                $('<div></div>').attr('contenteditable', '').attr('id', 'pasteContent').appendTo('body').on('focus', function(e) {
                    setTimeout(function() {
                        $('#pasteContent table tr').map(function(index,row) {
                            var element = that;
                            $(row).find('td').each(function(index,cell) {    
                                if($(element).is(':text')){                                  
                                    $(element).val($(cell).text());    
                                    element = $(element).parent().next('td').find("input[type='text']")[0];
                                }
                            });
                            index = $(that).parent().index() + 1;
                            that = $(that).parent().parent().next('tr').find("td:nth-child("+index+") input[type='text']")[0]
                        });
                        $('#pasteContent').blur().remove();
                    }, 0)
                }).focus();
            }
*/
        })
        
        $(".content-box-content input[type=text]").bind('paste', function(e){
            var clip_data = e.originalEvent.clipboardData.getData('Text');
            var that = this;
            setTimeout(function(){
                $(that).val('');
                
                $.each(clip_data.split("\n"), function(index, data){
                    var element = that;
                    if(data != ""){
                        $.each(data.split('\t'), function(index, val) {
                            if($(element).is(':text')){
                                $(element).val(val);
                                element = $(element).parent().next('td').find('input')[0];
                            }
                        })
                    }
                    index = $(that).parent().index() + 1;
                    that = $(that).parent().parent().next('tr').find('td:nth-child('+index+') input')[0];
                })
            }, 0)
            e.originalEvent.clipboardData.clearData();
        });
        
        $('button[name="Add Sample"]').click(function(){
            var $form = $('<form action="{% url 'libprep.views.add_samples_to_project' project.id %}"></form>');
            $('body').append($form);
            $form.submit();
        })
        
        $('#add-note').click(function(){
            $('#note-list').hide();
            $('#note-form').show();
        })
        
        $('#cancel-note').click(function(){
            $('#note-list').show();
            $('#note-form').hide();
        })

        $.each({{statusList|safe}} , function( index, value ) {
            $("select[name='status'] option[value='" + value + "']").remove();
        });

        {% if project.status == 'qc' or project.status == 'hold' or project.status == 'qc complete' %}
            $("select[name='status']").change(function(){ 
                var status =  $(this).val(); 
                if(status == 'prepping'){
                    $("select[name='prep_owner']").parent().parent().show();
                    $("select[name='qc_owner']").parent().parent().hide();
                } else {
                    $("select[name='qc_owner']").parent().parent().show();
                    $("select[name='prep_owner']").parent().parent().hide();
                }
            })

            $("select[name='status']").change();        
        {% endif %}

        $('input[type="submit"]').bind('keydown', function(e){
            return false;
        });
        
        
        $("button[name='spreddsheet']").click(function(){
            $('<form ACTION="{%  url 'libprep.views.projectMockupSheet' project.id %}"></form>').appendTo(document.body).submit().remove();
        })

// Copy from LIMS & Paste to excel.
        $(".content-box-content input[type=text]").bind('click', function(){
            $('.selected').removeClass('selected');
            $(this).toggleClass('selected');
            data = '';
	});

        var afterCopyFunction = function(){
            $(".selected").effect( "highlight" , {color : "yellow" }, 1000 );
        };

        var beforeCopyFunction = function(){
            var row = [];
            $.each($('.selected').parent().parent(), function(index,value){
                var col = [];
                $(value).children('td').each(function(index, value){
                    var element = $(value).children();
                    if($(element).hasClass('selected')){
                        col.push($(element).val());
                    }
                });
                row.push(col.join('\t'));
            });
            data = row.join('\r\n');
            return data;
        }

        var data;
        $('#copy').zclip({
                      path: '{% static 'js/ZeroClipboard.swf' %}',
                      copy: function(){return data;},
                 afterCopy: afterCopyFunction
        });
// Ends Here ..
    });

    {% for key, ps in ps_formulae.items %}
        {% for formula in ps.formula %}
            {% with formula|sub_string:"=" as pddId %}
                function execute_{{key}}_{{pddId}}(element){
                    var name = $(element).attr('name');
                    var spd = name.split("-").pop();
                    var prefix = name.substr(0, name.lastIndexOf('pdd'));
                    var resultantField;
                    {% for field in ps.fields %}
                        var a = '{{field.0}}-' + eval({{field.2}}-1) + '-{{field.1}}-' + spd;
                        var {{field.1}} = $('input[name$="' + a + '"]').val();
                    {% endfor %}
            
                    {{formula}}
                    resultantField = "{{formula}}".substr(0, "{{formula}}".indexOf("=")).trim();

                    $('input[name$="'+ prefix + resultantField + '-'+ spd +'"]').val(eval(eval(resultantField)).toFixed(2));
                }
            {% endwith %}
        {% endfor %}
    {% endfor %}
    
</script>
{% endblock js %}

{% block content %}

{% if statusForm_error or indices_error %}
    <div class='notification error png_bg'>
        <a href="#" class="close">
            <img src="{% static 'images/icons/cross_grey_small.png' %}" title="Close this notification" alt="close">
        </a>
        <div>Please fill out the form as indicated below.</div>
        {% if statusForm_error %} <div>{{ statusForm_error }} </div> {% endif %}
        {% for error in indexFormset.errors %}
            {% if error %} <div> {{ error }} </div> {% endif %}
        {% endfor %}
    </div>
{% endif %}

<h2>Project {{ project.id }}</h2>

<div class="content-box column-left">
    <div class="content-box-header">
        <h3>Detail</h3>
    </div>
    <div class="content-box-content">
        <table>
            <tr>
                <th>Labs:</th>
                <td>{{ project.pretty_labs }}</td>
            </tr>
            <tr>
                <th>Prep Type:</th>
                <td>{{ project.preptype.name }}</td>
            </tr>
            <tr>
                <th>Date:</th>
                <td>{{ project.created|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <th>QC Owner:</th>
                <td><a href="javascript:void(0)">{{ project.assigned_to.person.name }}</a></td>
            </tr>
            <tr>
                <th>Prep Owner:</th>
                <td><a href="javascript:void(0)">{{ project.prep_owner.person.name }}</a></td>
            </tr>
            <tr>
                <th>Status:</th>
                <td>{{ project.get_status_display }}</td>
            </tr>
        </table>
    </div>
</div>
{% if projectForm %}
<div class="content-box column-right">
    <div class="content-box-header">
        <ul class="content-box-tabs">
            <li><a href="#notes" {% if not projectForm.errors %} class="default-tab current" {% endif%}>Notes</a></li>
            <li><a href="#change-status" {% if projectForm.errors %} class="current" {% endif%} >Change Status</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="content-box-content">
        <div class="tab-content  {% if not projectForm.errors %}default-tab{% endif %}" id="notes">
            <ul id="note-list">
                <div class="button" id="add-note" >Add/Edit Note</div>
                {% for sub in submission %}
                    {% if sub.notes.all.count > 0 %}
                    <li><div class="created"><span class="author">Submission: </span>{{ sub.created|date:"d-m-Y (H:i)" }}</div>
                        <div>
                        {% for note in sub.notes.all %}
                            <span class="author">{{ note.author.name }}: </span> <span>{{ note.note }}</span>
                        {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if project.note %}
                    <li><div class="created"><span class="author">Project: </span></div>
                        <div><span>{{ project.note }}</span></div>
                    </li>
                {% endif %}
            </ul>
            <div id="note-form">
                <form method="post" name="note-form"> {% csrf_token %}
                    {{ noteForm }}
                    <input class="button" type="submit" name="submit" value="Save Note" />
                    <input class="button" type="button" name="cancel" id="cancel-note" value="Cancel" />
                </form>
            </div>
        </div>
        <div class="tab-content  {% if projectForm.errors %}default-tab{% endif %}" id="change-status">
            <form method="post" > {% csrf_token %}
                <table>
                    {% if project.status == 'qc' %}
                        {% trfield projectForm.qc_owner %}
                        {% trfield projectForm.prep_owner %}
                    {% elif project.status == 'hold' or project.status == 'qc complete' %}
                        {% trfield projectForm.qc_owner %}
                        {% trfield projectForm.prep_owner %}
                    {% else %}
                        <tr> 
                            {% thfield  projectForm.qc_owner %}
                            <td>{{ projectForm.qc_owner.as_hidden }} {{ project.assigned_to}}</td>
                        </tr>
                        <tr>
                            {% thfield  projectForm.prep_owner %}
                            <td>{{ projectForm.prep_owner.as_hidden }} {{ project.prep_owner }}</td>
                        </tr>
                    {% endif %}
                    {% trfield projectForm.status %} 
                </table>
                <input class="button" type="submit" name="submit" value="Change Status" />
            </form>
        </div>
    </div>
</div>
{% endif %}
<div class="clear"></div>
<div class="spreddsheet"><button type="button" name="spreddsheet" class="button" >Generate Mockup-Sheet </button>
{% if project.assigned_to %}<a id='copy' href="javascript:void(0);" class='button' style='float:right;'>Copy</a>{% endif %} </div>
{% if project.assigned_to %}
<div class="content-box">
    <div class="content-box-header">
        <h3>Prep Info</h3>
        <ul class="content-box-tabs">
            {% for step in steps %}
                <li><a href="#{{ step.ps.slug }}" class="{% if activeStepId == step.ps.id %}default-tab{% endif %}">{{ step.ps.name }}</a></li>
            {% endfor %}
            {% if project.status != 'qc' and project.status != 'qc complete' %}
                <li><a href="#index" class="{% if not activeStepId %}default-tab{% endif %}">Index</a></li>
            {% endif %}
        </ul>
        <div class="clear"></div>
    </div>
    {% load project_tags %}
    {% load formutil %}
    <div class="content-box-content">
        {% for step in steps %}
            <div class="tab-content {% if activeStepId == step.ps.id %}default-tab{% endif %}" id="{{ step.ps.slug }}">
                <h2>{{ step.ps.name }}</h2>
                <p>{{ step.ps.description }}</p>
                {% if project.status == 'qc' %}
                    <button type="button" name="Add Sample" value="{{project.id}}">Add Sample</button>
                {% endif %}

                {% include "libprep/prepstep-form.html" %}
                
            </div>
        {% endfor %}

        {% if project.status != 'qc' and project.status != 'qc complete' %}
            <div class="tab-content {% if activeStepId == -1 %}default-tab{% endif %}" id="index">
                <h2>index</h2>
                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ indexFormset.management_form }}
                <table>
                    {% for f in indexFormset.forms %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
                                    <th style="width: 20%">GTAC ID</th>
                                    <th style="width: 20%">Sample</th>
                                    <th style="width: 30%">index</th>
                                    <th>Multiplex Type</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% endif %}
                        {% for s in spd %}
                            {% if s.id|slugify == f.id.value|slugify %}
                                <tr>
                                    <td>{{ s.sample.specimen.gtac_id }}</td>
                                    <td>
                                        {{ s.sample.specimen }}
                                        {{ f.id.as_hidden }}
                                    </td>
                                    {% tdfield f.index %}
                                    {% tdfield f.multiplex_type %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" name="submit" value="Save Index" class="button">
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock content %}
