{% extends "sts/base.html" %}

{% block css %}
{{ block.super }}
<style>
	#showAll input{
		float: left;
		margin-bottom: 10px;
	}

	#showAll div{
		padding-top: 3px;
		margin-bottom: 10px;
		font-weight: bold;
	}
</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

	$(function() {
		var asInitVals = new Array();
		var oTable = $('table#projects').dataTable({
			"oLanguage": {
				"sSearch": "Search all columns:"
			},
			iDisplayLength: 25,
			"aaSorting": [[ 0, "desc" ]],
			"sScrollX": '100%',
			"bServerSide": true,
			"bProcessing": true,
			"sAjaxSource": "{% url 'libprep.views.projects' %}",
			"aoColumnDefs":[ {"aTargets": [ 6 ], "bSortable": false} ],
			"fnServerParams": function ( aoData ) {
                 		var showAll = $('input[name=showAll]').is(':checked')
                 		aoData.push({"name":"showAll", 'value': showAll});
				aoData.push({"name":"is_my_project", 'value':'{{is_my_project}}'});
			}
		});
		
		$('thead input').keyup(function() {
			oTable.fnFilter( this.value, $("thead input").index(this) );
		});

		$("thead input").each( function (i) {
			asInitVals[i] = this.value;
		});
		 
		$("thead input").focus( function () {
			if ( this.className == "search_init" )
			{
				$(this).removeClass("search_init");
				this.value = "";
			}
		});
		 
		$("thead input").blur( function (i) {
			if ( this.value == "" )
			{
				$(this).addClass("search_init");
				this.value = asInitVals[$("thead input").index(this)];
			}
		});

		$('input[name="showAll"]').change(function(){
			oTable.fnDraw();
	    });
	});
</script>
{% endblock js %}

{% block content %}
<h2>Library Core Projects</h2>
<div class="content-box">
	<div class="content-box-content" style="display: block; min-height: 300px">
	    <div id="showAll"><input type="checkbox" name="showAll" /> <div>Show All</div> </div>
		<table id="projects">
			<thead>
				<tr>
					<th>Project</th>
					<th>GTAC IDs</th>
					<th>Labs</th>
					<th>Owner</th>
					<th>Prep Type</th>
					<th>Status</th>
					<th># Samples</th>
				</tr>
				<tr>
					<th><input type="text" size="15" value="Search project names" class="search_init"/></th>
					<th> &nbsp; </th>
					<th><input type="text" size="15" value="Search labs" class="search_init"/></th>
					<th><input type="text" size="15" value="Search owners" class="search_init"/></th>
					<th><input type="text" size="15" value="Search prep types" class="search_init"/></th>
					<th><input type="text" size="15" value="Search status" class="search_init"/></th>
					<th> &nbsp; </th>
				</tr>
			</thead>
		</table>
	</div>
</div>
{% endblock content %}
