{% extends "frontend/base.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $('#sample tbody tr').formset();
  $('table').dataTable({
    "bServerSide": true,
    "sAjaxSource": "",
    'bStateSave': true
  });
});
</script>
{% endblock js %}

{% block content %}
<h1>Browse Submissions</h1>
<table>
<thead>
<tr>
<th>Name</th>
<th>Client</th>
<th>Submitted</th>
</tr>
</thead>
<tbody>
</tbody>
<tfoot></tfoot>
</table>
{% endblock content %}
