{% extends "frontend/base.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

$(function() {
  var asInitVals = new Array();

  function getServerParams(aoData) {
    var $sm = $('#owner');
    aoData.push({ 'name': 'owner', 'value': $sm.val()});
    aoData.push({'name': 'completed', 'value': $('#completed-checkbox').is(':checked') })
  }

  $('#owner').change(function() {
    oTable.fnDraw();
  });
  $('#completed-checkbox').change(function() {
    oTable.fnDraw();
  });

  var oTable = $('#sample-table table').dataTable({
    //"bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "",
    "fnServerParams": getServerParams,
    "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
        find_qtips(nRow);
        return nRow;
    }

  });
  $('thead input').keyup(function() {
    oTable.fnFilter( this.value, $("thead input").index(this) );
  });

    $("thead input").each( function (i) {
        asInitVals[i] = this.value;
    } );
     
    $("thead input").focus( function () {
        if ( this.className == "search_init" )
        {
            $(this).removeClass("search_init");
            this.value = "";
        }
    } );
     
    $("thead input").blur( function (i) {
        if ( this.value == "" )
        {
            $(this).addClass("search_init");
            this.value = asInitVals[$("thead input").index(this)];
        }
    } );
});
</script>
{% endblock js %}

{% block content %}
<h1>Samples</h1>

<div id="sample-table">
<table>
<thead>
<tr>
<td>
<input type="text" value="Search IDs" class="search_init">
</td>
<td>
<input type="text" value="Search Names" class="search_init">
</td>
<td>
<input type="text" value="Search Clients" class="search_init">
</td>
<td>
<input type="text" value="Search Prep Types" class="search_init">
</td>
<td>
<input type="text" value="Search by Date" class="search_init">
</td>
</tr>
<tr>
<th>Submission ID
</th>
<th>Sample Name
</th>
<th>Client
</th>
<th>Prep Type
</th>
<th>Submitted
</th>
</tr>
</thead>
<tbody></tbody>
<tfoot></tfoot>
</table>
</div>


<table id="sample-filter-opts">
<tr><th>
<label for="owner">Owner: </label>
</th><td>
<select id="owner"> 
<option value="">-----</option>
<option value="new">New</option>
<option value="mine">Mine</option>
</select>
</td>
</tr>
<tr>
<th>Inlude completed: </th><td><input id="completed-checkbox" type="checkbox" name="completed">
</tr>
<tr>
<th>Recent Samples:</th><td> 
<select id="show_date" class="show_date"> 
<option value="">-----</option>
<option value="30">&lt; 30 Days</option>
<option value="60">&lt; 60 Days</option>
<option value="90">&lt; 90 Days</option>
</select></td>
</tr>
</table>
{% endblock content %}
