{% extends "sts/base.html" %}
{% load static from staticfiles %}
{% block css %}
<style>
	.ui-widget {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
	}
	
	.ui-combobox {
		position: relative;
		display: inline-block;
	}
	.ui-button {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-left: -1px;
		padding: 0;
		/* adjust styles for IE 6/7 */
		*height: 1.7em;
		*top: 0.1em;
	}
	.ui-autocomplete-input {
		margin: 0;
		padding: 0.3em;
		width: 130px;
	}
	
	.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden;}
	
	#seqsample-detail table td:first{
		width: 40%;
	}
	#samples input {
		width: 80px;
	}

	#areSamplesPrepared input{
		padding-bottom: 10px;
		float: left;
	}

	#areSamplesPrepared div{
		padding: 3px 0 10px 25px;
        font-weight: bold;
	}
</style>
{% endblock css %}

{% block js %}
<script>
	$(function() {
                if($('.hasDatepicker').val() == ""){
                   $('.hasDatepicker').datepicker('setDate', 'today');
                }

		$(".chosen-select").chosen({placeholder_text_multiple:"Select Index", width: '100%'});

		$('input[type="checkbox"][name="areSamplesPrepared"]').change(function(){
			$('input[type="hidden"][name$="areSamplesPrepared"]').attr('value', $(this).is(':checked'));
		})
	});
</script>
{% endblock js %}

{% block content %}
	{% if form.errors or formset.errors %}
		<div class='notification error png_bg'>
			<a href="#" class="close">
				<img src="{% static 'images/icons/cross_grey_small.png' %}" 
					title="Close this notification" alt="close"></a>
			<div>Please fill out the form as indicated below.</div>
		</div>
	{% endif %}
	{% load formutil %}
	<form method="post" action="" enctype="multipart/form-data" >{% csrf_token %}
	<h2>Sequencing Sample {{ form.instance.name }}</h2>
	<div class="content-box column-left" id="seqsample-detail">
		<div class="content-box-header"> </div>
		<div class="content-box-content">
			<table>
			{% if seqsample %}
				<tr>
					<th>Name</th>
					<td colspan="2">{{ seqsample.name }}</td>
				</tr>
				<tr>
					<th>Loading Concentration</th>
					<td colspan="2">{{ seqsample.loading_concentration }}</td>
				</tr>
				<tr>
					<th>Submitted Concentration</th>
					<td colspan="2">{{ seqsample.submitted_concentration }}</td>
				</tr>
				<tr>
					<th>Primer</th>
					<td colspan="2">{{ seqsample.primer }}</td>
				</tr>
				<tr>
					<th>Submitted to Sequencing:</th>
					<td colspan="2">{{ seqsample.submitted_to_sequencing|default_if_none:"Not Submitted Yet" }}</td>
				</tr>
				<tr>
					<th> Concentration</th>
					<td colspan="2">{{ seqsample.concentration }}</td>
				</tr>
				<tr>
					<th> Size</th>
					<td colspan="2">{{ seqsample.size }}</td>
				</tr>
			{% else %}
				<tr>
					{% thfield form.name %}
					{% tdfield form.name %}
				</tr>
				<tr>
					{% thfield form.loading_concentration %}
					{% tdfield form.loading_concentration %}
				</tr>
				<tr>
					{% thfield form.submitted_concentration %}
					{% tdfield form.submitted_concentration %}
				</tr>
				<tr>
					{% thfield form.primer %}
					{% tdfield form.primer %}
				</tr>
				
				<tr>
					{% thfield form.submitted_to_sequencing %}
					{% tdfield form.submitted_to_sequencing %}
				</tr>
				<tr>
					{% thfield form.concentration %}
					{% tdfield form.concentration %}
				</tr>
				<tr>
					{% thfield form.size %}
					{% tdfield form.size %}
				</tr>
				<tr>
					{% thfield form.upload_trace %}
					{% tdfield form.upload_trace %}
				</tr>
				<tr>
					{% thfield form.qpcr_molarity %}
					{% tdfield form.qpcr_molarity %}
				</tr>
				<tr>
					{% thfield form.qubit_molarity %}
					{% tdfield form.qubit_molarity %}
				</tr>
				<tr>
					{% thfield form.bioa_molarity %}
					{% tdfield form.bioa_molarity %}
				</tr>
				<tr>
                    {% thfield form.lanes_per_sample %}
                    {% tdfield form.lanes_per_sample %}
                </tr>
				<tr>
                    {% thfield form.phix_spike_per_sample %}
                    {% tdfield form.phix_spike_per_sample %}
                </tr>
				<tr {% if preptype %}style="display: none" {% endif %}>
                    {% thfield form.send_mail %}
                    {% tdfield form.send_mail %}
                </tr>
			{% endif %}
				<tr>
					<th>Run Type:</th>
					<td>{{runtype}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="content-box column-right">
		<div class="content-box-header"><h3>Samples</h3></div>
		<div class="content-box-content">
		    {% if formset %}
		      <div id="areSamplesPrepared"> 
			    <input type="checkbox" name="areSamplesPrepared" {% if request.POST.areSamplesPrepared %} checked {% endif %} /> 
				<div>Are Samples Prepared By Customer?</div>
			  </div>
			{% endif %}
			<table id='samples'>
				<thead>
					<tr>
						<th>GTAC ID</th> 
						<th>Sample</th>
						<th>Index</th>
						<th>% Pool</th>
					</tr>
				</thead>
				<tbody>
					{{ formset.management_form }}
					{% for f in formset.forms %}
					<tr class="{% cycle 'even' 'odd' %}" tagName='TR'>
						<td>{{ gtac_ids|get_item:f.sampleprepdetail.value}}</td>
						<td>
							{% if f.instance.pk %}{{ f.DELETE }}{% endif %}
							{{ f.sampleprepdetail.as_hidden }}
							{{ f.areSamplesPrepared.as_hidden }}
							{{ sample_names|get_item:f.sampleprepdetail.value }}
							{{ f.id }}
						</td>
						{% tdfield f.index %}
						{% if preptype %}
							{% tdfield f.percent_of_pool %}
						{% else %}
							<td> None </td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="clear"></div>
	<input value="Update" type="submit" class="button"> 
	</form>
{% endblock content %}
