{% extends "sts/base.html" %}

{% block js %}

{% endblock js%}

{% block content %}
<h3>Sequencing Samples All Details</h3>
<div class="content-box">
    <div class="content-box-header">
        <h3>Samples Detail</h3>
    </div>
    <div class="content-box-content">
        <table>
            <thead>
                <tr>
                    <th>GTAC ID</th>
                    <th>Sample</th>
                    <th>Lab</th>
                    <th>Client</th>
                    <th>Prep Type</th>
                    <th>Run Type</th>
                    <th>Submission Date</th>
                </tr>
            </thead>
            <tbody>
              {% for s in seqsample.sampleprepdetails.all %}
                <tr>
                    <td>{{ s.sample.specimen.gtac_id}}</td>
                    <td>{{ s }}</td>
                    <td>{{ s.sample.specimen.submitted_by.lab }}</td>
                    <td>{{ s.sample.specimen.submitted_by.name }}</td>
                    <td>{{ s.preptype }}</td>
                    <td>{{ s.sample.seq.runtype }}</td>
                    <td>{{ s.sample.submission.submitted }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="content-box">
    <div class="content-box-header">
        <h3>Run Details</h3>
    </div>
    <div class="content-box-content">
        <table>
            <thead>
                <tr>
                    <th>Run</th>
                    <th>Lane</th>
                    <th>Flowcell</th>
                    <th>Run Type</th>
                    <th>phiX spike-in</th>
                    <th>Loading Concentration</th>
                    <th>Submitted Concentration</th>
                    <th>Primer</th>
                </tr>
            </thead>
            <tbody>
              {% for lane in seqsample.sequencing_sample.all %}
                <tr>
                    <td><a href='{% url 'seq.views.run_detail' lane.flowcell.run %}'>{{ lane.flowcell.run }}</a></td>
                    <td>Lane: {{ lane.num }}</td>
                    <td>{{ lane.flowcell }}</td>
                    <td>{{ lane.flowcell.runtype }}</td>
                    <td>{{ lane.phix_spike }}</td>
                    <td>{{ lane.loading_concentration }}</td>
                    <td>{{ lane.submitted_concentration }}</td>
                    <td>{{ lane.primer }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
