{% extends "sts/base.html" %}
{% load static from staticfiles %}
{% block css %}
{{ block.super }}
<style>
    #showOnly {
        margin-bottom: 10px;
        {% if dir_to_seq %}
        display: none;
        {% endif %}
    }
    
    #showOnly span {
        font-weight: bold;
    }

    .status-filter{
        margin-bottom: 10px;
        font-weight: bold;
        float: left
    }
</style>
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    var dir_to_seq = {% if dir_to_seq %} true {% else %} false {% endif %}
    var oTable;

    function cancelSample(sid){
        var a = confirm("Are you sure you want cancel direct-to-seq sample?");
        if(a == true){
            $.ajax({
                type: "GET",
                url: '/libprep/cancelDirectToSeqSample/'+ sid,
            }).done( function(){ oTable.fnDraw(); } )
        }
    }
    
    $(function() {
        var aSelected = [];
        
        oTable = $('#seqsample-table').dataTable({
            "bServerSide": true,
            "bProcessing": true,
            "sAjaxSource": "{% url 'libprep.views.sequencing_samples' %}",
            "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                find_qtips(nRow);
                return nRow;
            },
            "aoColumnDefs":[{    
                    "aTargets": [ 11 ],
                    "bSortable": false,
                    "fnRender": function (oData, data) {
                       return "<input type='submit' name='sample_id' class='button' value='Cancel' onClick='cancelSample("+data+")' > ";
                    }
                },
            ],
            "sScrollX": "100%",
            "aoColumns": [{'bVisible': !dir_to_seq, 'bSortable': false}, null, {'bSortable': dir_to_seq}, {'bSortable': dir_to_seq}, 
                          {'bSortable': true}, {'bSortable': true}, {'bSortable': !dir_to_seq}, null, {'bSortable': true}, 
                          {'bVisible': dir_to_seq}, {'bVisible': !dir_to_seq}, {'bVisible': dir_to_seq}],
            "aaSorting": [[9, "desc" ]],
            "fnServerParams": function ( aoData ) {
                        var directToSeq = $('input[name=direct-to-seq]').is(':checked')
                        aoData.push({"name":"directToSeq", 'value': directToSeq}, 
                                    {"name":"sSearch_5", 'value': $('#run-type').val()});
                        {% if dir_to_seq %}
                            aoData.push({"name":"status", 'value': $("input:radio[name=status]:checked").val()});
                        {% endif %}
            }
        });
        $("input[name=direct-to-seq]").change(function(){oTable.fnDraw();});
        $("input[name=status]").change(function(){
            oTable.fnDraw();
        });
    });
</script>
<script type="text/javascript" src="{% static 'js/common_datatable.js' %}"></script>
{% endblock js %}

{% block content %}
<div class="content-box">
    <div class="content-box-header">
        <h3>Browse Sequencing Samples</h3>
    </div>
    <div class="content-box-content">
        <div id="showOnly">
            <input type="checkbox" name="direct-to-seq" value="" {% if dir_to_seq %} checked {% endif %} />
            <span>Show Only Direct-to-sequencing</span>
        </div>
        {% if dir_to_seq %}
            <div class="status-filter">
                <input type="radio" name="status" value="needed" checked="checked"> Needed
                <input type="radio" name="status" value="completed"> Completed
                <input type="radio" name="status" value="all"> All
            </div>
        {% endif %}
        <table id="seqsample-table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Seq ID</th>
                    <th>GTAC IDs</th>
                    <th>Samples</th>
                    <th>Lab</th>
                    <th>Client</th>
                    <th>Prepped</th>
                    <th>Prep Type</th>
                    <th>Run Type</th>
                    <th>Submitted</th>
                    <th>Sequencing Date</th>
                    <th>Cancel</th>
                </tr>
                {% if dir_to_seq %}
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>
                            <select id="run-type" name="run-type" >
                                <option value=""></option>
                                {% for runtype in runtypes %}
                                    <option value="{{ runtype.id }}">{{ runtype }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                {% endif %}
            </thead>
        </table>
    </div>
</div>
{% endblock content %}
