{% extends "frontend/base.html" %}

{% block extrajs %}
<script type="text/javascript">
$(function() {
  //$('tbody tr').formset();
  $('table').dataTable({
    /*"bServerSide": true,
    "sAjaxSource": "",
    'bStateSave': true*/
  });
});
</script>
{% endblock extrajs %}

{% block content %}
<h1>New Submissions</h1>
<form action="{% url libprep-submission-assign %}" method="post">{% csrf_token %}
{{ formset.management_form }}
<table>
<thead>
<tr>
<th>Submission ID#</th>
<th># Samples</th>
<th>Client</th>
<th>Prep Type</th>
<th>Submitted</th>
<th>Take Ownership</th>
</tr>
</thead>
<tbody>
{% for f in formset %}
{% with f.instance as s %}
<tr>
<td>{{ f.id }}{{ s.id }}</td>
<td>{{ s.samplesubmission_set.count }}</td>
<td>{{ s.client.name }}</td>
<td>{{ s.samplesubmission_set.all.0.libprep.preptype }}</td>
<td>{{ s.submitted }}</td>
<td>{{ f.assigned }}</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
<tfoot></tfoot>
</table>
<input type="submit">
</form>
{% endblock content %}
