{% extends "admin/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block extrahead %}
<style type="text/css" media="screen">
/* <![CDATA[ */
    #header {
        background: #fff;
        border-bottom: 1px solid #ccc;
        color: #666;
    }
    #header a:link,
    #header a:visited{
        color: #5B80B2;
    }   
    #branding h1 {
        background: #fff url({% static '/static/img/gtac-white.png' %}) 10px top no-repeat;
        color: #666;
        min-height: 52px;
        padding-left: 160px;
        margin-bottom: 15px;
    }
/* ]]> */
</style>

{% endblock extrahead %}

{% block title %}{{ title }} | {% trans 'GTAC site admin' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'GTAC administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
