<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>GTAC Tracker</title>
</head>
<body style="font-weight: normal; padding: 0px; font-size: 11px; line-height: normal; font-family: Arial, Helvetica, sans-serif; color: #898989; margin: 0px;">
    <div style="width: 596px; margin-left: auto; margin-right: auto;">
        <div style="margin: 10px 10px 10px 10px; width: 575px;">
            <div style="height: 20px; width: 575px;"></div>
            <div style="padding: 10px; background-color: white; font-size: 12px;">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>
