<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Platnum - Modern Email Template</title>
  </head>
  <body>
	<h3>Report</h3>
	<table>
	  <tr><td>Contact Name: </td><td>{{sample.sample.specimen.submitted_by.name}}</td></tr>
	  <tr><td>Contact Email: </td><td>{{sample.sample.specimen.submitted_by.person.email_addresses.all.0.email}}</td></tr>
	  <tr><td>Sample Name: </td><td>{{sample}}</td></tr>
	</table>
  </body>
</html>
