{% extends "email/base.html" %}

{% block content %}
    {% load formutil %}
    <div style="font-size: 13px; padding: 10px;">
      {% with project.sampleprepdetail.all.0 as sample %}
        <table>
            <tr>
                <td>PI Name :- </td>
                <td>{{sample.sample.specimen.submitted_by.lab}}</td>
            </tr>
            <tr>
                <td>PI Email :- </td>
                <td>{{pi_email}}</td>
            </tr>
            <tr>
                <td>Client Name :- </td>
                <td>{{sample.sample.specimen.submitted_by.name}}</td>
            </tr>
            <tr>
                <td>Client Email :- </td>
                <td>{{sample.sample.specimen.submitted_by.person.email_addresses.all.0.email}}</td>
            </tr>
        </table>
      {% endwith %}
        <br/>
        <table cellpadding="5px" style="border: 1px solid #2B6B8E; border-collapse:collapse;">
            <thead>
                <tr>
                    <th style="border: 1px solid #2B6B8E; background-color: #F2F2F2;"> GTAC ID </th>
                    <th style="border: 1px solid #2B6B8E; background-color: #F2F2F2;"> SAMPLE NAME </th>
                    {% if sample_qty|length != 0 %}<th style="border: 1px solid #2B6B8E; background-color: #F2F2F2;"> MASS(XX) </th> {% endif %}
                </tr>
            </thead>
            <tbody>
              {% for sample in project.sampleprepdetail.all|dictsort:"sample.specimen.gtac_id" %}
                <tr>
                    <td style="border: 1px solid #528AAB;"> {{ sample.sample.specimen.gtac_id }} </td>
                    <td style="border: 1px solid #528AAB;"> {{ sample }} </td>
                    {% if sample_qty|length != 0 %}<td style="border: 1px solid #528AAB;"> {{ sample_qty|get_item:sample.sample.id }} </td> {% endif %}
                </tr>
              {% endfor %}
            </tbody>
        </table>

        <p>Attached is your sample QC, please let us know if you wish to move forward with the prep.</p>
        <br/>

        <p>Thanks, GTAC</p>
    </div>

{% endblock content %}

