{% extends "email/base.html" %}

{% block content %}

    <div style="padding-left: 20px; font-size: 12px;">
      {% if is_run_completed %}
		<p> {% now "l, F j, Y H:i A" %} Results from run {{run.num}} ({{run.flowcell.runtype}}, 50 cycles) are available on the cluster here: /srv/seq/solexa/results/{{run.num}}</p>
      {% else %}
		<p>{% now "l, F j, Y H:i A" %} Run {{run.num}}. {{run.flowcell.runtype.read}} {{run.flowcell.runtype.length}}. 
			Schedule completion date: 06/21/2013 On {{run.flowcell.runtype}}.</p>
      {% endif %}

        <h3>Lanes</h3>
        <table>
            <tbody>
              {% for lane in run.flowcell.lanes.all %}
                {% for seqSample in lane.sequencing_sample.all %}
                    <tr>
                        <td>{{lane.num}}.GTAC-Analysis - GTAC: {{seqSample}}, {{lane.loading_concentration}}, {{lane.primer}} </td>
                    </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

