<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    
    <title>{% block title %}GTAC Tracker{% endblock %}</title>
    
  
    <!-- Reset Stylesheet -->
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen" />
  
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/simplastyle.css' %}" type="text/css" media="screen" />
    
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <link rel="stylesheet" href="{% static 'css/invalid.css' %}" type="text/css" media="screen" />	
    
    <link rel="stylesheet" href="{% static 'css/sts.css' %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css" media="screen"/>
    <!-- Colour Schemes
  
    Default colour scheme is green. Uncomment prefered stylesheet to use it.
    
    <link rel="stylesheet" href="{% static 'css/blue.css' %}" type="text/css" media="screen" />
    
    <link rel="stylesheet" href="{% static 'css/red.css' %}" type="text/css" media="screen" />  
 
    -->
    
    <!-- Internet Explorer Fixes Stylesheet -->
    
    <!--[if lte IE 7]>
        <link rel="stylesheet" href="{% static 'css/ie.css' %}" type="text/css" media="screen" />
    <![endif]-->

    <link rel="stylesheet" href="{% static 'css/smoothness/jquery-ui-1.8.16.custom.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/jquery.qtip.css' %}" type="text/css' %}" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static 'lib/chosen/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/jquery.modal.css' %}" type="text/css"/>
{% if is_ajax_request %}  
<style>
	body{
		background: none;
	}

	#body-wrapper{
		background: none;
	}

	#main-content {
		margin: 0 ;
		padding: 10px 0 0 0;
		width: 100%;
	}
</style>
{% endif %}
    {% block css %}{% endblock %}
    
    <!--                       Javascripts                       -->

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'js/libs/jquery-1.7.1.min.js' %}"></script>   

    <!-- jQuery Configuration -->
    <script type="text/javascript" src="{% static 'scripts/simpla.jquery.configuration.js' %}"></script> 
    
    <!-- Facebox jQuery Plugin 
    <script type="text/javascript" src="{% static 'scripts/facebox.js' %}"></script> -->
    
    <!-- jQuery WYSIWYG Plugin -->
    <script type="text/javascript" src="{% static 'scripts/jquery.wysiwyg.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.16.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/extra.js' %}"></script>
    
    <!-- Internet Explorer .png-fix -->
    
    <!--[if IE 6]>
        <script type="text/javascript" src="{% static 'scripts/DD_belatedPNG_0.0.7a.js' %}"></script>
        <script type="text/javascript">
            DD_belatedPNG.fix('.png_bg, img, li');
        </script>
    <![endif]-->
    
    <script type="text/javascript" src="{% static 'js/jquery.formset.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.qtip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/chosen/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.modal.js' %}" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        function find_qtips(obj) {
            $('[data-clientkey]', obj).each(function() {
               var $me = $(this);
               $(this).qtip({
                   content: {
                        text: 'loading...',
                        ajax: {
                            url: '{% url 'client-infobox' %}', 
                            data: { key: $me.data('clientkey') }
                        }
                   },
                   style: {
                       classes: 'sample-infobox'
                   }
               });
            });
            $('[data-sampkey]', obj).each(function() {
               var $me = $(this);
               $(this).qtip({
                   content: {
                        text: 'loading...',
                        ajax: {
                            url: '{% url 'sample-infobox' %}', 
                            data: { key: $me.data('sampkey') }
                        }
                   },
                   style: {
                       classes: 'sample-infobox'
                   }
               });
           });
        }

        $(function() {
           $('.datepicker input[type=text]').change(function(){ is_date(this)});

           var is_date = function(element){
               var text = $(element).val();
               var delim = (text.indexOf('/') != -1)? "/": '-'
               var data = text.split(delim);
               var m = parseInt(data[0], 10);
               var d = parseInt(data[1], 10);
               var y = parseInt(data[2], 10);
               var date = new Date(y,m-1,d);
               if (!(date.getFullYear() == y && date.getMonth() + 1 == m && date.getDate() == d)) {
                   $(element).focus();
                   $(element).next(".error").remove();
                   $(element).after("<div class='input-notification error png_bg'> Invalid date. </div>");
                   return false;
               }
               else{
                   $(element).next(".error").remove()
               }
           }

           if($('.hasDatepicker').length != 0){
               if($('.hasDatepicker').val() != ""){
                   value = $('.hasDatepicker').val().split('-')
                   $('.hasDatepicker').datepicker('setDate', value[1] +"/"+value[2]+"/"+value[0]);
               } 
           }
           find_qtips(document);
           $('#mainnav').accordion({
               collapsible: true,
               autoHeight: false,
               icons: false
           });
           $('#nav').height($(document).height());
           //$('#mainnav .ui-accordion-header').hover(function() {
               //$(this).toggleClass('hover-header', 200);
           //});
           $('.datepicker input').datepicker();
           //$('form fieldset h2, .section h2').ribbon();
           $('table.filter').dataTable();

        });
    </script>

    {% block js %}
    {% endblock js %}
    
</head>
  
<body>

   <div id="body-wrapper" > <!-- Wrapper for the radial gradient background -->
        {% if not is_ajax_request %}  
        <div id="sidebar">
            <div id="sidebar-wrapper"><!-- Sidebar with logo and menu -->            
                <h2 id="sidebar-title"><a href="#">GTAC Tracker</a></h2>
              
                <!-- Sidebar Profile links -->
                <div id="profile-links">
                    Hello, <a href="#" title="Edit your profile">{{ user.person.first_name|default:user.username }}</a>
                    <br /><br />
                    <a href="{% url 'signout' %}" title="Sign Out">Sign Out</a>
                </div>        
                
                <ul id="main-nav">  <!-- Accordion Menu -->
                    {% load menu_tags %}
                    {% menutree "Main" %}
                    <li class="">
                        <a class="{% if page.is_active %}current {% endif %}{% if level = 1 %}nav-top-item{% endif %}" 
                            href="{{ page.url }}">{{ page.name }}</a>{% if not page.node.is_leaf_node %}
                        <ul class="children">{{ children }}</ul>
                        {% endif %}</li>
                    {% endmenutree %}
                </ul> <!-- End #main-nav -->
            </div>
        </div> <!-- End #sidebar -->
        {% endif %}
        <div id="main-content"> <!-- Main Content Section with everything -->
            
            <noscript> <!-- Show a notification if the user has disabled javascript -->
                <div class="notification error png_bg">
                    <div>
                        Javascript is disabled or is not supported by your browser. Please 
                            <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or 
                            <a href="http://www.google.com/support/bin/answer.py?answer=23852" 
                                title="Enable Javascript in your browser">enable</a> 
                            Javascript to navigate the interface properly.
                    </div>
                </div>
            </noscript>
            {% block messages %}{% endblock messages %}
            {% block content %}{% endblock content %}
            {% if not is_ajax_request %}            
            <div id="footer">
                <small>
                        &#169; Copyright 2012 GTAC | <a href="#">Top</a>
                </small>
            </div><!-- End #footer -->   
	    {% endif %}         
        </div> <!-- End #main-content -->        
    </div>
</body>  
</html>
