// 3D CSS Ribbon ------------------------------------------------------------
// Plugin by Leandro D'onofrio - http://dzign.us/


// Imports --------------------------------------------------------------------

@import "compass/typography/vertical_rhythm";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/pie";
@import "compass/css3/transform";

//** 3D CSS Ribbon **//

//The real name was "3d-ribbon" but mixins can't start with a number...
@mixin ribbon(
  // Set the sides of the ribbon
  $sides             : left-bottom right-bottom,
  // Set the color of the ribbon
  $front-color       : #3A89CE,
  // Set the color of the edges
  $edges-color       : darken($front-color, 30%),
  // Set the color of the back sides
  $back-color        : $front-color,
  // Set the width of the front
  $front-width       : 0,
  // Set the height of the ribbon
  // $ribbon-height     : 40px,
  $ribbon-height     : rhythm(1.25),
  // Set the width of the back sides
  $back-width        : 40px,
  // Set the width of the overlaps
  $overlap-width     : 10px,
  // Set the height of the overlaps
  $overlap-height    : rhythm(.5),
  // Set the distance of the overlaps
  $overlap-distance  : 0, 
  // Set the border radius of the back sides
  $border-radius     : 2px,
  //Support for CSS3 PIE - More info: http://compass-style.org/reference/compass/css3/pie/
  $include-pie       : false
  ) {
  
  //If include CSS3 PIE, don't repeat position: relative
  $pie-default-approach : none;
  
  //ribbon-wrapper
  div.ribbon-wrapper {
    height: ($ribbon-height + $overlap-height);
    width: $front-width;
    position: relative;
    z-index: 3;
    //Shadow only for bottom sides
    @if ($overlap-distance == 0) and ($sides == (left-bottom right-bottom)) or ($sides == (right-bottom left-bottom)) {
      
      background-position: 0 $ribbon-height;
      @include background-image(linear-gradient(#555 0px, rgba(255, 255, 255, 0) $overlap-height));
    }
  }
  
  //ribbon-front
  div.ribbon-front {
    width: ($front-width + ($overlap-width*length($sides)) + ($overlap-distance*length($sides)));
    line-height: $ribbon-height;
    //padding-left: $overlap-distance + $overlap-width;
    //height: $ribbon-height;
    text-indent: $overlap-distance + $overlap-width; 
    background-color: $front-color;
    position: relative;
    z-index: 2;
    @include box-shadow(rgba(0, 0, 0, 0.4) 1px 2px 5px);
    @if ($sides == right-top) or ($sides == right-bottom) {
      left: 0;
    } @else {
      left: -($overlap-width + $overlap-distance);
    }
    @if $include-pie == true {
      @include pie;
    }
  }
  
  //for each side
  @each $position in (left right) {
    //left side
    @if ($position == left) and (($sides == left-top) or ($sides == left-bottom)) {
      div.ribbon-edge-left-top,
      div.ribbon-edge-left-bottom {
        @include _ribbon-edge(left, $overlap-width, $overlap-distance);
      }
      div.ribbon-back-left {
        @include _ribbon-back($back-width, $ribbon-height, $back-color, $border-radius, left, $overlap-distance, $include-pie);
      }
    //right side
    } @else if ($position == right) and (($sides == right-top) or ($sides == right-bottom)) {
    
      div.ribbon-edge-right-top,
      div.ribbon-edge-right-bottom {
        @include _ribbon-edge(right, $overlap-width, $overlap-distance);
      }
      
       div.ribbon-back-right {
        @include _ribbon-back($back-width, $ribbon-height, $back-color, $border-radius, right, $overlap-distance, $include-pie);
      }
    
    //both sides
    } @else if ($sides == (left-top right-top)) or ($sides == (left-bottom right-bottom)) or ($sides == (left-top right-bottom)) or ($sides == (left-bottom right-top)) or ($sides == (right-top left-top)) or ($sides == (right-bottom left-bottom)) or ($sides == (right-top left-bottom)) or ($sides == (right-bottom left-top)) {
    
      div.ribbon-edge-#{$position}-top,
      div.ribbon-edge-#{$position}-bottom {
        @include _ribbon-edge(#{$position}, $overlap-width, $overlap-distance);
      }
      div.ribbon-back-#{$position} {
        @include _ribbon-back($back-width, $ribbon-height, $back-color, $border-radius, #{$position}, $overlap-distance, $include-pie);
      }
    }
  }
  
  //for each selected side
  @each $side in $sides {
    
    //left-top side
    @if $side ==  left-top {
      div.ribbon-edge-left-top {
        bottom: ($ribbon-height + $overlap-height);
        border-width: $overlap-height $overlap-width 0 0;
        border-color: transparent $edges-color transparent transparent;
      }
      div.ribbon-back-left {
        top: -$overlap-height;
      }
    //left-bottom side
    } @else if $side ==  left-bottom {
      div.ribbon-edge-left-bottom {
        top: $ribbon-height;
        border-width: 0 $overlap-width $overlap-height 0;
        border-color: transparent $edges-color transparent transparent;
      }
      div.ribbon-back-left {
        top: $overlap-height;
      }
    //right-top side
    } @else if $side ==  right-top {
      div.ribbon-edge-right-top {
        bottom: ($ribbon-height + $overlap-height);
        border-width: 0 $overlap-width $overlap-height 0;
        border-color: transparent transparent $edges-color transparent;
      }
      div.ribbon-back-right {
        top: -$overlap-height;
      }
    //right-bottom side
    } @else if $side ==  right-bottom { 
      div.ribbon-edge-right-bottom {
        top: $ribbon-height;
        border-width: $overlap-height $overlap-width 0 0;
        border-color: $edges-color transparent transparent transparent;
      }
      div.ribbon-back-right {
        top: $overlap-height;
      }
    }
  }
}

//private mixins
@mixin _ribbon-edge($position, $overlap-width, $overlap-distance) {
  height:0;
  width:0;
  position: absolute;
  z-index: 1;
  #{$position}: -($overlap-width + $overlap-distance);
  border-style:solid;
}

@mixin _ribbon-back($back-width, $ribbon-height, $back-color, $border-radius, $position, $overlap-distance, $include-pie) {

  width: $back-width;
  height: $ribbon-height;
  position: absolute;
  z-index: 0;
  @include box-shadow(rgba(0, 0, 0, 0.5) 0px 0px 4px);
  
  @if $border-radius != 0 {
    @if $position == left {
      @include border-left-radius($border-radius);
    } @else if $position == right {
      @include border-right-radius($border-radius);
    }
  }
  
  background-color: $back-color;
  #{$position}: -($back-width + $overlap-distance);
  @if $include-pie == true {
    @include pie;
  }
}


@mixin ribbon-simple ($front-width: 200px,
                      $sides: left-bottom right-bottom,
                      $overlap-distance: 0
                      ) 
{
@include ribbon($back-width: 0, $sides: $sides, $overlap-distance: $overlap-distance, $front-width: $front-width);
}


@mixin ribbon-simple-left-bottom ($front-width: 200px, $overlap-distance: 0){
@include ribbon-simple($sides: left-bottom, $overlap-distance: $overlap-distance, $front-width: $front-width);
  .ribbon-front {
  @include border-right-radius(5px);
  @include border-top-left-radius(5px);
  }
}


@mixin pagecurlold() {
    position: relative;
    background-color: white;

    &:before, &:after {
      content: '';
      z-index: -1;
      position: absolute;
      left: 4px;
      //bottom: 16px;
      bottom: 16px;
      width: 70%;
      max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
      height: 10%;
      -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -webkit-transform: skew(-15deg) rotate(-6deg);
      -moz-transform: skew(-15deg) rotate(-6deg);
      -ms-transform: skew(-15deg) rotate(-6deg);
      -o-transform: skew(-15deg) rotate(-6deg);
      transform: skew(-15deg) rotate(-6deg); 
      }
      
    &:after {
      left: auto;
      right: 4px;
      -webkit-transform: skew(15deg) rotate(6deg);
      -moz-transform: skew(15deg) rotate(6deg);
      -ms-transform: skew(15deg) rotate(6deg);
      -o-transform: skew(15deg) rotate(6deg);
      transform: skew(15deg) rotate(6deg); 
      }
}


@mixin worn-edges() {
  @include box-shadow(rgba(0,0,0,0.27) 0 1px 4px, rgba(0,0,0,0.06) 0 0 40px inset);
}

@mixin pagecurl($background-color: #fff, $inset: true) {
  // From: http://css-tricks.com/snippets/css/page-curl-shadows/
  //width:220px;
  //min-height:120px;
  //padding:15px;
  //margin:20px auto;    
  //width: 300px;

  position:relative;
  border:1px solid #efefef;
  background:$background-color;
  @if $inset {
    @include worn-edges;
  }
  &:before, &:after { 
    content:''; 
    position:absolute; 
    z-index:-2; 
    width:70%;
    max-width:200px; /* for liquid versions */
    //height:55%; 
    height: 20px;
    bottom:15px;
    left: 8px; 
    @include box-shadow(rgba(0,0,0,0.5) 0 10px 36px);
    @include transform(skew(-15deg) rotate(-6deg));
  } 

  &:after {
    left:auto;
    right: 8px; 
    @include transform(skew(15deg) rotate(6deg));
  }
}
/* Hack 1 */

.op1 {
    position:relative;
    z-index:1;
    overflow:hidden;
    background:#f5f5f5;
}

@mixin pagecurl-h-borders($background-color: #fff, $inset: true, $lines: .5) {
@include pagecurl($background-color, $inset);
@include h-borders(1px, $lines);
}

@mixin photopaper {
  padding: 5px;
  @include pagecurl;
  @include border-radius(3px);
}



@mixin raised($color: #ff5c00) {
@include background-image(linear-gradient(top, $color, darken($color, 10%) 70%, darken($color, 5) 98%));
}

@mixin embossed-text($color: #fff ) {
color: $color; 
@include text-shadow(0 -1px 1px rgba(0,0,0,0.25));
}

@mixin pretty-press($shadow-color: #666, $blur: 3px, $deepness: 1px){
position: relative;
cursor: pointer;
@include box-shadow($shadow-color, $deepness, $deepness, $blur);
  &:active {
    top: $deepness; 
    left: $deepness; 
    @include box-shadow($shadow-color, 0px, 0px, $blur);
  }
}

@mixin awesome($color: #ff5c00, $font-size: $base-font-size){
display: block; 
text-decoration: none;
border: 0;
border-bottom: 1px solid rgba(0,0,0,0.25);
@include border-radius(4px);
@include adjust-leading-to(1.25, $font-size);
@include embossed-text(#fff);
@include pretty-press();
font-family: "DroidSansBold";
background-color: $color; 
@include raised($color);
  &:hover {
    color: #fff; 
    @include background-image(linear-gradient(top, darken($color, 10%) 70%, darken($color, 10) 98%));
  }
}



@mixin box-with-ribbon($width: 500px, $ribbon-width: 400px){
  width: $width;
  padding: 0 10px;
  font-weight: bold;
  @include ribbon-simple-left-bottom($overlap-distance: 11px, $front-width: $ribbon-width);
  @include pagecurl-h-borders($inset: true);
  @include trailer(.5);
  h2 {
  @include embossed-text;
  }
}
