@import "compass/typography/vertical_rhythm";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transform";

@mixin worn-edges() {
  // Give the edges of a box a nice shaded work look
  @include box-shadow(rgba(0,0,0,0.27) 0 1px 4px, rgba(0,0,0,0.06) 0 0 40px inset);
}

@mixin pagecurl($background-color: #fff, $inset: true) {
  // A little shadow under the bottom corners of a block (like a div)
  // From: http://css-tricks.com/snippets/css/page-curl-shadows/
  //width:220px;
  //min-height:120px;
  //padding:15px;
  //margin:20px auto;    
  //width: 300px;

  position:relative;
  border:1px solid #efefef;
  background:$background-color;
  @if $inset {
    @include worn-edges;
  }
  &:before, &:after { 
    content:''; 
    position:absolute; 
    z-index:-2; 
    width:70%;
    max-width:200px; // for liquid versions 
    //height:55%; 
    height: 20px;
    bottom:15px;
    left: 8px; 
    @include box-shadow(rgba(0,0,0,0.5) 0 10px 36px);
    @include transform(skew(-15deg) rotate(-6deg));
  } 

  &:after {
    left:auto;
    right: 8px; 
    @include transform(skew(15deg) rotate(6deg));
  }
}

@mixin pagecurl-h-borders($background-color: #fff, $inset: true, $lines: .5) {
  // Pagecurl... maintaining the vertical rhythm
  @include pagecurl($background-color, $inset);
  @include h-borders(1px, $lines);
}

@mixin photopaper($padding: 5px) {
  // page curl with a small curved border around.  Good for sticking an image in.
  padding: $padding;
  @include pagecurl;
  @include border-radius(3px);
}

@mixin raised($color: #ff5c00) {
  // raised 
  @include background-image(linear-gradient(top, $color, darken($color, 10%) 70%, darken($color, 5) 98%));
}

@mixin embossed-text($color: #fff ) {
  color: $color; 
  @include text-shadow(0 -1px 1px rgba(0,0,0,0.25));
}

@mixin pretty-press($shadow-color: #666, $blur: 3px, $deepness: 1px){
  // Good for a button, to make it 
  position: relative;
  cursor: pointer;
  @include box-shadow($shadow-color, $deepness, $deepness, $blur);
  &:active {
    top: $deepness; 
    left: $deepness; 
    @include box-shadow($shadow-color, 0px, 0px, $blur);
  }
}

@mixin awesome($color: #ff5c00, $font-size: $base-font-size){
  display: block; 
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  @include border-radius(4px);
  @include adjust-leading-to(1.25, $font-size);
  @include embossed-text(#fff);
  @include pretty-press();
  font-family: "DroidSansBold";
  background-color: $color; 
  @include raised($color);
    &:hover {
    color: #fff; 
    @include background-image(linear-gradient(top, darken($color, 10%) 70%, darken($color, 10) 98%));
    }
}

