//.ui-tooltip, .qtip{
@mixin qtip-base() {
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;

	//max-width: 280px;
	min-width: 50px;
	
	font-size: 10.5px;
	line-height: 12px;

	/* Fluid class for determining actual width in IE */
	.ui-tooltip-fluid{
		display: block;
		visibility: hidden;
		position: static !important;
		float: left !important;
	}

	.ui-tooltip-content{
		position: relative;
		padding: 5px 9px;
		overflow: hidden;

		border: 1px solid #000001;

		text-align: left;
		word-wrap: break-word;
		overflow: hidden;
	}

	.ui-tooltip-titlebar{
		position: relative;
		min-height: 14px;
		padding: 5px 35px 5px 10px;
		overflow: hidden;

		border: 1px solid #000001;
		border-width: 1px 1px 0;

		font-weight: bold;
	}

	.ui-tooltip-titlebar + .ui-tooltip-content{ border-top-width: 0px !important; }

		/*! Default close button class */
		.ui-tooltip-titlebar .ui-state-default{
			position: absolute;
			right: 4px;
			top: 50%;
			margin-top: -9px;

			cursor: pointer;
			outline: medium none;

			border-width: 1px;
			border-style: solid;
		}
		
		* html .ui-tooltip-titlebar .ui-state-default{ top: 16px; } /* IE fix */

		.ui-tooltip-titlebar .ui-icon,
		.ui-tooltip-icon .ui-icon{
			display: block;
			text-indent: -1000em;
		}

		.ui-tooltip-icon, .ui-tooltip-icon .ui-icon{
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}

			.ui-tooltip-icon .ui-icon{
				width: 18px;
				height: 14px;

				text-align: center;
				text-indent: 0;
				font: normal bold 10px/13px Tahoma,sans-serif;

				color: inherit;
				background: transparent none no-repeat -100em -100em;
			}


/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.ui-tooltip-focus{
}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.ui-tooltip-hover{
}
}



@mixin qtip-tips {
  .ui-tooltip-tip{
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
    }

  .ui-tooltip-tip,
  .ui-tooltip-tips *{
    position: absolute;
    line-height: 0.1px !important;
    font-size: 0.1px !important;
    color: #123456;
    background: transparent;
    border: 0px dashed transparent;
  }

  .ui-tooltip .ui-tooltip-tip canvas{ top: 0; left: 0; }
}

@mixin qtip() {
  @include qtip-base;
  @include qtip-tips;
}

@mixin qtip-default {
  /*! Default tooltip style */
  @include qtip();
  .ui-tooltip-titlebar,
  .ui-tooltip-content{
	border-color: #F1D031;
	background-color: #FFFFA3;
	color: #555;
  }
  
  .ui-tooltip-titlebar{
	background-color: #FFEF93;
  }

  .ui-tooltip-icon{
	border-color: #CCC;
	background: #F1F1F1;
	color: #777;
  }
	
  .ui-tooltip-titlebar .ui-state-hover{
    border-color: #AAA;
    color: #111;
  }
}
