// Text Effects (with some other stuff that should probably be elsewhere FIXME

@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transform";


@mixin raised($color: #ff5c00) {
  @include background-image(linear-gradient(top, $color, darken($color, 10%) 70%, darken($color, 5) 98%));
}

@mixin embossed-text($color: #fff ) {
  color: $color; 
  @include text-shadow(0 -1px 1px rgba(0,0,0,0.25));
}

@mixin pretty-press($shadow-color: #666, $blur: 3px, $deepness: 1px){
  position: relative;
  cursor: pointer;
  @include box-shadow($shadow-color, $deepness, $deepness, $blur);
    &:active {
    top: $deepness; 
    left: $deepness; 
    @include box-shadow($shadow-color, 0px, 0px, $blur);
    }
}

@mixin awesome($color: #ff5c00, $font-size: $base-font-size){
  display: block; 
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  @include border-radius(4px);
  @include adjust-leading-to(1.25, $font-size);
  @include embossed-text(#fff);
  @include pretty-press();
  font-family: "DroidSansBold";
  background-color: $color; 
  @include raised($color);
    &:hover {
    color: #fff; 
    @include background-image(linear-gradient(top, darken($color, 10%) 70%, darken($color, 10) 98%));
    }
}

