/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "pageeffects";
@import "texteffects";
@import "qtip";
@import "ribbon";
@import "compass/typography/vertical_rhythm";

@include establish-baseline;


.stuff1 {
  @include pagecurl;
  width: 300px;
  padding: 20px;
}

@mixin bck-tooltip {
  @include qtip;
  //@include pagecurl;
  position: absolute;
    .ui-tooltip-titlebar, .ui-tooltip-content {
    border-color: #efefef;
	  color: #f3f3f3;
    }

    .ui-tooltip-content{
    @include worn-edges;
    background-color: #fff;
    width: 200px;
    height: 200px;
    color: #666;
    font-size: 16px;
    }

    .ui-tooltip-titlebar{
    background-color: #404040;
    }

    .ui-tooltip-icon{
    border-color: #444;
    }

    .ui-tooltip-titlebar .ui-state-hover{
    border-color: #303030;
    }
}

@mixin box-with-ribbon($width: 250px, $padding:5px, $border: 2px) {
  padding: $padding;
  width: $width;
  @include ribbon-wrap($front-width: $width, $overlap-distance: $padding + $border);
}

.infobox {
@include bck-tooltip;
}


.stuff2 {
  @include pagecurl;
  @include box-with-ribbon($padding: 5px, $width: 250px);
  margin: 30px;
    h2 {
      @include embossed-text();
      font-size: 23px;
      //@include adjust-font-size-to(20px);
    }
}
