<div id="field_{{ field.name }}" class="field {% if type == 'DateField'%}datepicker{% endif %} {{ classes }} {{ field.css_classes }}">
<div class="field_label">{{ field.label_tag }} <span class="help">{{ field.help_text }}</span></div>
{{ field }}
{{ field.errors }}
</div>
