<p id="field_{{ field.name }}" class="{{ classes }} {% if field.errors %}fielderror{% endif %}">
<label>{{ field.label }}:</label>
{{ field }}
{% load markup %}
{% if field.help_text %}<span class="help_text">{{ field.help_text }}</span><a class="help" href="#">help</a>{% endif %}
{% if field.errors %}
<span class="input-notification error png_bg">
{% for error in field.errors %}{{ error }}{% endfor %}
</span>
{% endif %}
</p>
