{% if field.errors %}
	<td class="fielderror {% if type == 'DateField'%}datepicker{% endif %}{{ classes }}">
		{{ field }}
		<ul>{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
	</td>
{% else %}
	<td class="{% if type == 'DateField' %}datepicker {% endif %}{{ classes }}">
		{{ field }} 
		{% if field.help_text %}
			<a class="help" title="{{ field.help_text|escapejs }}" href="">?</a>
		{% endif %}
	</td>
{% endif %}
