<tr id="field_{{ field.name }}" class="{{ classes }} {% if field.errors %}fielderror{% endif %}">
	<th class='first'>{{ field.label }}:</th>
	<td class="{% if type == 'DateField'%}datepicker {% endif %}">
		{{ field }}
	</td>
	<td class='last'>{% load markup %}
		{% if field.help_text %}<span class="help_text">{{ field.help_text|markdown }}</span><a class="help" href="#">help</a>{% endif %}
		{% if field.errors %}
			<span class="input-notification error png_bg">
				{% for error in field.errors %}{{ error }}{% endfor %}
			</span>
		{% endif %}
	</td>
</tr>
