/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// ---- Grid variables
$total-cols: 24;
$col-width: 30px;
$gutter-width: 10px;
$side-gutter-width: $gutter-width;

// ---- typography
$base-font-size: 16px;
$base-line-height: 24px;
$sf-line-height: $base-line-height;
$sf-link-vert-padding: 0;
$sf-link-horz-padding: $gutter-width;

// ---- Box Shadow
$default-box-shadow-h-offset: 2px;
$default-box-shadow-v-offset: 2px;
$default-box-shadow-color: #ddd;

// ---- Colors
$purple: #9238C7;
$red: #ff594a;

@import "superfish";
@import "font";
@import "compass/reset";
@import "compass";
@import "compass/typography/vertical_rhythm";
@import "blueprint";
@import "compass/layout/sticky-footer";

@include establish-baseline($base-font-size);

@mixin bold {
font-family: DroidSansBold;
}
