//$ulwidth: 9em;
$l1fg: #13a;
$l1bg: #BDD2FF;
$l1fgh: white;
$l1bgh: #13a;
$l2fg: white;
$l2bg: #AABDE6;
$l2fgh: $l1fgh;
$l2bgh: $l1bgh;
$l3fg: white;
$l3bg: #9AAEDB;
$l3fgh: $l1fgh;
$l3bgh: $l1bgh;

$sfalign: left;
$sf-link-vert-padding: .75em ! default;
$sf-link-horz-padding:  1em ! default;
$sf-line-height: 1.0em ! default;
$sfl3-align: $sfalign;
//$sfl1-padding: $sf-link-vert-padding $sf-link-horz-padding;
$ulwidth: 8em;

@mixin superfish($ulwidth: $ulwidth, $root-height: $sf-line-height, $first-level-width: $ulwidth) {

list-style:		none;
line-height:	$root-height;

    * {
    margin:			0;
    padding:		0;
    list-style:		none;
    }
    
    ul {
	position:		absolute;
	top:			-999em;
	width:			$first-level-width; /* left offset of submenus need to match (see below) */
    }
    
    ul li {
	width:			100%;
    }

    li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
    }

    li {
	float:			$sfalign;
	position:		relative;
    }
    a {
	display:		block;
	position:		relative;
    }
    li:hover ul,
    li.sfHover ul {
	#{$sfalign}:			0;
	top:			$sf-link-vert-padding * 2 + $root-height; /* match top ul list item height */
	z-index:		99;
    }
    li:hover li ul,
    li.sfHover li ul {
	top:			-999em;
    }
    li li:hover ul,
    li li.sfHover ul {
	#{$sfalign}:			$first-level-width ; /* match ul width */
	top:			0;
    }
    li li:hover li ul,
    li li.sfHover li ul {
	top:			-999em;
    }
    li li li:hover ul,
    li li li.sfHover ul {
	#{$sfalign}:			$ulwidth; /* match ul width */
	top:			0;
    }
}

@mixin ulstyle() {
float:			$sfalign;
    a {
    text-decoration: none;
    padding: $sf-link-vert-padding $sf-link-horz-padding;
    }
}
@mixin listyle($fg, $bg, $fgh, $bgh, $sfalign: left) {
background:		$bg;
text-align: $sfalign;
    a {
    color: $fg;
    }
    a:focus, a:hover, a:active {
    color: $fgh;
    background-color: $bgh;
    }
    &:hover, &.sfHover {
    color: $fgh;
    background-color: $bgh;
    }
}

@mixin style1($l1fg: $l1fg, $l1fgh: $l1fgh, $l1bg: $l1bg, $l1bgh: $l1bgh,
$l2fg: $l2fg, $l2fgh: $l2fgh, $l2bg: $l2bg, $l2bgh: $l2bgh, 
$l3fg: $l3fg, $l3fgh: $l3fgh, $l3bg: $l3bg, $l3bgh: $l3bgh) {
float:			$sfalign;
margin-bottom:	0;

    a {
	padding: 		$sf-link-vert-padding $sf-link-horz-padding;
	text-decoration:none;
    }
    a, a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			$sfl1-color;
    }
    li {
	background:		$l1bg;
	text-align: $sfalign;
	    a {
	    color: $l1fg;
	    }
    }
    li li {
	background:		$l2bg;
	    a, a:visited {
	    color: $l2fg;
	    }
	    &.sfHover {
	    background-color: $l2bgh;
	    }
    }
    li li li {
	background:		$l3bg;
	text-align: $sfl3-align;
	    a, a:visited {
	    color: $l3fg;
	    }
    }
    li:hover, li.sfHover,
    a:focus, a:hover, a:active {
	background:		$l1bgh; //darken($sfl1-bgcolor, 10%); //#CFDEFF;
	outline:		0;
	color: $l1fgh;
    }
}

@mixin vsuperfish($width: 10em) {
@include superfish;
/*** adding sf-vertical in addition to sf-menu creates a vertical menu ***/
width:	$width;
li {
    width: $width;
}

/* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
li:hover ul,
li.sfHover ul {
	left:	$width; /* match ul width */
	top:	0;
}

/*** alter arrow directions ***/
.sf-sub-indicator { background-position: -10px 0; } /* IE6 gets solid image only */
a > .sf-sub-indicator { background-position: 0 0; } /* use translucent arrow for modern browsers*/

/* hover arrow direction for modern browsers*/
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}
}
