@import "base";
//@import "debug";

@include sticky-footer(rhythm(4), "#all", "#ft", "#footer");

body {
//font-family:"DroidSansRegular", "Bitstream Vera Sans",sans-serif;
font-family: "Bitstream Vera Sans",sans-serif;
}

#top {
@include background-image(linear-gradient(#1c1c1c, #1c1c1c 50%, #000000 51%, #000000));
@include box-shadow();
}

#hd, #page {
@include container();
}
a {
@include hover-link();
@include link-colors($purple, $red);
}

#hd {
height: rhythm(3);
overflow: visible;
@include pie-clearfix;
    a#home {
    @include column(6);
    @include replace-text('gtac-logo.png', 0%, 0%);
    height: rhythm(3);
    }
    a#wusm {
    @include column(3);
    @include push(15);
    @include replace-text('wu-logo.png');
    height: rhythm(2);
    }
}

#footer {
text-align: center;
background: #DCDDDE;
    p {
    @include adjust-font-size-to(12px);
    @include padding-leader(1);
    }
}

.content {
@include column(17);
@include push(1);
@include border();
@include leader(1);
}

.content, #tinymce {
    h2,h3 {
    @include single-text-shadow(#ddd, 2px, 2px, 3px);
    font-family: DroidSansBold;
    }
    h2 {
    @include adjust-font-size-to(20px);
    }
    h3 {
    @include adjust-font-size-to(18px);
    }
    
    form {
    @include blueprint-form-layout;
    @include blueprint-form-borders(#E5E5E5, #C9C9C9);
    @include blueprint-form-sizes(200px, 300px, 100px); 
    }
    input,textarea {
    @include box-shadow(rgba(0,0,0,0.1), 0px, 0px, 8px);
    @include linear-gradient(color-stops(#ffffff, #eeeeee 4%, #ffffff));
        &:hover, &:focus {  
        @include box-shadow(rgba(0,0,0,0.15), 0px, 0px, 8px);
        border-color: #C9C9C9;  
        } 
    }
    table {
    border-spacing: 3px;
    border-collapse: separate;
    }
    thead th {
    background-color: $purple;
    color: white;
    text-align: center;
    @include bold;
    }
    td,th {
    padding: 3px;
    }
    th {
    background-color: #777;
    color: white;
        a {
        color: white;
        }

    }
    td {
    background-color: #ccc;
    }
}

#links {
@include column(5, true);
@include prepend(.5);
@include append(.5);
@include leader(1);
@include adjust-font-size-to(12px);
    .box {
    @include trailer(1);
    }
    h2 {
    @include apply-side-rhythm-border(bottom, 3px);
    border-style: solid;
    border-color: $purple;
    padding: 0;
    @include bold;
    text-align: center;
    }
}

#public-main {
@include superfish($ulwidth:span(4), $root-height:rhythm(3), $first-level-width: span(4) + 5px);
@include column(6);
    a {
    text-decoration: none;
    }
    ul {
    background: #ddd;
        li {
        @include listyle(white,black,white,#333);
        @include adjust-leading-to(1);
        padding-left: 5px;
        width: span(4);
        @include adjust-font-size-to(14px);
        text-transform: uppercase;
        }
    }
    li {
    @include listyle(white,none,white,black);
    @include adjust-leading-to(3);
    width: span(3);
    text-align: center;
    }
}
#nav {
background-color: #ddd;
}
#menu {
@include superfish($ulwidth:span(4), $root-height:rhythm(1), $first-level-width: span(4) + 5px);
@include container();
overflow: visible;
@include pie-clearfix;
background-color: #ddd;
    a {
    text-decoration: none;
    }
    ul {
    background: #ddd;
        li {
        padding-left: 5px;
        width: span(4);
        @include listyle(black,#ddd,#ddd,#777);
        }
    }
    li {
    @include listyle(black,#ddd,#ddd,#777);
    width: span(3);
    text-align: center;
    }
}

#sequencer-photo {
float: right;
height: rhythm(5);
}

#lane-detail {
    .stats {
    @include column(8);
    }
    td,th {
    padding: 5px 10px;
    }
    th {
    text-align: right;
    
    }
    
}

#flowcell-detail {
    #flowcell-photo {
    float: right;
    }
}

#clusterstation-detail {

    #flowcells {
    
    }
    #modelphoto {
    float: right;
    }
    
}

#sample-detail {
    #notes {
    @include column(8);
    @include adjust-font-size-to(12px);
        h2 {
        margin: 0;
        }
    }
    #organism-photo {
    float: right;
    width: span(4);
    text-align: center;
        img {
        height: rhythm(5);
        }
    }
}

#turnaround {

}

.content .fp, #tinymce {
    h1, h2 {
    color: $purple;
    font-family: DroidSansBold;
    @include single-text-shadow(#ddd, 2px, 2px, 3px);
        &.title {
        color: black;
        }
    }
    h1 {
    @include adjust-font-size-to(20px);
    @include margin-trailer(1, 20px);
    }
    h2 {
    @include adjust-font-size-to(20px);
    @include trailing-border(2px, 0, $font-size: 20px);
    @include margin-trailer(1, 20px);
    }
    ol {
    list-style-type: decimal;
    padding-left: span(1);
    margin-left:0;
    }
    ol, p {
    @include trailer(1);
    }
}

