{% extends "sts/base.html" %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
    var oTable;
    $(function() {
        oTable = $('table').dataTable({
                "bServerSide": true,
                "sAjaxSource": "",
                'bStateSave': true,
                "sScrollX": "100%"
            });
    });
</script>
{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/common_datatable.js' %}"></script>
{% endblock js %}

{% block content %}
<div class="content-box">
    <div class="content-box-header">
        <h3>Browse Flowcells</h3>
    </div>
    <div class="content-box-content">
        <table>
            <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Run Type</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock content %}
