{% extends "sts/base.html" %}

{% load static from staticfiles %}
{% block css %}
{{ block.super }}
<style>
    table tr th:first-child {
        width: 160px;
    }
    table tr td:nth-child(2) {
        width: 180px;
    }
    
    table th {
        font-weight: bold;
    }
    
    .ui-widget {
        font-family: Arial, Helvetica, sans-serif;
    }
    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        font-family: Arial, Helvetica, sans-serif;
    }
    .ui-widget-content a {
        color: #57a000;
    }
    .ui-accordion .ui-accordion-header {
        padding: 10px 10px 10px 2.2em;
        font-weight: bold;
        background: #e5e5e5 url('{% static 'images/bg-content-box.gif' %}') top left repeat-x;
    }
    #main-content table td,
    #main-content table th {
        padding: 5px 10px;
    }
    
    #field_index_note .first{
        vertical-align: top;
    }

    #lanetable input{
        width: 90%;
    }

    #lanetable th, #lanetable td {
        width: 19%;
    }

    #lanetable th:first-child, #lanetable td:first-child{
        width: 5%;
    }
 
    #lanetable .delete-row{
        float: right;
    }
    #lanetable table {
        margin: 5px 0;
    }
   
    #lanetable>table{
        margin: 0;
    }

</style>
{% endblock css %}

{% block js %}
<script type="text/javascript">

function getSampleQueueData(seqId, name_attr){
    if (isNaN(seqId)) return;
    
    $.ajax({
        type: "GET",
        url: "/seq/flowcell/seqsamplequeuejson",
        data: { seqId: seqId }
    }).done(function( resp ) {
        seqdata = resp.data;
        var matches       = /(\S+)-sequencing_sample/.exec(name_attr);
        
        if(seqdata[1] == null){
            seqdata[1] = 1
        }
        $('input[name="' + matches[1] + '-phix_spike"]').val(seqdata[1]);
        $('input[name="' + matches[1] + '-loading_concentration"]').val(seqdata[2]);
        $('input[name="' + matches[1] + '-submitted_concentration"]').val(seqdata[3]);
        $('input[name="' + matches[1] + '-primer"]').val(seqdata[4]);
        
        var index_length = parseInt($('input[name="run-index_length"]').val());
        index_length = isNaN(index_length)? seqdata[5]: (index_length < seqdata[5]? seqdata[5]: index_length)
        $('input[name="run-index_length"]').val(index_length);
    })
}

function getSampleQueue(search) {
    $.ajax({
        type: "GET",
        url: "/seq/flowcell/seqsamplequeuejson",
        data: { sEcho: "1", iDisplayStart: "0", iDisplayLength: "-1", run_type_id: search, forCombo: '1', 
                status: 'needed', run_id:'{{runform.num.value}}' }
    }).done(function( data ) {
        var options = '<option value="" selected="selected">---------</option>';
        $.each( data['aaData'], function( key, value ) {
            options += '<option value="' + value[0] + '">' + value[1] + '</option>';
        })

        var lanes = $('select[name^="lane"]');
        $.each(lanes, function(index) { 
            var value = $(this).val()
            $(this).html(options);
            $(this).val(value);
        });
        
        make_change();
    });
}


function make_change() {
    var lanes = $('select[name^="lane"]');

    $.each(lanes, function() {
        $(this).change(function() {
            var new_ss_id     = parseInt($(this).val(), 10);
            getSampleQueueData(new_ss_id, $(this).attr('name'));
        });
    });
}

$(document).ready(function() {
    var aSelected = [];

    $("#runtypes").hide();
    make_change();

    $("#id_flowcell-runtype").change(function() {
        if($(this).val()){
            getSampleQueue($(this).val());
        }
        
        update_lanes();
        runName = $('option:selected', this).text();

        $(".miseq, .hiseq").hide();
        if(runName.indexOf("HiSeq") > -1){
            $('.hiseq').show();
            if(runName.indexOf("rapid") > -1){
                $('.rapid').hide();
            }
        }else if(runName.indexOf("MiSeq") > -1){
            $('.miseq').show();
        }
    });

    function update_lanes() {
        var runtype_id = $('#id_flowcell-runtype').val();
        var model_row  = $('#runtypes tr[data-runtypeid=' + runtype_id + ']');
        var nlanes     = model_row.find('td:eq(2)').html()
            nlanes     = nlanes == null? 0: parseInt(nlanes, 10);

        $('#id_number_of_lanes').val(nlanes);
        
        $('div[id^="row-lane"]').each(function(){
            var id_attr = $(this).attr('id');
            var matches = /(\d+)$/.exec(id_attr);
            var lane_num = parseInt(matches[1], 10);
            
            if(lane_num > nlanes){
                $(this).hide();
            }else{
                $(this).show();
            }
        });
    }

    function ddf_callback (row) {
        var row_num = parseInt(row.find('td:eq(0)').first().text(), 10); 
        row.find('input[name$="-num"]').val(row_num);
        var options = $('select[name="lane1-0-sequencing_sample"]').html();
        row.find('select[name^="lane"]').html(options);
    }

    $.each([1, 2, 3, 4, 5, 6, 7, 8], function(index, value) {
        $('#row-lane-' + value +' div').formset({
            prefix: 'lane' + value,
            formCssClass: 'dynamic-formset' + value,
            added: ddf_callback
        })
    });
    
    $( "#accordion" ).accordion({
        collapsible: true,
        autoHeight: false
    });
    $("#id_flowcell-runtype").change();
});
</script>
{% endblock js %}

{% block messages %}
    {{ block.super }}
    {% if form.errors or runform.errors or not isLaneformsetValid %}
        <div class='notification error png_bg'>
            <a href="#" class="close">
                <img src="{% static 'images/icons/cross_grey_small.png' %}" 
                    title="Close this notification" alt="close"></a>
            <div>Please fill out the form as indicated below.</div>
            {{ form.non_field_errors.as_ul }}
        </div>
    {% endif %}
{% endblock messages %}


{% block content %}
<div>
    <h2>New Flowcell</h2>
    <form id="new-flowcell" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
    {% load formutil %}
    <div id="accordion">
        <h3>Detail</h3>
        
        <div class="content-box-content">
            <table>
                {% trfield  runform.num %}
                {% trfield  form.name %}
                {% trfield  form.runtype %}
                {% trfield  form.cluster_station 'hiseq' %}
                {% trfield  form.sbs_box1_lot 'hiseq'%}
                {% trfield  form.sbs_box2_lot 'hiseq'%}
                {% trfield  form.index_lot 'hiseq rapid'%}
                {% trfield  form.cbot_lot 'hiseq'%}
                {% trfield  form.manifold_lot 'hiseq'%}
                {% trfield  form.turnaround_lot 'hiseq rapid'%}
                {% trfield  form.rehyb_lot 'hiseq'%}
                   
                {% trfield  form.pr2_buffer 'miseq'%}
                {% trfield  form.box1 'miseq'%}
                {% trfield  form.box2 'miseq'%}
                {% trfield  form.phix_lot 'miseq'%}
                {% trfield  form.ht1 'miseq'%}
                {% trfield  form.hp3 'miseq'%}
                {% trfield  form.h2o 'miseq'%}
                {% trfield  form.flowcell_lot 'miseq'%}
                {% trfield  form.sample_denaturation 'miseq'%}
                {% trfield  form.sample_sheet 'miseq'%}
                   
                {% trfield  form.date %}
                {% trfield  form.manifold %}
                {% trfield  form.folder_name 'miseq'%}
                {% trfield  runform.sequencing_date %}
                {% trfield  runform.index_length %}
                {% trfield  runform.index_type %}
                {% trfield  runform.index_note %}
            </table>
            <table id=runtypes>
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Lanes</th>
                </thead>
                <tbody>
                {% for r in runtypes %}
                    <tr data-runtypeid={{r.id}}>
                        <td>{{r.id}}</td>
                        <td>{{r.name}}</td>
                        <td>{{r.num_lanes}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
        <h3>Lanes</h3>
        <div id="lanetable"  class="content-box-content">
            <input type="hidden" name="number_of_lanes" id="id_number_of_lanes" value="{{ laneformsets|length}}">
            <table>
                <thead>
                    <tr>
                        {% thfield laneformsets.0.0.num %}
                        {% thfield laneformsets.0.0.phix_spike %}
                        {% thfield laneformsets.0.0.loading_concentration %}
                        {% thfield laneformsets.0.0.submitted_concentration %}
                        {% thfield laneformsets.0.0.primer %}
                        {% thfield laneformsets.0.0.percent_of_lane %}
                        <th>Sequencing Samples</th>
                     </tr>
                </thead>
            </table>
            {% for laneformset in laneformsets %}
                <div id="row-lane-{{ forloop.counter }}">
                    {{ laneformset.management_form }}
                    {% for laneform in laneformset %}
                    <div>
                        <table>
                            <tr class="{% cycle 'odd' 'even' %}" name="row-lane-{{ forloop.parentloop.counter }}">
                                <td>
                                   {{ forloop.parentloop.counter }}
                                    <input type="hidden" value="{{ forloop.parentloop.counter }}" 
                                        name="lane{{ forloop.parentloop.counter }}-{{ forloop.counter0  }}-num" 
                                        id="id_lane{{ forloop.parentloop.counter }}-{{ forloop.counter0 }}-num" />
                                </td>
                                {% tdfield laneform.phix_spike %}
                                {% tdfield laneform.loading_concentration %}
                                {% tdfield laneform.submitted_concentration %}
                                {% tdfield laneform.primer %}
                                {% tdfield laneform.percent_of_lane %}
                                {% tdfield laneform.sequencing_sample %}
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <input class="button" type="submit">    
    </form>
</div>
{% endblock content %}
