{% extends "sts/base.html" %}

{% block content %}
<h2>Flowcell {{ flowcell.name }}</h2>
<div class="content-box column-left" id="seqsample-detail">
<div class="content-box-header"> </div>
<div class="content-box-content">
<table>
<tr>
<th>cBot</th>
<td>{{ flowcell.cluster_station }}</td>
</tr>
<tr>
<th>Runtype</th>
<td>{{ flowcell.runtype.name }}</td>
</tr>
<tr>
<th>SBS Box 1 Lot #</th>
<td>{{ flowcell.sbs_box1_lot }}</td>
</tr>
<tr>
<th>SBS Box 2 Lot #</th>
<td>{{ flowcell.sbs_box2_lot }}</td>
</tr>
<tr>
<th>Index Lot #</th>
<td>{{ flowcell.index_lot }}</td>
</tr>
<tr>
<th>cBot Lot #</th>
<td>{{ flowcell.cbot_lot }}</td>
</tr>
<tr>
<th>Manifold Lot #</th>
<td>{{ flowcell.manifold_lot }}</td>
</tr>
<tr>
<th>Turnaround Lot #</th>
<td>{{ flowcell.turnaround_log }}</td>
</tr>
<tr>
<th>Rehyb Lot #</th>
<td>{{ flowcell.rehyb_lot }}</td>
</tr>
<tr>
<th>Generation Date</th>
<td>{{ flowcell.date }}</td>
</tr>
</table>
</div>
</div>
<div class="clear"></div>

<div class="content-box">
<div class="content-box-header"><h3>Lanes</h3></div>
<div class="content-box-content">
<table id='Lanes'>
    <thead>
        <tr>
        <th>Number</th>
        <th>PhiX spike</th>
        <th>Loading Conc</th>
        <th>Primer</th>
        <th>Sample</th>
        <th>% of Lane</th>
        </tr>
    </thead>
    <tbody>
    {% for lane in lanes %}
      {% for ld in lane.loadingdetail_set.all %}
      <tr class="{% cycle "even" "odd" %}">
      <td>{{ lane.num }}</td>
      <td>{{ lane.phix_spike }}</td>
      <td>{{ lane.loading_concentration }}</td>
      <td>{{ lane.primer }}</td>
      <td>{{ ld.sequencing_sample }}</td>
      <td>{{ ld.percent_of_lane }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
   </tbody>
</table>
</div>
</div>
<div class="clear"></div>

{% endblock content %}
