{% extends "sts/base.html" %}

{% block css %}
<style type="text/css">
    .status-fail{
        color: red;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
    var oTable;
	$(function() {
		oTable = $('table').dataTable({
                "aaSorting": [[ 7, "desc" ]],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "",
                "sScrollX": "100%"
            });
	});
</script>
{% load static from staticfiles %} 
<script type="text/javascript" src="{% static 'js/common_datatable.js' %}"></script>
{% endblock js %}

{% block messages %}
    {{ block.super }}
	{% if messages %}
		<div class='notification success png_bg'>
			<a href="#" class="close">
				<img src="{% static 'images/icons/cross_grey_small.png' %}" 
				     title="Close this notification" alt="close"></a>
			{% for message in messages %}
				<div>{{message}}</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class="content-box">
	<div class="content-box-header">
		<h3>Browse Runs</h3>
	</div>
	<div class="content-box-content">
		<table>
			<thead>
				<tr>
					<th>Number</th>
					<th>Type</th>
					<th>Flowcell</th>
				        <th>Lab</th>
                                        <th>Client</th>
					<th>Instrument</th>
					<th>Manifold</th>
					<th>Seq Date</th>
					<th>Status</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
{% endblock content %}
