{% extends "sts/base.html" %}
{% block css %}
<style type="text/css">
    table th  {
        font-weight: bold;
    }
    table .status{
        color: green;
        font-weight: bold;
    }
    #field_note .first{
        vertical-align: top;
    }

    table.dataTable td.details {
        border: 0;
        padding: 0;
        background-color: #ccc;
    }
	.spreadsheet{
		padding: 2px;
		margin: 5px 0 5px 0;
	}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    $('#Runs').parent().siblings().children()[0].click();
    $('#note-list').parent().siblings().children()[0].click();

    var anOpen = [];
    var read_data = {
         {% for lane in lanes %}
             "{{ lane.num }}": [
              {% for result in lane.results.all.0.readresults.all %}
                  ["{{ result.read_num }}", "{{ result.percent_q30 }}",
                    "{{ result.error_rate }}", "{{ result.percent_aligned }}" ],
              {% endfor %}
             ],
        {% endfor %}
    }
    {% load static from staticfiles %}
    var sImageUrl = "{% static 'img/' %}";

    var oTable = $('table#Lanes').dataTable({
        "aaData": [
            {% for lane in lanes %}
                {% with lane.results.all.0 as lresult %}
                  {"Lane": "{{ lane.num }}",
                    "Cycles": "{{ lresult.readresults.all.0.num_cycles }}",
                    "Samples": "{{ lane.sequencingsamples_pretty }}",
                    "Reads": "{{ lresult.readresults.all.0.num_reads }}",
                    "Filter": "{{ lresult.readresults.all.0.percent_pass_filter }}",
                    "Phasing": "{{ lresult.readresults.all.0.percent_phasing }}",
                    "Prephasing": "{{ lresult.readresults.all.0.percent_prephasing }}",
                    "Cluster": "{{ lresult.cluster_density }}"
                  },
              {% endwith %}
            {% endfor %}
        ],
        "oLanguage": {
            "sSearch": "Search all columns:"
        },
		"sScrollX": "100%",
        "aaSorting": [[ 1, "asc" ]],
        "aoColumns": [
            {
               "mDataProp": null,
               "sClass": "control center",
               "sDefaultContent": '<img src="'+sImageUrl+'details_open.png'+'">'
            },
            { "mDataProp": 'Lane'},
            { "mDataProp": 'Cycles'},
            { "mDataProp": 'Samples'},
            { "mDataProp": 'Reads'},
            { "mDataProp": 'Filter'},
            { "mDataProp": 'Phasing'},
            { "mDataProp": 'Prephasing'},
            { "mDataProp": 'Cluster'}
        ]

    });

    $('#Lanes td.control').live( 'click', function () {
        var nTr = this.parentNode;
        var i = $.inArray( nTr, anOpen );

        if ( i === -1 ) {
            $('img', this).attr( 'src', sImageUrl+"details_close.png" );
            oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
            anOpen.push( nTr );
        }
        else {
            $('img', this).attr( 'src', sImageUrl+"details_open.png" );
            oTable.fnClose( nTr );
            anOpen.splice( i, 1 );
        }
    });

    function fnFormatDetails( oTable, nTr )
    {
        var oData = oTable.fnGetData( nTr );
        var sOut =
            '<div class="innerDetails">'+
              '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr><th scope="col">Read</th><th scope="col">% Q30</th>'+
                '<th scope="col">Error Rate</th><th scope="col">% Aligned</th></tr>';
        var lane = read_data[oData.Lane];
        for(var i=0; i<lane.length; i++){
            data = lane[i];
            sOut +='<tr>'
            for(var j=0; j < data.length; j++){
                 sOut +='<td>'+ data[j] +'</td>'
            }
            sOut +='</tr>'
        }
        sOut +='</table></div>';
        return sOut;
    }

    $('#id_f-status').change(function(){ 
        if (this.value == "Success"){
            $(".laneStatus").show();
        } else {
            $(".laneStatus").hide();
        }
    });
    $('#id_f-status').change();
});
</script>
{% endblock %}

{% block content %}
<h2>Run {{ run.num }}</h2>
<div class="spreadsheet">
	<a class="button" href="{% url 'seq.views.flowcell_edit' run.num %}" >Edit Run</a>
	<a href="{% url 'seq.views.sequencing_calculation' %}?run_id={{run.num}}" class="button">Generate Sequencing Calculation Spreadsheet</a>
</div>
<div class="content-box">
    <div class="content-box-header">
        <h3>Lanes</h3>
    </div>
    <div class="content-box-content">
        <table>
            <thead>
                <tr>
                    <th>Lane #</th>
                    <th>Contact</th>
                    <th>Sequencing Sample</th>
                    <th>Multiplex Type</th>
                    <th>DNA Concentration</th>
                    <th>Loading Concentration</th>
                    <th>Primer</th>
                    <th>Lab</th>
                    <th>IVC Plot</th>
                </tr>
            </thead> 
            <tbody>
                {% for lane in lanes %}
                    {% for seq in lane.sequencing_sample.all %}
                        {% with  seq.sampleprepdetails.all.0.sample.submission.client as client %}
                            <tr>
                                <td>{{ lane.num }}</td>
                                <td>
                                    {% if client %}
                                    <a href="{% url 'seq.views.sequencingContactActivity' client.id %}"> {{ client}}</a>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'libprep-seqsample-detail' seq.key %}"> {{ seq }}</td>
                                <td>{{ seq.multiplex_type }} </td>
                                <td>{{ seq.submitted_concentration }}</td>
                                <td>{{ lane.loading_concentration }}</td>
                                <td>{{ seq.primer }}</td>
                                <td>
                                    {% if client %}
                                        <a href="{% url 'seq.views.sequencingLabActivity' client.lab.id %}">{{ client.lab }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if lane.results.all.0.ivc_plot %}
                                        <a href="{{ lane.results.all.0.ivc_plot.url }}"><img src="{{ lane.results.all.0.ivc_plot.url }}" style="height: 90px"></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                {% endfor %}
           </tbody>
        </table>
    </div>
</div>
<div class="clear"></div>
<div class="content-box column-left">
    <div class="content-box-header">
        <h3>Load Concentration</h3>
    </div>
    <div class="content-box-content">
        <table id='Runs'>
            <thead>
                <tr>
                    <th>Lane #</th>
                    <th>Sample</th>
                    <th>Loading Concentration</th>
                </tr>
            </thead> 
            <tbody>
                {% for lane in lanes %}
                    {% for seq in lane.sequencing_sample.all %}
                        {% for sample in seq.sampleprepdetails.all %}
                            <tr>
                                <td> {{ lane.num }} </td>
                                <td> 
                                     <a href="{% url 'sample.views.sample_details' sample.sample.id %}">{{ sample }}</a>,
								</td>
                                <td> {{ sample.sample.specimen.loading_concentration }} </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="content-box column-right">
    <div class="content-box-header">
        <h3>Notes</h3>
    </div>
    <div class="content-box-content">
		<ul id="note-list">
		{% for sub in submissions %}
			{% for n in sub.notes.all %}
                <li><span class="created">{{ n.created|date:"d-m-Y (H:i)" }}</span> 
					<span class="author">{{ n.author.name }}</span> <p>{{ n.note }}</p>
				</li>
			{% endfor %}
		{% endfor %}
		</ul>
	</div>
</div>
<div class="clear"></div>
<div class="content-box column-left">
    <div class="content-box-header"> 
        <h3> Run Specification </h3>
    </div>
    <div class="content-box-content">
        <table>
            <tr>
                <th>Status</th>
                <td>{{ run.status }}</td>
            </tr>
            <tr>
                <th>Instrument</th>
                <td>{{ run.manifold.sequencer }}</td>
            </tr>
            <tr>
                <th>Manifold</th>
                <td>{{ run.manifold.name }}</td>
            </tr>
            <tr>
                <th>Sequenced</th>
                <td>{{ run.sequencing_date }}</td>
            </tr>
            <tr>
                <th>Flowcell</th>
                <td><a href="{% url 'flowcell-detail' key=run.flowcell.name %}">{{ run.flowcell.name }}</a></td>
            </tr>
            <tr>
                <th>Total Cycles</th>
                <td>{{ run.results.total_cycles }}</td>
            </tr>
            <tr>
                <th>Read Cycles</th>
                <td>{{ run.results.read_cycles }}</td>
            </tr>
            <tr>
                <th>Index Cycles</th>
                <td>{{ run.results.index_cycles }}</td>
            </tr>
            <tr>
                <th>Flowcell Date</th>
                <td>{{ run.flowcell.date }}</td>
            </tr>
            <tr>
                <th>Run ID</th>
                <td>{{ run.results.ill_run_id }}</td>
            </tr>
                <th>Folder Location</th>
                <td>{{ run.results.folder_location }}</td>
            </tr>
            <tr>
                <th>Control Lane</th>
                <td>{{ run.results.control_lane }}</td>
            </tr>
            <tr>
                <th>RTA Version</th>
                <td>{{ run.results.rta_version }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="content-box column-right">
    <div class="content-box-header">
        <h3>Form</h3>
    </div>
    <div class="content-box-content">
        <form method="post" > {% csrf_token %}
            <table>
                {% if status %}
                    <tr><td colspan="3" class='status'>{{ status }}</td></tr>
                {% endif %}
                {% load formutil %}
                {% trfield form.num %}
                {% trfield form.status %}
                {% trfield form.note %}
                <tr style="display:none;" class="laneStatus">
                    <th class="first"> Lane Status: </th>
                    <td colspan="2">
                        {{ formset.management_form }}
                            <table id="laneStatus">
                                <tr>
                                    <th class="first" style="text-decoration: underline;"> Lane </th>
                                    <th class="first" style="text-decoration: underline;"> Status </th>
                                </tr>
                                {% for f in formset %}
                                    {% for lane in lanes %}
                                    <tr>
                                        {% if lane.id|slugify == f.id.value|slugify %}
                                            <td> {{ lane.num }} {{ f.id }}</td>
                                            {% tdfield f.status%}
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            </table>
                    </td>
                </tr>
            </table>
            <input class="button" type="submit" value="Submit" />
        </form>
    </div>
</div>

<div class="clear"></div>

<div class="content-box">
    <div class="content-box-header">
        <h3>Lanes</h3>
    </div>
    <div class="content-box-content">
        <table id='Lanes'>
            <thead>
                <tr>
                    <th></th>
                    <th>Lane</th>
                    <th>Cycles</th>
                    <th>Samples</th>
                    <th># Reads</th>
                    <th>% Pass Filter</th>
                    <th>% Phasing</th>
                    <th>% Prephasing</th>
                    <th>Cluster Density</th>
                </tr>
            </thead>
            <tbody>
           </tbody>
        </table>
    </div>
</div>
<div class="clear"></div>

{% endblock content %}
