{% extends "sts/base.html" %}


{% block js %}
<script type="text/javascript">
$(function() {
  $('#id_run-flowcell').change(function() {
      $.getJSON('/seq/flowcell_json', {name : $('#id_run-flowcell option:selected').text() }, function(data) { 
          $('#id_run-index_length').val(data[0].fields.index_cycles);
      });
  }); 
});
</script>
{% endblock js %}

{% block content %}
<div>
<h2>New Run</h2>
<form id="new-run" method="post" action="">{% csrf_token %}
{% load formutil %}
<div class="content-box column-left">
  <div class="content-box-header">
    <h3>Detail</h3>
  </div>
  <div class="content-box-content">
  <table>
    {% formfield form.num %}
    {% formfield form.flowcell %}
    {% formfield form.manifold %}
    {% formfield form.sequencing_date %}
    {% formfield form.index_length %}
  </table>
  <input class="button" type="submit">
  </div>
</div>
<div class="clear"></div>
</form>
</div>
{% endblock content %}
