{% extends "sts/base.html" %}
{% load static from staticfiles %}
{% block css %}
<style type="text/css">
    .status-fail{
        color: red;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
    var oTable;
    var isLab = {% if lab %} true {% else %} false {%  endif %}
    $(function() {
        oTable = $('table').dataTable({
                "aaSorting": [[ 0, "desc" ]],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "",
                "aoColumns": [ null, null, { "bVisible": !isLab}, null, { 'bVisible': isLab }, 
                            { 'bSortable': false }, { 'bSortable': false }, { 'bSortable': false }, 
                            { 'bSortable': false }, { 'bSortable': false }, { 'bSortable': false } ],
                "sScrollX": "100%"
            });
    });
</script>
<script type="text/javascript" src="{% static 'js/common_datatable.js' %}"></script>
{% endblock js %}

{% block content %}
<div class="content-box">
    <div class="content-box-header">
        
        <h3>{% if lab %} Lab: {{ lab}} {% else %} Contact: {{ client }}{%endif%}</h3>
    </div>
    <div class="content-box-content">
        <table>
            <thead>
                <tr>
                    <th>Run</th>
                    <th>Lane</th>
                    <th>Lab</th>
                    <th>Sequencing Date</th>
                    <th>Contact</th>
                    <th>Sample ID</th>
                    <th>Primer</th>
                    <th>DNA Concentration</th>
                    <th>Submitted Concentration</th>
                    <th>Instrument</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock content %}
