{% extends "frontend/base.html" %}

{% block js %}
<script type="text/javascript">
$(function() {
  var aSelected = [];

  $('#seqsample-table').dataTable({
    "bServerSide": true,
    "sAjaxSource": ""
  });
});
</script>
{% endblock js %}

{% block content %}
<div id="sequencing-samples">

<table id="seqsample-table">
<thead>
<tr>
<th>ID</th>
<th>Sample Name</th>
<th>Client</th>
<th>Prep Type</th>
<th>Submitted</th>
</tr>
</thead>
<tbody>
</tbody>
<tfoot></tfoot>
</table>

</div>
{% endblock content %}
