{% extends "sts/base.html" %}
{% load static from staticfiles %}
{% block css %}
<style type="text/css">
    .status-filter{
        margin-bottom: 10px;
        font-weight: bold;
        float: left
    }
    
    .spreddsheet{
        float:right;
    }

    .status-failed{
        color: red;
    }
    
    .row_selected  td{
       background-color: {{ datatable_select_color }};
    }

    .search_init{
       width: 85px;
    }
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var oTable;

    function cancelSample(sid){
        var a = confirm("Are you sure you want cancel sample?");
        if(a == true){
            $.ajax({
                type: "GET",
                url: '/libprep/cancelLibCoreSeqSample/'+ sid,
            }).done( function(){ oTable.fnDraw(); } )
        }
    }

    $(document).ready(function() {
        var asInitVals = new Array();
        
        $('.hasDatepicker').datepicker("option", "dateFormat", 'MM d, yy')
                .change(function(){ oTable.fnDraw();})

        oTable = $('table#queue').dataTable({
            iDisplayLength: 10,
            "oLanguage": {
                "sInfoFiltered": ""
            },
            "aoColumnDefs":[{
                    "aTargets": [ 12 ],
                    "bSortable": false,
                    "fnRender": function (oData, data) {
                       return "<input type='submit' name='sample_id' class='button' value='Cancel' onClick='cancelSample("+data+")' > ";
                    }
                },
            ],
            "aoColumns": [{'bVisible': false}, {'bSortable': false}, null, null, null, null, null, null, 
                          {'bSortable': false,}, {'bSortable': false}, null, {"bVisible": false}, null
                         ],
            "sScrollX": "100%",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'seq.views.seq_sample_queue_json' %}",
            "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                if(aData[8] == 0){
                    $(nRow).addClass('status-failed');
                }
            },
            "fnServerParams": function ( aoData ) {
                        dateTypeVar = $('.hasDatepicker').datepicker("getDate");
                        aoData.push({"name":"sSearch_5", 'value': $('#run-type').val()});
                        aoData.push({"name":"sSearch_4", 'value': $.datepicker.formatDate('yy-mm-dd', dateTypeVar)});
                        aoData.push({"name":"status", 'value': $("input:radio[name=status]:checked").val()});
                        aoData.push({"name":"miseq", 'value': '{{miseq}}'});
            }
        });
    
        {% if miseq %}
            $('#queue tr').live('click', function() {
                oTable.$("tr.row_selected").toggleClass('row_selected');
                $(this).toggleClass('row_selected');
            });
        {% endif%}
        
        $('thead input').keyup(function() {
            if(iTimeout != undefined) { clearTimeout(iTimeout);}
            that = this
            iTimeout = setTimeout(function(){
            		oTable.fnFilter( $(that).val(), $("thead input").index(that) );
                }, 800);
        });

        $("thead input").each( function (i) {
            asInitVals[i] = this.value;
        });
         
        $("thead input").focus( function () {
            if ( this.className == "search_init" )
            {
                $(this).removeClass("search_init");
                this.value = "";
            }
        });
         
        $("thead input").blur( function (i) {
            if ( this.value == "" )
            {
                $(this).addClass("search_init");
                this.value = asInitVals[$("thead input").index(this)];
            }
        });

        $("input[name=status]").change(function(){
            oTable.fnDraw();
        });
        
        $("button[name='spreddsheet']").click(function(){ 
            var ids = oTable.$("tr.row_selected")
                            .map(function() {
                                return oTable.fnGetData( this, 0)
                            }).toArray();
            if(ids.length == 0){
                alert("Please select sequencing sample.");
                return;
            }
            $('<form action="{%  url 'seq.views.miseq_spedsheet' %}"></form>')
                .append(jQuery('<input>', {'name': 'seqid', 'value': ids[0] }))
                .appendTo(document.body).submit().remove();
        })
    });
</script>
<script type="text/javascript" src="{% static 'js/common_datatable.js' %}"></script>
{% endblock js %}

{% block content %}
{% load formutil %}
<div>
    <div class="content-box " >
        <div class="content-box-header">
            <h3>Sequencing Sample Queue</h3>
        </div>
        <div class="content-box-content" >
            <div class="status-filter">
                <input type="radio" name="status" value="needed" checked="checked"> Needed
                <input type="radio" name="status" value="completed"> Completed
                <input type="radio" name="status" value="all"> All
            </div>
            {% if miseq %}
              <div class="spreddsheet">
                <button type="button" name="spreddsheet" class="button" value="{{step.ps.id}}">Get Spreddsheet</button>
              </div>
            {% endif %}
            <div class="clear"></div>
            <table id="queue">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>GTAC ID</th>
                        <th>Sample</th>
                        <th>Lab</th>
                        <th>Client</th>
                        <th>Prep Type</th>
                        <th>Submitted</th>
                        <th>Run Type</th>
                        <th>Req. Lanes</th>
                        <th>Lanes Needed</th>
                        <th>Multiplex Type</th>
                        <th>Run status</th>
                        <th>Cancel</th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><input type="text" value="Search Sample" class="search_init"/></th>
                        <th><input type="text" value="Search Lab" class="search_init"/></th>
                        <th><input type="text" value="Search Client" class="search_init"/></th>
                        <th><input type="text" value="Search Prep Type" class="search_init"/></th>
                        <th class="datepicker">
                            <input type="text" value=""  class="search_init"/>
                        </th>
                        <th>
                            <input type="text" value="Search run type" style="display: none;"/>
                            <select id="run-type" name="run-type" class="search_init">
                                <option value=""></option>
                                {% for runtype in runtypes %}
                                  <option value="{{ runtype.id }}">{{ runtype }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><input type="text" value="Search Multiplex Type" class="search_init"/></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock content %}
